<!DOCTYPE html>
<html layout:decorator="layout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <title th:text="#{dashboard.title}"></title>
    <link rel="stylesheet" th:href="@{/bower_components/datatables.net-dt/css/jquery.dataTables.min.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/c3/c3.min.css}" />
  </head>
  <body>
    <!-- iterate hashmap http://stackoverflow.com/questions/27044335/create-a-map-in-thymeleaf-html -->
    <!-- thymelaf and angular http://blog.swiggs.co/?p=112 -->
    <div id="app" layout:fragment="content">
      <loader :isactive="summary.waiting"></loader>
      <loader :isactive="summaryView.waiting"></loader>
      <div class="ui tabular menu">
        <!-- <a class="item" 
            th:each="tab: ${tabs}" 
            th:text="${tab.value.label}" 
            th:class="${tab.value.id} == 'caseTab'? 'item active' : 'item default'"
            th:attr="data-tab=${tab.value.id}, data-key=${tab.key}"></a>  -->
        
			  <a class="item" v-bind:class="{'active': $index===0}" data-tab="{{tab.id}}" v-for="tab in tabs" v-on:click="selectTab($index)">
			   {{tab.label}}
			  </a>
			</div>
			<div style="margin-top:30px;">
				<div class="ui tab" v-bind:class="{'active': $index===0}" data-tab="{{tab.id}}" v-for="(idx, tab) in tabs">
				  <div class="ui secondary pointing menu">
            <a class="item" 
               v-bind:class="{'active': $index===0 }" 
               data-tab="{{tab.id}}-{{tab2.id}}" 
               v-for="tab2 in tab.tabs" 
               v-on:click="selectSubTab(idx, $index)">
              {{tab2.label}}
            </a>
          </div>
				  <div class="ui grid">
				    <div class="six wide column">
				      <table class="ui center aligned unstackable celled fixed table">
                <tbody>
                 <tr v-for="(idx, statistic) in tab.statistics" v-if="idx %3 === 0">
                   <td v-for="i in 3">
                    <statistic 
                        :value="tab.statistics[idx+i].value" 
                        :format="tab.statistics[idx+i].format" 
                        :label="tab.statistics[idx+i].label"  
                        v-if="tab.statistics[idx+i]"></statistic>
                   </td>
                 </tr>
                </tbody>
	            </table>
	            
	            <div class="ui tab" 
			             v-bind:class="{'active': $index===0 }" 
		               data-tab="{{tab.id}}-{{tab2.id}}" 
		               v-for="tab2 in tab.tabs">
		            <loader :isactive="tab2.isProcessing"></loader>
	              <div class="ui segment">
	                <h3 class="ui center aligned header">{{tab2.label}}</h3> <!-- Statistics of Delete  -->
	                <table class="ui teal center aligned selectable unstackable celled fixed table">
	                  <thead>
	                    <tr>
	                      <th th:text="#{common.type}">Type</th>
	                      <th th:text="#{common.count}"></th>
	                    </tr>
	                  </thead>
	                  <tbody>
	                    <tr v-for="(key3, statistic) in tab2.statistics">
	                      <td>{{statistic.label}}</td>
	                      <td v-if="statistic.format == 'formatNumber'">{{statistic.value | formatNumber}}</td>
	                      <td v-if="statistic.format == 'formatDuration'">{{statistic.value | formatDuration}}</td>
	                    </tr>
	                  </tbody>
	                </table>
                </div>
              </div>                               
				    </div>
				    <div class="ten wide column">
				      <div class="ui tab" 
				           v-bind:class="{'active': $index===0 }" 
		               data-tab="{{tab.id}}-{{tab2.id}}" 
		               v-for="tab2 in tab.tabs">
				        <loader :isactive="tab2.isProcessing"></loader>
				        <div class="ui top attached secondary segment">
				          {{tab2.label}} <!-- Chart of Delete -->
				        </div>
				        <div class="ui attached padded segment" style="min-height:400px">
				          <div v-bind:id="tab.id+'-'+tab2.id">
				            <div v-if="tab2.dataNotEnough" class="ui negative message">
										  <div class="header" th:text="#{common.attention}"></div>
										  <p th:text="#{common.datanotenough}"></p>
										</div>
				          </div>
				        </div>
              </div>
            </div>
				  
				    <div class="sixteen wide column">
				      <table v-bind:id="'table-'+tab.id" class="datatables">
				        <thead></thead>
				        <tbody></tbody>
				      </table>
				    </div>
				  </div>
				</div>
      </div>
    </div>

    <th:block layout:fragment="script">
      <script th:src="@{/bower_components/d3/d3.min.js}"></script>
      <script th:src="@{/bower_components/c3/c3.min.js}"></script>
      <script th:src="@{/bower_components/dygraphs/dygraph-combined.js}"></script>
      
      <script th:src="@{/bower_components/datatables.net/js/jquery.dataTables.min.js}"></script>
      
<!--       <script th:src="@{/bab/modules/dashboard/dashboard.data.js}"></script> -->
      <script th:inline="javascript" id="json-data">
        // tutorial : http://forum.thymeleaf.org/Using-Thymeleaf-in-order-to-generate-inline-json-in-the-html-view-td4025733.html
        jsonData = /*[[${jsonData}]]*/ {} ;
        theTabs = /*[[${tabs}]]*/ {} ;
        apiURI = /*[[${apiURI}]]*/ {} ;
      </script>
      <script th:inline="javascript" id="dashboard-data">
      var ColumnData = function(column, label){
    	  return {
    	    data: column,
    	    title: label
    	  }
    	};

    	var StatisticData = function(label, format){
    	  return {
    	    label: label,
    	    value: 0, 
    	    format: format
    	  }
    	};

    	var TabData = function(id, label, type, format, statisticsValue, xAxis, yAxis){
    	  return {
    	    id: id,
    	    label: label,
    	    isProcessing: false,
    	    type: type,
    	    axis: {
    	      x: xAxis,
    	      y: yAxis
    	    },
    	    format: format,
    	    rendered: false,
    	    data: undefined,
    	    dataLength: 0,
    	    dataNotEnough: false,
    	    status: 'WAITING',
    	    statisticsValue: statisticsValue,
    	    statistics:[
    	      new StatisticData([[#{common.min}]], format),
    	      new StatisticData([[#{common.mean}]], format),
    	      new StatisticData([[#{common.max}]], format),
    	      new StatisticData([[#{common.standarddeviation}]], format)      
    	    ]
    	  }
    	};
      var tabsData = [
        {
           id: 'caseTab',
           label: [[#{dashboard.tabs.casetab}]],
           rendered: false,
           statistics: [
                  new StatisticData([[#{common.cases}]], 'formatNumber'),
                  new StatisticData([[#{common.events}]], 'formatNumber'),
                  new StatisticData([[#{common.eventclass}]], 'formatNumber'),
                  new StatisticData([[#{common.eventtype}]], 'formatNumber'),
                  new StatisticData([[#{common.originator}]], 'formatNumber'),
                  new StatisticData([[#{common.resource}]], 'formatNumber'),
                  new StatisticData([[#{common.start}]], 'formatDateTime'),
                  new StatisticData([[#{common.complete}]], 'formatDateTime')
             ],
               table:{
                data: [],
                columns:[
                     new ColumnData('caseId', [[#{common.caseid}]]),
                     new ColumnData('durationStr', [[#{common.duration}]]),
                     new ColumnData('noOfEvents', [['#'+#{common.events}]]),
                     new ColumnData('startedStr', [[#{common.start}]]),
                     new ColumnData('finishedStr', [[#{common.complete}]])
                ],
               },
               tabs: [ 
                   new TabData('eventPerCase', [[#{dashboard.tabs.eventpercase}]], 'barchart', 'formatNumber', 'key', [[#{common.events}]], [[#{dashboard.legend.numbercase}]]),
                   new TabData('caseUtilizations', [[#{dashboard.tabs.caseutilization}]], 'linechart', 'formatNumber', 'value', [[#{dashboard.legend.caseovertime}]], [[#{dashboard.legend.numbercase}]]),
                   new TabData('caseDurations', [[#{dashboard.tabs.caseduration}]], 'barchart', 'formatDuration', 'key', [[#{common.duration}]], [[#{dashboard.legend.workingcase}]]),
                   new TabData('meanActivityDuration', [[#{dashboard.tabs.meanact}]], 'barchart', 'formatDuration', 'key', [[#{common.duration}]], [[#{dashboard.legend.meanact}]]),
                   new TabData('meanWaitingTimes', [[#{dashboard.tabs.meanwait}]], 'linechart', 'formatNumber', 'key', [[#{common.duration}]], [[#{dashboard.legend.meanwait}]])
               ]
        },
        {
           id: 'timelineTab',
           label: [[#{dashboard.tabs.timelinetab}]],
           rendered: false,
           statistics: [
                    new StatisticData([[#{common.cases}]], 'formatNumber'),
                    new StatisticData([[#{common.events}]], 'formatNumber')
               ],
               table: {
                  data: [],
                  columns:[
                       new ColumnData('caseId', [[#{common.caseid}]]),
                       new ColumnData('durationStr', [[#{common.duration}]]),
                       new ColumnData('noOfEvents', [['#'+#{common.events}]]),
                       new ColumnData('startedStr', [[#{common.start}]]),
                       new ColumnData('finishedStr', [[#{common.complete}]])
                  ],
                },
                tabs: [
                   new TabData('caseStartOverTime', [[#{dashboard.tabs.casestartover}]], 'linechart', 'formatNumber', 'value', [[#{common.time}]], [['#'+#{common.cases}]]),
                   new TabData('caseCompleteOverTime', [[#{dashboard.tabs.casecompleteover}]], 'linechart', 'formatNumber', 'value', [[#{common.time}]], [['#'+#{common.cases}]]),
                   new TabData('eventsOverTime', [[#{dashboard.tabs.eventover}]], 'linechart', 'formatNumber', 'value', [[#{common.time}]], [['#'+#{common.events}]]) 
                ]
        },
        {
           id: 'activityTab',
           label: [[#{common.activity}]],
           rendered: false,
           statistics: [
                    new StatisticData([[#{common.eventclass}]], 'formatNumber'),
                    new StatisticData([[#{common.minfrequency}]], 'formatNumber'),
                    new StatisticData([[#{common.meanfrequency}]], 'formatNumber'),
                    new StatisticData([[#{common.maxfrequency}]], 'formatNumber'),
                    new StatisticData([[#{common.standarddeviation}]], 'formatNumber')
               ],
               table: {
                  data: [],
                  columns:[
                       new ColumnData('label', [[#{common.eventclass}]]),
                       new ColumnData('durationRangeStr', [[#{common.duration}]]),
                       new ColumnData('frequency', [[#{common.frequency}]]),
                       new ColumnData('minDurationStr', [[#{common.minduration}]]),
                       new ColumnData('sumDurationStr', [[#{common.sumduration}]])
                  ],
               },
               tabs: [
                   new TabData('frequency', [[#{common.frequency}]], 'barchart', 'formatNumber', 'value', [[#{common.eventclass}]], [[#{common.frequency}]]),
                   new TabData('meanDuration', [[#{common.meanduration}]], 'barchart', 'formatDuration', 'value', [[#{common.eventclass}]], [[#{common.duration}]]),
                   new TabData('medianDuration', [[#{common.medianduration}]], 'barchart', 'formatDuration', 'value', [[#{common.eventclass}]], [[#{common.duration}]]), 
                   new TabData('aggregateDuration', [[#{common.aggregateduration}]], 'barchart', 'formatDuration', 'value', [[#{common.eventclass}]], [[#{common.duration}]]) 
               ]
        },
        {
           id: 'worker',
           label: [[#{common.originator}]],
           rendered: false,
           statistics: [
                    new StatisticData([[#{common.originator}]], 'formatNumber'),
                    new StatisticData([[#{common.minfrequency}]], 'formatNumber'),
                    new StatisticData([[#{common.meanfrequency}]], 'formatNumber'),
                    new StatisticData([[#{common.maxfrequency}]], 'formatNumber'),
                    new StatisticData([[#{common.standarddeviation}]], 'formatNumber')
               ],
               table: {
                    data: [],
                    columns:[
                       new ColumnData('label', [[#{common.originator}]]),
                       new ColumnData('durationRangeStr', [[#{common.durationrange}]]),
                       new ColumnData('frequency', [[#{common.frequency}]]),
                       new ColumnData('minDurationStr', [[#{common.minduration}]]),
                       new ColumnData('sumDurationStr', [[#{common.sumduration}]])
                  ],
           },
           tabs: [
                   new TabData('frequency', [[#{common.frequency}]], 'barchart', 'formatNumber', 'value', [[#{common.originator}]], [[#{common.frquency}]]),
                   new TabData('meanDuration', [[#{common.meanduration}]], 'barchart', 'formatDuration', 'value', [[#{common.originator}]], [[#{common.duration}]]),
                   new TabData('medianDuration', [[#{common.medianduration}]], 'barchart', 'formatDuration', 'value', [[#{common.originator}]], [[#{common.duration}]]),
                   new TabData('aggregateDuration', [[#{common.aggregateduration}]], 'barchart', 'formatDuration', 'value', [[#{common.originator}]], [[#{common.duration}]])
               ]
         },
         {
           id: 'equipment',
           label: [[#{common.equipment}]],
           rendered: false,
           statistics: [
                  new StatisticData([[#{common.equipment}]], 'formatNumber'),
                  new StatisticData([[#{common.minfrequency}]], 'formatNumber'),
                  new StatisticData([[#{common.meanfrequency}]], 'formatNumber'),
                  new StatisticData([[#{common.maxfrequency}]], 'formatNumber'),
                  new StatisticData([[#{common.standarddeviation}]], 'formatNumber')
               ],
               table: {
                  data: [],
                  columns:[
                     new ColumnData('label', [[#{common.equipment}]]),
                     new ColumnData('durationRangeStr', [[#{common.durationrange}]]),
                     new ColumnData('frequency', [[#{common.frequency}]]),
                     new ColumnData('minDurationStr', [[#{common.minduration}]]),
                     new ColumnData('sumDurationStr', [[#{common.sumduration}]])
                  ],
               },
               tabs: [
                   new TabData('frequency', [[#{common.frequency}]], 'barchart', 'formatNumber', 'value', [[#{common.equipment}]], [[#{common.frequency}]]),
                   new TabData('meanDuration', [[#{common.meanduration}]], 'barchart', 'formatDuration', 'value', [[#{common.equipment}]], [[#{common.duration}]]),
                   new TabData('medianDuration', [[#{common.medianduration}]], 'barchart', 'formatDuration', 'value', [[#{common.equipment}]], [[#{common.duration}]]), 
                   new TabData('aggregateDuration', [[#{common.aggregateduration}]], 'barchart', 'formatDuration', 'value', [[#{common.equipment}]], [[#{common.duration}]]) 
               ]
         }
      ];
      </script>
      
      <script th:src="@{/bab/vue-components/statistic/StatisticComponent.js}"></script>
      <script th:src="@{/bab/vue-components/loader/LoaderComponent.js}"></script>
      <script th:src="@{/bab/modules/dashboard/dashboard.js}"></script>
    </th:block>
  </body>
</html>
