@import "../../../../base/assets/bab/scss/modules/all";

html{
	height: 100%;
	body{
		height: 100%;
		section#container{
			height: 100%;
			section#main-content{
				//overflow: hidden;
				//z-index: 1;
				height: 100%;
				section.wrapper{
					height: 100%;
					div#content.row{
						height: 100%;
						div.fixto-container{
								height: 100%;
							section.panel{
								height: 100%;
								div.panel-body{
									height: 100%;
									div#content-graph{
										height: 100%;
									}	
									div#content-graph2{
										height: 100%;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

fieldset{
	padding: 0 0 0 20px;
	legend{
		font-size: 16px;
		margin: 10px 0 7px;
	}
}

.no-data{
	font-size: 20px;
	color: red;
	text-align: center;
	margin-top: 20%;
}

.brand{
	background: $bg-color7;

	a.logo{
		margin-top: 15px;
	}
}


.form-signin{
	background: none !important;

	.user-login-info{
		border-radius: 5px;
	}

	button{
		background: $bg-color7 !important;
		color: $text-color7 !important;
		&:hover{
			background: $bg-color7-hover !important;
		}
	}

	a{
		color: $bg-color7;
	}

	.copyright{
		margin-top: 20px;
		color: $bg-color1;
		.pnu{
			background: url('../images/pnulogo-fix-small-white.png') no-repeat;
			background-size: 85%;
			margin: 10px 24%;
			width: 172px;
			height: 52px;
		}
	}
}

.login-body{
	min-width: 350px; 
	background: url('../images/background3.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover;
	padding-top: 75px !important;
}

.brand-login{
	margin: 30px auto;
}

.logo-bab-big{
	background: url("../images/logo-big-white.png") no-repeat;
	width: 215px;
	height: 92px;
}

.logo-logminer{
	background: url("../images/logo-logminer.png") no-repeat;
	width: 53px;
	height: 52px;
	float: left;
}
.logo-text{
	background: url("../images/logo-text.png") no-repeat;
	width: 100px;
	height: 52px;
	float: left;
}

#sidebar{
	background: $bg-color1;

	.copyright{
		margin-top: -50px;
		font-size: 14px;
	}
}

ul.sidebar-menu{

	li:first-child{
		a{
			padding-top: 28px;
		}
	}
	li{
		a{
			color: $text-color1;
			// padding: 18px 5px 18px 25px;
			padding: 8px 5px 18px 25px;

			&:hover{
				background:$bg-color9;
    			color:$text-color9;
			}
			
			i, div{
				float: left;
				margin-right: 10px;
			}
			
			.title-en, .title-kr{
				width: 75%;
			}

			.title-en{
				font-size: 15px;
				font-weight: bold;
			}
		}

		> ul.dropdown-menu-right{
			right: -160px;
    		top: 0;
    		z-index: 999;
		}

		> ul {
			margin-left: 70px;
		}
	}
}

.sidebar-toggle-box{
	background: $bg-color5;

	&:hover{
		background: $bg-color5-hover;
		
		.fa-bars{
			color: $white;
		}
	}
}

.badge{
	&.bg-success{
		background: $bg-color7;
		color: $white;
	}
}

.header{
	background: $bg-color8;
	color: $white;
}

.main-menu-link{
	ul.top-menu {
		li{
			a{
				background: $bg-color2 !important;

				&:hover, &:focus{
					background: $bg-color2-hover !important;
					color: $white !important;
				}
			}
		}

		ul.dropdown-menu{
			background: $bg-color2 !important;
			li{
				a{
					background: $bg-color2 !important;

					&:hover, &:focus{
						background: $bg-color2-hover !important;
						color: $white !important;
						
						i{
							color: $white !important;
						}
					}		
				}
			}
		}
	}
}

.top-nav, .notify-row{
	@extend .main-menu-link;
}

.search{
	background: url("../../images/search-icon.png") no-repeat scroll 10px 8px $bg-color2 ;

}

.dropdown-menu.extended{
	li > a{
		//background: $white !important;
	}
}

.weather-full-info{
	color: inherit;
	.today-status{
		padding-left: 50px;
		padding-top: 15px;

		i{
			color: $bg-color7-hover;
		}
	}
}

#sidebar {
    overflow: scroll !important;  /* or 'visible' whatever */
}