/* common color */
/* color theme */
html {
  height: 100%; }
  html body {
    height: 100%; }
    html body section#container {
      height: 100%; }
      html body section#container section#main-content {
        height: 100%; }
        html body section#container section#main-content section.wrapper {
          height: 100%; }
          html body section#container section#main-content section.wrapper div#content.row {
            height: 100%; }
            html body section#container section#main-content section.wrapper div#content.row div.fixto-container {
              height: 100%; }
              html body section#container section#main-content section.wrapper div#content.row div.fixto-container section.panel {
                height: 100%; }
                html body section#container section#main-content section.wrapper div#content.row div.fixto-container section.panel div.panel-body {
                  height: 100%; }
                  html body section#container section#main-content section.wrapper div#content.row div.fixto-container section.panel div.panel-body div#content-graph {
                    height: 100%; }
                  html body section#container section#main-content section.wrapper div#content.row div.fixto-container section.panel div.panel-body div#content-graph2 {
                    height: 100%; }

fieldset {
  padding: 0 0 0 20px; }
  fieldset legend {
    font-size: 16px;
    margin: 10px 0 7px; }

.no-data {
  font-size: 20px;
  color: red;
  text-align: center;
  margin-top: 20%; }

.brand {
  background: #5EBC77; }
  .brand a.logo {
    margin-top: 15px; }

.form-signin {
  background: none !important; }
  .form-signin .user-login-info {
    border-radius: 5px; }
  .form-signin button {
    background: #5EBC77 !important;
    color: #204d2c !important; }
    .form-signin button:hover {
      background: #428454 !important; }
  .form-signin a {
    color: #5EBC77; }
  .form-signin .copyright {
    margin-top: 20px;
    color: #ffffff; }
    .form-signin .copyright .pnu {
      background: url("../images/pnulogo-fix-small-white.png") no-repeat;
      background-size: 85%;
      margin: 10px 24%;
      width: 172px;
      height: 52px; }

.login-body {
  min-width: 350px;
  background: url("../images/background3.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 75px !important; }

.brand-login {
  margin: 30px auto; }

.logo-bab-big {
  background: url("../images/logo-big-white.png") no-repeat;
  width: 215px;
  height: 92px; }

.logo-logminer {
  background: url("../images/logo-logminer.png") no-repeat;
  width: 53px;
  height: 52px;
  float: left; }

.logo-text {
  background: url("../images/logo-text.png") no-repeat;
  width: 100px;
  height: 52px;
  float: left; }

#sidebar {
  background: #ffffff; }
  #sidebar .copyright {
    margin-top: -50px;
    font-size: 14px; }

ul.sidebar-menu li:first-child a {
  padding-top: 28px; }
ul.sidebar-menu li a {
  color: #333333;
  padding: 8px 5px 18px 25px; }
  ul.sidebar-menu li a:hover {
    background: #f1f2f7;
    color: #333333; }
  ul.sidebar-menu li a i, ul.sidebar-menu li a div {
    float: left;
    margin-right: 10px; }
  ul.sidebar-menu li a .title-en, ul.sidebar-menu li a .title-kr {
    width: 75%; }
  ul.sidebar-menu li a .title-en {
    font-size: 15px;
    font-weight: bold; }
ul.sidebar-menu li > ul.dropdown-menu-right {
  right: -160px;
  top: 0;
  z-index: 999; }
ul.sidebar-menu li > ul {
  margin-left: 70px; }

.sidebar-toggle-box {
  background: #EF6245; }
  .sidebar-toggle-box:hover {
    background: #ad4732; }
    .sidebar-toggle-box:hover .fa-bars {
      color: #ffffff; }

.badge.bg-success {
  background: #5EBC77;
  color: #ffffff; }

.header {
  background: #2E313D;
  color: #ffffff; }

.main-menu-link ul.top-menu li a, .top-nav ul.top-menu li a, .notify-row ul.top-menu li a {
  background: #F2E5C5 !important; }
  .main-menu-link ul.top-menu li a:hover, .top-nav ul.top-menu li a:hover, .notify-row ul.top-menu li a:hover, .main-menu-link ul.top-menu li a:focus, .top-nav ul.top-menu li a:focus, .notify-row ul.top-menu li a:focus {
    background: #d1c7ab !important;
    color: #ffffff !important; }
.main-menu-link ul.top-menu ul.dropdown-menu, .top-nav ul.top-menu ul.dropdown-menu, .notify-row ul.top-menu ul.dropdown-menu {
  background: #F2E5C5 !important; }
  .main-menu-link ul.top-menu ul.dropdown-menu li a, .top-nav ul.top-menu ul.dropdown-menu li a, .notify-row ul.top-menu ul.dropdown-menu li a {
    background: #F2E5C5 !important; }
    .main-menu-link ul.top-menu ul.dropdown-menu li a:hover, .top-nav ul.top-menu ul.dropdown-menu li a:hover, .notify-row ul.top-menu ul.dropdown-menu li a:hover, .main-menu-link ul.top-menu ul.dropdown-menu li a:focus, .top-nav ul.top-menu ul.dropdown-menu li a:focus, .notify-row ul.top-menu ul.dropdown-menu li a:focus {
      background: #d1c7ab !important;
      color: #ffffff !important; }
      .main-menu-link ul.top-menu ul.dropdown-menu li a:hover i, .top-nav ul.top-menu ul.dropdown-menu li a:hover i, .notify-row ul.top-menu ul.dropdown-menu li a:hover i, .main-menu-link ul.top-menu ul.dropdown-menu li a:focus i, .top-nav ul.top-menu ul.dropdown-menu li a:focus i, .notify-row ul.top-menu ul.dropdown-menu li a:focus i {
        color: #ffffff !important; }

.search {
  background: url("../../images/search-icon.png") no-repeat scroll 10px 8px #F2E5C5; }

.weather-full-info {
  color: inherit; }
  .weather-full-info .today-status {
    padding-left: 50px;
    padding-top: 15px; }
    .weather-full-info .today-status i {
      color: #428454; }

/*# sourceMappingURL=style-adjusment.css.map */
