<!DOCTYPE html>
<html th:with="lang=${#locale.language}" th:lang="${lang}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<!-- Standard Meta -->
	<meta charset="UTF-8" />
 	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
  	<meta http-equiv="X-UA-Compatible" content="ie=edge" />	
	<title>Smart Factory - #{info.title}</title>
	<link rel="stylesheet" th:href="@{/bab/bower_components/semantic/dist/semantic.min.css}" />
	<link rel="stylesheet" th:href="@{/bab/bower_components/qtip2/jquery.qtip.min.css}" />
	<link rel="stylesheet" th:href="@{/bab/bower_components/jquery-ui/themes/hot-sneaks/jquery-ui.min.css}" />
	<link rel="stylesheet" th:href="@{/bab/bower_components/semantic-ui-calendar/dist/calendar.min.css}" />
	<link rel="stylesheet" th:href="@{/bab/vue-components/fileupload/FileUploadComponent.css}"/>
	<link rel="stylesheet" th:href="@{/bab/modules/docs.css}" />
	<link rel="stylesheet" th:href="@{/bab/modules/layout.css}" />
</head>
<body id="app" class="minimal pushable">
	<!-- Left Side menu -->
	<!-- local variable in thymeleaf http://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html#local-variables -->
	
	<!-- Top -->
	<header>
		<div id="top-bar" class="ui top fixed stackable menu">
			<a th:href="@{/bab/home/} + ${jsonData.workspaceId}" class="logo item">
	        	<img class="ui small centered image" th:src="@{/bab/images/logo-bab-white.png}" />
	      	</a>
			<div class="item">
				<div class="ui big yellow icon compact toggle button"
					data-transition="overlay">
					<i class="sidebar icon"></i>
				</div>
			</div>
			<!-- <div class="item" th:text="${session.user.workspace}">
			</div>
			<div class="item" th:text="${session.user.dataset}">
			</div>
	 		<div class="item" th:text="${session.user.name}">
	 		</div>  -->
			
			<!-- CHANGE: Smart Factory -->
			<!-- <form class="item" id="date-request-form" method="GET">
				<div class="ui calendar" id="sdt">
					<div class="ui input left icon">
						<i class="calendar icon"></i> <input id="sdtVal" type="text"
							placeholder="Start" th:value="${jsonData.sdt}" />
					</div>
				</div>
				<div class="ui">~</div>
				<div class="ui calendar" id="edt">
					<div class="ui input left icon">
						<i class="calendar icon"></i> <input id="edtVal" type="text"
							placeholder="End" th:value="${jsonData.edt}" />
					</div>
				</div>
				<button id="dateSubmit" class="ui primary button">request</button>
			</form> -->
			<!-- 
			<form class="item" id="date-request-form" method="GET">
				<div class="ui action input">
	          		<input placeholder="Repository ID" type="text" />
	          		<button id="repositorySubmit" class="ui green button"><i class="refresh icon" style="margin: 0;"></i></button>
	        	</div>
			</form>
			 -->
			<div class="right menu">
			<!-- 
				<div class="item">
					<form id="upload-form" method="POST" enctype="multipart/form-data">
						<div id="upload-form-field" class="fields">
							<fileupload th:title="#{home.choosefile}" th:placeholder="#{home.choosefiletext}"></fileupload>
							<button id="fileUploadBtn" v-on:click="clickFileUploadBtn()" class="ui green button"><i class="cloud upload icon"></i></button>
						</div>
					</form>
				</div>
				<a class="item showjob" data-content="null"
					data-position="bottom right"><i class="hourglass half icon"></i>Jobs</a>
				 -->
				<a class="item" th:href="@{/bab/logout}">Log Out</a>
				<!-- 			<a class="item">Help</a> -->
			</div>
		</div>
		<!-- End Top -->
	</header>
	
	<div class="ui bottom attached segment pushable">
		<div id="left-bar" class="ui visible inverted vertical left sidebar menu">
			<div class="item">
				<center>
					<i class="database icon huge"></i>
					<div class="caption">
						<p th:text="'dataset.' + ${jsonData.datasetId}"></p>
						<a th:href="@{/bab/dataset/} + ${jsonData.workspaceId} + @{/} + ${jsonData.datasetId}" th:text="'workspace.' + ${jsonData.workspaceId}" class="ui orange label"></a>
					</div>
				</center>
			</div>
			<a class="item" th:href="@{/bab/home/} + ${jsonData.workspaceId}"> <b
				th:text="#{layout.home}"></b> <i class="home icon"></i>
			</a>
			<a class="item" th:href="@{/bab/dashboard/} + ${jsonData.workspaceId + '/' + jsonData.datasetId + '/' + jsonData.sdt + '/' + jsonData.edt}"> <b
				th:text="#{layout.dashboard}"></b> <i class="block layout icon"></i>
			</a>
			<!-- add parameter in href http://www.thymeleaf.org/doc/articles/standardurlsyntax.html#adding-parameters -->
			<!-- 
			<a class="item" th:href="@{/bab/dashboard}" data-content="Dashboard">
				<b th:text="#{layout.dashboard}"></b>
			</a>
			-->
			<div class="item item-tooltip">
				<div class="header">
					<span th:text="#{layout.processvisualizer}"></span>	
				</div>
				<div class="menu">
					<a class="item"
						th:href="@{/bab/processvisualizer/analysis/}
						+ ${jsonData.workspaceId + '/' + jsonData.datasetId
						+ '/' + jsonData.sdt + '/' + jsonData.edt}">
						<span data-content="Heuristic Miner" data-variation="tiny"
						th:text="#{layout.heuristicminer}"></span> <i class="usb icon"></i></a> 
					<a class="item"
						th:href="@{/bab/processvisualizer/logreplay/}
						+ ${jsonData.workspaceId + '/' + jsonData.datasetId
						+ '/' + jsonData.sdt + '/' + jsonData.edt}">
						<span data-content="Log Replay" data-variation="tiny"
						th:text="#{layout.logreplay}"></span> <i class="play circle icon"></i></a>
				</div>
			</div>
			<div class="item item-tooltip">
				<div class="header" data-content="Pattern Visualizer"
					data-variation="tiny" th:text="#{layout.patternvisualizer}">
					<!-- Pattern Visualizer -->
				</div>
				<div class="menu">
					<a class="item"
						th:href="@{/bab/patternvisualizer/taskmatrix/}
						+ ${jsonData.workspaceId + '/' + jsonData.datasetId
						+ '/' + jsonData.sdt + '/' + jsonData.edt}">
						<span data-content="Task Matrix" data-variation="tiny"
						th:text="#{layout.taskmatrix}"></span> <i class="delicious icon"></i></a> 
					<a class="item"
						th:href="@{/bab/patternvisualizer/associationrule/}
						+ ${jsonData.workspaceId + '/' + jsonData.datasetId
						+ '/' + jsonData.sdt + '/' + jsonData.edt}">
						<span data-content="Association Rule" data-variation="tiny"
						th:text="#{layout.associationrule}"></span> <i class="exchange icon"></i></a>
					<a class="item"
						th:href="@{/bab/patternvisualizer/timegap/}
						+ ${jsonData.workspaceId + '/' + jsonData.datasetId
						+ '/' + jsonData.sdt + '/' + jsonData.edt}"> 
						<span data-content="Time Gap" data-variation="tiny"
						th:text="#{layout.timegap}"></span> <i class="hourglass half icon"></i></a> 
					<a class="item"
						th:href="@{/bab/patternvisualizer/socialnetwork/}
						+ ${jsonData.workspaceId + '/' + jsonData.datasetId
						+ '/' + jsonData.sdt + '/' + jsonData.edt}">
						<span data-content="Social Network" data-variation="tiny"
						th:text="#{layout.socialnetwork}"></span> <i class="globe icon"></i></a>
				</div>
			</div>
			<div class="item item-tooltip">
				<div class="header" data-content="Performance Visualizer"
					data-variation="tiny" th:text="#{layout.performancevisualizer}">
					<!-- Performance Visualizer -->
				</div>
				<div class="menu">
					<a class="item"
						th:href="@{/bab/performancevisualizer/delta/}
						+ ${jsonData.workspaceId + '/' + jsonData.datasetId
						+ '/' + jsonData.sdt + '/' + jsonData.edt}">
						<span data-content="Delta Analysis" data-variation="tiny"
						th:text="#{layout.deltaanalysis}"></span> <i class="columns icon"></i>
					</a> 
					<a class="item"
						th:href="@{/bab/performancevisualizer/dotted/}
						+ ${jsonData.workspaceId + '/' + jsonData.datasetId
						+ '/' + jsonData.sdt + '/' + jsonData.edt}">
						<span data-content="Dotted Chart" data-variation="tiny"
						th:text="#{layout.dottedchart}"></span> <i class="braille icon"></i>
					</a>
				</div>
			</div>
			<div class="item item-tooltip" th:if="${session.datasetId}">
				<div class="header" data-content="Statistical Analysis"
					data-variation="tiny" th:text="#{rservices.analysis}">공정 스케쥴</div>
				<div class="menu">
					<a class="item"
						th:href="@{/bab/rservices/correlation/}
		          		+ ${jsonData.workspaceId + '/' + jsonData.datasetId
		          		+ '/' + jsonData.sdt + '/' + jsonData.edt}"
						data-variation="tiny" th:text="#{rservices.rservices}">작업 관리</a>
				</div>
			</div>
		</div>
		<!-- End Left Side menu -->
		
		<!-- Contents -->
		<div id="main-content" class="pusher">
			<div class="full height">
				<div class="article">
					<div class="main ui container">
						<div layout:fragment="content">
							<!-- Will be replaced by view templates -->
						</div>
					</div>
				</div>
				<!-- End article -->
			</div>
			<!-- full height -->
		</div>
		<!-- End Contents -->
	</div>
	
	<!-- Right Side menu -->
	<div id="right-sidebar" class="ui right sidebar wide vertical menu">
		<!-- 		<div class="ui item"> -->
		<!-- 			<div class="ui button" v-on:click="test1()" value="test1"></div> -->
		<!-- 			<div class="ui button" v-on:click="test2()" value="test2"></div> -->
		<!-- 		</div> -->
		<!-- 		<div class="ui item job failed"> -->
		<!-- 			<div class="ui accordion"> -->
		<!-- 				<div class="title ui grid"> -->
		<!-- 						<div class="twelve wide column job content"><i class="dropdown icon"></i><span>Repository@123512341234</span></div> -->
		<!-- 						<div class="right aligned four wide column job content"><i class="spinner loading icon"></i></div> -->
		<!-- 				</div> -->
		<!-- 				<div class="content ui grid"> -->
		<!-- 					<div class="one wide column">JobQueueID</div> -->
		<!-- 					<div class="right aligned fourteen wide column">asdfsadfasdfsdf</div> -->
		<!-- 					<div class="one wide column">start</div> -->
		<!-- 					<div class="right aligned fourteen wide column">BBBB</div> -->
		<!-- 					<div class="one wide column">end</div> -->
		<!-- 					<div class="right aligned fourteen wide column">BBBB</div> -->
		<!-- 					<div class="one wide column">report</div> -->
		<!-- 					<div class="right aligned fourteen wide column">BBBB</div> -->
		<!-- 				</div> -->
		<!-- 			</div> -->
		<!-- 		</div> -->
		<!-- 		<template v-for="job in jobs"> -->
		<div v-for="job in jobs" class="ui item job"
			v-bind:class="{'running':job.jobStatus=='RUNNING', 'failed':job.jobStatus=='FAILED', 'succeeded':job.jobStatus=='SUCCEEDED'}">
			<div class="ui accordion">
				<div class="title ui grid">
					<div class="fourteen wide column job content">
						<i class="dropdown icon"></i><span v-text="job.jobIdNick">jobIdNick</span>
					</div>
					<div class="right aligned one wide column job content">
						<i class="icon"
							v-bind:class="{'spinner loading':job.jobStatus=='RUNNING', 'checkmark':job.jobStatus=='SUCCEEDED', 'remove':job.jobStatus=='FAILED'}"></i>
					</div>
				</div>
				<div class="content ui grid">
					<div class="one wide column">start</div>
					<div class="right aligned fourteen wide column" v-text="job.start">1990-01-01</div>
					<div class="one wide column">end</div>
					<div class="right aligned fourteen wide column" v-text="job.end">1990-01-01</div>
					<div class="one wide column">report</div>
					<div class="right aligned fourteen wide column" v-text="job.report">0000</div>
				</div>
			</div>
		</div>
		<!-- 		</template> -->

		<!-- 		<template v-for="job in jobs"> -->
		<!-- 			<div class="ui segment" v-bind:class="{'tertiary':!job.isRunning}"> -->
		<!-- 			<div class="ui top active progress indicating" data-percent="100" v-bind:class="[job.color]"> -->
		<!--           		<div class="bar"></div> -->
		<!--           	</div> -->
		<!-- 				<div class="ui list"> -->
		<!-- 					<div class="item"> -->
		<!-- 						<div class="header left floated">no</div> -->
		<!-- 						<div class="content right floated">{{job.no}}</div> -->
		<!-- 					</div> -->
		<!-- 					<div class="item"> -->
		<!-- 						<div class="header left floated">type</div> -->
		<!-- 						<div class="content right floated">{{job.jobType}}</div> -->
		<!-- 					</div> -->
		<!-- 					<div class="item"> -->
		<!-- 						<div class="header left floated">status</div> -->
		<!-- 						<div class="content right floated">{{job.jobStatus}}</div> -->
		<!-- 					</div> -->
		<!-- 					<div class="item"> -->
		<!-- 						<div class="header left floated">description</div> -->
		<!-- 						<div class="content right floated">{{job.job}}</div> -->
		<!-- 					</div> -->
		<!-- 					<div class="item"> -->
		<!-- 						<div class="header left floated">start time</div> -->
		<!-- 						<div class="content right floated">{{job.start}}</div> -->
		<!-- 					</div> -->
		<!-- 					<div class="item"> -->
		<!-- 						<div class="header left floated">end time</div> -->
		<!-- 						<div class="content right floated">{{job.end}}</div> -->
		<!-- 					</div> -->
		<!-- 				</div> -->
		<!-- 			</div> -->
		<!-- 		</template> -->
	</div>
	<!-- End Right Side menu -->

	<script th:src="@{/bab/bower_components/jquery/dist/jquery.min.js}"></script>
	<script th:src="@{/bab/bower_components/qtip2/jquery.qtip.min.js}"></script>
	<script th:src="@{/bab/bower_components/jquery-ui/jquery-ui.min.js}"></script>
	<script th:src="@{/bab/bower_components/lodash/lodash.min.js}"></script>
	<script th:src="@{/bab/bower_components/numeral/min/numeral.min.js}"></script>
	<script th:src="@{/bab/bower_components/moment/min/moment.min.js}"></script>
	<script th:src="@{/bab/bower_components/semantic/dist/semantic.min.js}"></script>
	<script th:src="@{/bab/bower_components/vue/dist/vue.js}"></script>
	<script th:src="@{/bab/bower_components/vue-resource/dist/vue-resource.min.js}"></script>
	<script th:src="@{/bab/bower_components/semantic-ui-calendar/dist/calendar.min.js}"></script>


	<script th:src="@{/bab/js/JSON.js}"></script>
	<script th:src="@{/bab/js/BabHelper.js}"></script>
	<script th:src="@{/bab/js/VueFilter.js}"></script>
	<script th:src="@{/bab/vue-components/fileupload/FileUploadComponent.js}"></script>
	<script th:src="@{/bab/modules/layout.js}"></script>
	<script type="text/javascript">
		var sdt, edt;

		Vue.http.options.emulateJSON = true; // from https://github.com/vuejs/vue-resource/blob/master/docs/config.md#legacy-web-servers
		Vue.http.options.emulateHTTP = true;

		Vue.config.debug = true;

		moment.updateLocale('ko', null);

		jsonData = /*[[${jsonData}]]*/{};
		apiURI = /*[[${apiURI}]]*/{};
		$("#date-request-form").submit(function(event) {
			var sdt = $('#sdtVal').val();
			var edt = $('#edtVal').val()
			var nowUrl = window.location.href;
			var splittedUrl = nowUrl.split('/');
			splittedUrl[splittedUrl.length - 2] = sdt;
			splittedUrl[splittedUrl.length - 1] = edt;
			// 			console.log(splittedUrl.join("/"));
			location.replace(splittedUrl.join("/"));
			event.preventDefault();
		})
	</script>
	<!-- include page spesific script http://stackoverflow.com/questions/23215705/thymeleaf-how-to-include-page-specific-javascript-using-layouts -->
	<th:block layout:fragment="script"></th:block>
</body>
</html>