<!DOCTYPE html>
<html layout:decorator="layout">
<head>
	<meta charset="utf-8" />
	<title th:text="#{schedule.schedule}">스케쥴</title>
	<!-- <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script> -->
	<link rel="stylesheet" th:href="@{/bab/modules/schedule/simulate.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{https://cdn.datatables.net/t/dt/dt-1.10.11/datatables.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/jquery.datetimepicker.css}"/>
</head>
<body>
	<div id="app" layout:fragment="content" class="ui grid">
		
		<div class="sixteen wide column">
			<div class="ui segment">
				<div class="ui input">
					<form>
						<input type="text" id="date_timepicker_start" placeholder="시작 날짜" />
						<input type="text" id="date_timepicker_end" placeholder="종료 날짜" />
					</form>
				</div>
				<button class="ui primary button" v-on:click="checkBtn" th:text="#{common.search}">조회</button>
			</div>
		</div>
		
		<div class="sixteen wide column">
			<div class="ui segment graph-simul">
				<loader :isactive="isProcessing"></loader>
				<div id="container">
					<svg id="graph" class="svg"></svg>
					<div id="tag"></div>
				</div>
			</div>
		</div>
	</div>

	<th:block layout:fragment="script">
		<script th:inline="javascript" id="json-data">
			// tutorial : http://forum.thymeleaf.org/Using-Thymeleaf-in-order-to-generate-inline-json-in-the-html-view-td4025733.html
			jsonData = /*[[${jsonData}]]*/ {} ;
			apiURI = /*[[${apiURI}]]*/ {} ;
		</script>
		<script th:src="@{/bower_components/d3/d3.min.js}"></script>
		<script th:src="@{/bab/vue-components/loader/LoaderComponent.js}"></script>
		<!-- this should go after your </body> -->
		
		<!-- datepicker -->
		<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js}"></script>
		
		<script th:src="@{/bab/modules/schedule/simulate.js}"></script>
	</th:block>
</body>
</html>