<!DOCTYPE html>
<html layout:decorator="layout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title th:text="#{layout.timegap}">Timegap analysis</title>
	<link rel="stylesheet" th:href="@{/bab/vue-components/processmodel/ProcessModelComponent.css}"/>
	<link rel="stylesheet" th:href="@{/bab/bower_components/vis/dist/vis.min.css}"/>
	
	<link rel="stylesheet" th:href="@{https://cdn.datatables.net/t/dt/dt-1.10.11/datatables.min.css}"/>
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/8.5.1/nouislider.min.css}"/>
	<style>
	#SummaryTable {
		width: 100% !important;
	}
	#SummaryTable > thead > tr > th {
		text-align: left !important;
	}
  </style>
</head>
<body>
	<div id="app" layout:fragment="content">
		<processmodel theid="timegap" :pm-data="pmData" :lr-data="lrData" :api-uri="apiURI"></processmodel>
	</div>


      
	<th:block layout:fragment="script">
		<script th:inline="javascript" id="json-data">
			// tutorial : http://forum.thymeleaf.org/Using-Thymeleaf-in-order-to-generate-inline-json-in-the-html-view-td4025733.html
			jsonData = /*[[${jsonData}]]*/ {} ;
			apiURI = /*[[${apiURI}]]*/ {} ;
		</script>
		
		<!-- include template script from vue-template.html and handlebars-template.html -->
		<div th:include="patternvisualizer/vue-template :: template" th:remove="tag"></div>
		<div th:include="processmodel/handlebars-template :: template" th:remove="tag"></div>     

		      <script th:src="@{/bab/bower_components/d3/d3.min.js}"></script>
      <script th:src="@{/bab/bower_components/graphlib/dist/graphlib.core.min.js}"></script>
      <script th:src="@{/bab/bower_components/dagre/dist/dagre.core.min.js}"></script>
      <script th:src="@{/bab/bower_components/dagre-d3/dist/dagre-d3.core.min.js}"></script>
      <script th:src="@{/bab/bower_components/vivagraphjs/dist/vivagraph.min.js}"></script>
      <script th:src="@{/bab/bower_components/handlebars/handlebars.min.js}"></script>
      <script th:src="@{/bab/bower_components/handlebars-helpers/src/helpers.js}"></script>
      <script th:src="@{/bab/js/HandlebarsFilter.js}"></script>
      <script th:src="@{/bab/bower_components/vis/dist/vis.min.js}"></script>
      <script th:src="@{/bab/bower_components/viz.js/viz.js}"></script>

      
      <script th:src="@{/bab/vue-components/loader/LoaderComponent.js}"></script>
      <script th:src="@{/bab/vue-components/processmodel/lib/Nodee.js}"></script>
      <script th:src="@{/bab/vue-components/processmodel/lib/Nodees.js}"></script>
      <script th:src="@{/bab/vue-components/processmodel/lib/Arc.js}"></script>
      <script th:src="@{/bab/vue-components/processmodel/lib/Arcs.js}"></script>
      <script th:src="@{/bab/vue-components/processmodel/lib/ProcessModel.js}"></script>
      <script th:src="@{/bab/vue-components/processmodel/lib/ProcessModelVisjs.js}"></script>
      <script th:src="@{/bab/vue-components/processmodel/lib/ProcessModelGraphviz.js}"></script>
      <script th:src="@{/bab/vue-components/processmodel/ProcessModelComponent.js}"></script>
      <script th:src="@{/bab/vue-components/processmodel/TimegapComponent.js}"></script>
	  	
	  	<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/8.5.1/nouislider.js}"></script>
      
      <script th:src="@{/bab/modules/patternvisualizer/timegap.js}"></script>
      
      <script th:src="@{https://cdn.datatables.net/t/dt/dt-1.10.11/datatables.min.js}"></script>

	</th:block>
	
</body>
</html>
