<html>
<head>
<meta charset="utf-8" />
</head>
<body>
	<div th:fragment="template">
		<script type="text/x-template" id="processmodel-template">
      <div v-bind:id="theid" class="ui grid">
        <div class="sixteen wide column">
		  <h1 class="ui header">Time Gap</h1>
		  <div class="ui divider"></div>
		  <div class="ui breadcrumb">
	        <a th:href="@{/bab/dashboard/} + ${jsonData.workspaceId + '/' + jsonData.datasetId + '/' + jsonData.sdt + '/' + jsonData.edt}" class="section">Home</a>
	        <div class="divider"> / </div>
	        <div class="section">Pattern Visualizer</div>
	        <div class="divider"> / </div>
	        <div class="active section">Time Gap</div>
	      </div>
          <div class="ui segment">
            <div class="ui form processmodel-control">
              <div class="inline fields" style="margin-bottom:0;">
                <div class="field">
                  <a class="ui compact icon button disabled" v-on:click="goToLogReplay(pmData.id)">
                    <i class="play icon"></i>
                  </a>
                </div>
                <div class="field">
                  <a class="ui compact icon button disabled" v-on:click="changeAlgorithm">
                    <i class="setting icon"></i>
                  </a>
                </div>
                <div class="field">
                  <div class="ui compact icon buttons">
                    <a class="ui button" v-on:click="scaleToFit">
                      <i class="compress icon"></i>
                    </a>
                    <a class="ui button" v-on:click="scaleToActual">
                      <i class="expand icon"></i>
                    </a>
                  </div>
                </div>
                <div class="field">
                  <div class="ui compact icon buttons">
                    <a class="ui button disabled" v-on:click="decreaseFontSize">
                      <i class="minus square outline icon"></i>
                    </a>
                    <a class="ui button disabled" v-on:click="increaseFontSize">
                      <i class="plus square outline icon"></i>
                    </a>
                  </div>
                </div>
                <div class="field">
                  <select class="ui dropdown" v-model="pmData.options.arctype" v-on:change="changeArcType">
                    <option value=" " disabled="disabled" th:text="#{timegap.arctype}"></option>
                    <option value="bundle" th:text="#{timegap.rounded}"></option>
                    <option value="linear" th:text="#{timegap.linear}"></option>
                    <option value="cardinal" th:text="#{timegap.linearsmooth}"></option>
                    <option value="step-before" th:text="#{timegap.rectangular}"></option>
                  </select>
                </div>
                <div class="field">
                  <select class="ui dropdown" v-model="pmData.options.rankdir" v-on:change="changeArcDirection">
                    <option value=" " disabled="disabled" th:text="#{timegap.arcdirection}"></option>
                    <option value="TB" th:text="#{timegap.topbottom}"></option>
                    <option value="LR" th:text="#{timegap.leftright}"></option>
                  </select>
                </div>
                <div class="field">
                  <div class="ui left icon input">
                    <i class="search icon"></i>
                    <input type="text" name="node-name" th:placeholder="#{timegap.searchnodename}" v-on:keyup="searchNode" disabled="disabled" />
										<!-- 노드 네임 검색 : Search Node Name -->
                  </div>
                </div>
								<div class="field">
                  <div class="ui bottomslide button" data-transition="overlay" v-on:click="overallBtn">
                    <i class="pin icon"></i><span th:text="#{timegap.overall}"></span>
                  </div>
                </div>

								<!-- Start OverallSlide -->
								<div class="ui bottom sidebar menu overallDetail grid" style="max-height: 560px !important; min-height: 560px !important;">
									<div class="sixteen wide column">
										<div class="ui top attached tabular menu">
											<a class="active item" th:text="#{timegap.fromtolist}">From-to 목록</a>
										</div>
										<div class="ui bottom attached segment">
											<table class="hover cell-border stripe" id="SummaryTable">
												<thead>
													<tr>
														<th>From</th>
														<th>To</th>
														<th>Mean Time</th>
														<th>Std. Deviation Time</th>
														<th>Pl Count</th>
													</tr>
												</thead>
											</table>
										</div>
									</div>
							  </div>
								<!-- End OverallSlide -->

              </div>
            </div>
          </div>
        </div>
        <div class="fifteen wide column">
					<loader :isactive="isProcessing"></loader>
          <div class="ui segment processmodel-content">
          </div>
        </div>
				<div class="one wide column middle center aligned">
					<loader :isactive="isProcessing"></loader>
					<h5 th:text="#{timegap.edgefilter}"></h5>
					<p id="sliderText">00:00:00</p>
					<div id="skipstep" style="height: 680px; margin: 30px 0 0 35px;"></div>
				</div>
      </div>
			</script>
	</div>
</body>
</html>