<!DOCTYPE html>
<html layout:decorator="layout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <title th:text="#{delta.title}"></title>
    <link rel="stylesheet" th:href="@{/bower_components/datatables.net-dt/css/jquery.dataTables.min.css}"/>
    <link rel="stylesheet" th:href="@{/bab/vue-components/processmodel2/ProcessModelComponent.css}"/>
  
  </head>e
  <body>
    <!-- Start Grid ?? -->
    <div id="app" layout:fragment="content">
      <div class="ui grid" v-if="step=='one'">
        <div class="three wide column">
        </div>
        <div class="ten wide column">
          <div class="ui segments">
            <div class="ui secondary segment">
              <h2 class="ui header" th:text="#{delta.modelselection}"></h2>        
            </div>
            <div class="ui segment">
              
              <loader :isactive="isProcessing"></loader>
              
              <div class="ui grid">
                <div class="eight wide column">
                  <h3 class="ui dividing header" th:text="#{delta.expectedlog}"></h3>
                  <div class="ui form">
                    <div class="field">
                      <label th:text="#{delta.renamemodel}"></label>
                      <input type="text" th:placeholder="#{delta.expectedlog}" v-model="setting.asisText" />
                    </div>
                    <div class="field">
                      <label th:text="#{common.type}"></label>
                      <select v-model="setting.asisType">
                        <option value="repository" th:text="#{delta.eventrepository}"></option>
                        <!-- <option value="model">Apromore Model</option> -->
                      </select>
                    </div>
                    <div class="field">
                      <label th:text="#{delta.selecteventrepo}"></label>
                      <select v-model="setting.asisRepository">
                        <option v-for="repository in repositories" v-bind:value="repository.id">{{repository.description}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="eight wide column">
                  <h3 class="ui dividing header" th:text="#{delta.observedlog}"></h3>
                  <div class="ui form">
                    <div class="field">
                      <label th:text="#{delta.renamemodel}"></label>
                      <input type="text" placeholder="Observed" v-model="setting.tobeText" />
                    </div>
                    <div class="field">
                      <label th:text="#{common.type}"></label>
                      <select v-model="setting.tobeType">
                        <option value="repository" th:text="#{delta.eventrepository}"></option>
                        <!-- <option value="model">Apromore Model</option> -->
                      </select>
                    </div>
                    <div class="field">
                      <label th:text="#{delta.selecteventrepo}"></label>
                      <select v-model="setting.tobeRepository">
                        <option v-for="repository in repositories" v-bind:value="repository.id">{{repository.description}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div v-show="message" class="ui negative message">
                <div class="header" th:text="#{common.selectrepository}"></div>
              </div>              
            </div>
            <div class="ui clearing secondary segment">
              <div class="ui right floated right labeled icon teal button button-next" v-on:click="openSecondModal">
                <span th:text="#{common.next}" th:remove="tag"></span>
                <i class="arrow right icon"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="ui grid" v-if="step=='two'">
        <div class="three wide column">
        </div>
        <div class="ten wide column">
          <div class="ui segments">
            <div class="ui secondary segment">
              <h2 class="ui header" th:text="#{delta.activitymapping}"></h2>
            </div>
            <div class="ui segment">
              <loader :isactive="isProcessing2 || isProcessing3"></loader>
              <div class="ui grid">
                <div class="eight wide column">
                  <h3 class="ui dividing header" th:text="#{delta.expectedlog}"></h3>
                  <div class="ui form">
                    <div class="field">
                      <label th:text="#{delta.activityname}"></label>
                      <select v-model="setting.asisActivity">
                        <option v-for="activity in setting.asisActivities" v-bind:value="$key">{{$key}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="eight wide column">
                  <h3 class="ui dividing header" th:text="#{delta.observedlog}"></h3>
                  <div class="ui form">
                    <div class="field">
                      <label th:text="#{delta.activityname}"></label>
                      <select v-model="setting.tobeActivity">
                        <option v-for="activity in setting.tobeActivities" v-bind:value="$key">{{$key}}</option>
                      </select>
                    </div>
                    <a class="ui button" v-on:click="mapActivity(setting.asisActivity, setting.tobeActivity)" th:text="#{delta.map}"></a>
                  </div>
                </div>
              </div>
              <table class="ui celled table">
                <thead>
                  <tr>
                    <th th:text="#{delta.expected}"></th>
                    <th th:text="#{delta.observed}"></th>
                    <th th:text="#{common.delete}"></th>
                  </tr>
                </thead>
                <tbody>
                  <!-- i dont know why cannot iterate object here -->
                  <tr v-for="map in setting.mapActivities">
                    <td>{{map.asis}}</td>
                    <td>{{map.tobe}}</td>
                    <td><a v-on:click="removeMapActivity($index)" class="ui red button" th:text="#{common.delete}"></a></td>
                  </tr>
                </tbody>
              </table>        
            </div>
            <div class="ui clearing secondary segment">
              <div class="ui left labeled left floated icon teal button button-prev" v-on:click="openFirstModal">
                <span th:text="#{common.prev}" th:remove="tag"></span>
                <i class="arrow left icon"></i>
              </div>
              <div class="ui right labeled right floated icon teal button button-next" v-on:click="submitDelta(setting)">
                <span th:text="#{delta.analyze}" th:remove="tag"></span>
                <i class="arrow right icon"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="ui grid" v-if="step=='three'">
        <div class="sixteen wide column" v-if="!data" style="min-height:500px;">
          <loader :isactive="isProcessing4" label="Loading .. download the data"></loader>        
        </div>
        <div class="sixteen wide column" v-if="data">
          <div class="ui segments">
            <div class="ui secondary segment"><h4 class="ui header" th:text="#{delta.a}"></h4></div>
            <div class="ui segment">
              
              
              <div class="ui grid">
                <div class="eight wide column">
                  <loader :isactive="isProcessing5" label="Loading .. render process model"></loader>
                  
                  <div class="ui horizontal divider"><span th:text="#{delta.expected}" th:remove="tag"></span><br/><small>{{setting.asisRepository}}</small></div>
                  <div id="expected-processmodel">
                    <div class="processmodel-content"></div>
                  </div>
                </div>
                <div class="eight wide column">
                  <loader :isactive="isProcessing5" label="Loading .. render process model"></loader>
                  
                  <div class="ui horizontal divider"><span th:text="#{delta.observed}" th:remove="tag"></span><br/><small>{{setting.tobeRepository}}</small></div>
                  <div id="observed-processmodel">
                    <div class="processmodel-content"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ui segments">
            <div class="ui secondary segment"><h4 class="ui header" th:text="#{delta.b}"></h4></div>
            <div class="ui segment">
              <loader :isactive="isProcessing4" label="Loading .. render the data"></loader>
              <div class="ui grid">
                <div class="eight wide column">
                  <div class="ui horizontal divider" th:text="#{delta.processmodel}"></div>
                  <table class="ui striped table">
                    <thead>
                      <tr>
                        <th th:text="#{delta.measurement}"></th>
                        <th th:text="#{delta.expected}"></th>
                        <th th:text="#{delta.observed}"></th>
                        <th th:text="#{delta.difference}"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td th:text="'#'+#{processmodel.nodes}"></td>
                        <td>{{data.asisModel.noOfNodes}}</td>
                        <td>{{data.tobeModel.noOfNodes}}</td>
                        <td>{{data.asisModel.noOfNodes - data.tobeModel.noOfNodes | absoluteNumber}}</td>
                      </tr>
                      <tr>
                        <td th:text="'#'+#{processmodel.arcs}"></td>
                        <td>{{data.asisModel.noOfArcs}}</td>
                        <td>{{data.tobeModel.noOfArcs}}</td>
                        <td>{{data.asisModel.noOfArcs - data.tobeModel.noOfArcs | absoluteNumber}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="eight wide column">
                  <div class="ui horizontal divider" th:text="#{delta.blockevaluation}"></div>
                  <table class="ui striped table">
                    <thead>
                      <tr>
                        <th th:text="#{delta.measurement}"></th>
                        <th th:text="#{delta.expected}"></th>
                        <th th:text="#{delta.observed}"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td th:text="#{delta.serialization}"></td>
                        <td>{{data.asisModel.serialization | formatNumber '0.00%'}}</td>
                        <td>{{data.tobeModel.paralelization | formatNumber '0.00%'}}</td>
                      </tr>
                      <tr>
                        <td th:text="#{delta.paralelization}"></td>
                        <td>{{data.asisModel.serialization | formatNumber '0.00%'}}</td>
                        <td>{{data.tobeModel.paralelization | formatNumber '0.00%'}}</td>
                      </tr>
                    </tbody>
                  </table>               
                </div>
              </div>
              <div class="ui grid">
                <div class="eight wide column">
                  <div class="ui horizontal divider" th:text="#{delta.replayfitness}"></div>
                  <table class="ui striped table">
                    <thead>
                      <tr>
                        <th th:text="#{delta.measurement}"></th>
                        <th th:text="#{delta.expected}"></th>
                        <th th:text="#{delta.observed}"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td th:text="#{delta.internal}"></td>
                        <td>{{data.asisModel.fitness | formatNumber '0.00%'}}</td>
                        <td>{{data.tobeModel.fitness| formatNumber '0.00%'}}</td>
                      </tr>
                      <tr>
                        <td th:text="#{delta.external}"></td>
                        <td>{{data.asisModel.crossFitness | formatNumber '0.00%'}}</td>
                        <td>{{data.tobeModel.crossFitness | formatNumber '0.00%'}}</td>
                      </tr>
                    </tbody>
                  </table> 
                </div>
                <div class="four wide column">
                  <div class="ui horizontal divider" th:text="#{delta.tpi}"></div>
                  <table class="ui striped table">
                    <thead>
                      <tr>
                        <th th:text="#{delta.measurement}"></th>
                        <th th:text="#{delta.value}"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td th:text="#{delta.tracelevel}"></td>
                        <td>{{data.overallTraceTPI | formatNumber '0,0.000'}}</td>
                      </tr>
                      <tr>
                        <td th:text="#{delta.activitylevel}"></td>
                        <td>{{data.overallActivityTPI | formatNumber '0,0.000'}}</td>
                      </tr>
                    </tbody>
                  </table>                               
                </div>
                <div class="four wide column">
                  <div class="ui horizontal divider" th:text="#{delta.pearsonchi}"></div>     
                  <table class="ui striped table">
                    <thead>
                      <tr>
                        <th th:text="#{delta.measurement}"></th>
                        <th th:text="#{delta.value}"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td th:text="#{delta.degreeof}"></td>
                        <td>{{data.chiDegreeOfFreedom | formatNumber '0,0.00' }}</td>
                      </tr>
                      <tr>
                        <td th:text="#{delta.pvalue}"></td>
                        <td>{{data.chiPValue | formatNumber '0,0.00'}}</td>
                      </tr>
                      <tr>
                        <td th:text="#{delta.nullhypo}"></td>
                        <td>{{data.chiNullHypothesis}}</td>
                      </tr>
                    </tbody>
                  </table>                
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="ui segments">
            <div class="ui secondary segment"><h4 class="ui header">C. Top-10 Performer Performance</h4></div>
            <div class="ui segment">
              <div v-if="isProcessing" class="ui active inverted dimmer">
                <div class="ui text loader">Loading</div>
              </div>
              this is content
            </div>
          </div>  -->
          <div class="ui segments">
            <div class="ui secondary segment"><h4 class="ui header" th:text="#{delta.c}"></h4></div>
            <div class="ui segment">
              <loader :isactive="isProcessing4" label="Loading .. render the data"></loader>
              <div class="ui grid">
                <div class="eight wide column">
                  <div class="ui horizontal divider" th:text="#{delta.traceleveltpi}"></div>
                  <table id="trace-level-tpi" class="datatables"></table>
                </div>
                <div class="eight wide column">
                  <div class="ui horizontal divider" th:text="#{delta.activityleveltpi}"></div>
                  <table id="activity-level-tpi" class="datatables"></table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <!-- End Grid -->    
    <th:block layout:fragment="script">
      <script th:inline="javascript" id="json-data">
        // tutorial : http://forum.thymeleaf.org/Using-Thymeleaf-in-order-to-generate-inline-json-in-the-html-view-td4025733.html
        jsonData = /*[[${jsonData}]]*/ {} ;
        apiURI = /*[[${apiURI}]]*/ {} ;
      </script>
      
      <!-- include template script from vue-template.html and handlebars-template.html -->
      <div th:include="processmodel/handlebars-template :: template" th:remove="tag"></div>   

      <script th:src="@{/bower_components/datatables.net/js/jquery.dataTables.min.js}"></script>
      
      <script th:src="@{/bower_components/d3/d3.min.js}"></script>
      <script th:src="@{/bower_components/graphlib/dist/graphlib.core.min.js}"></script>
      <script th:src="@{/bower_components/dagre/dist/dagre.core.min.js}"></script>
      <script th:src="@{/bower_components/dagre-d3/dist/dagre-d3.core.min.js}"></script>
      <script th:src="@{/bower_components/handlebars/handlebars.min.js}"></script>
      <script th:src="@{/bower_components/handlebars-helpers/src/helpers.js}"></script>
      <script th:src="@{/bab/js/HandlebarsFilter.js}"></script>
      
      <script th:src="@{/bab/vue-components/processmodel2/lib/Nodee.js}"></script>
      <script th:src="@{/bab/vue-components/processmodel2/lib/Nodees.js}"></script>
      <script th:src="@{/bab/vue-components/processmodel2/lib/Arc.js}"></script>
      <script th:src="@{/bab/vue-components/processmodel2/lib/Arcs.js}"></script>
      <script th:src="@{/bab/vue-components/processmodel2/lib/ProcessModel2.js}"></script>
      
      <script th:src="@{/bab/vue-components/loader/LoaderComponent.js}"></script>
      <script th:src="@{/bab/vue-components/processmodel2/ProcessModelComponent.js}"></script>
      
      <script th:src="@{/bab/modules/performancevisualizer/delta.js}"></script>
    </th:block>
  </body>
</html>
