#logreplay-toolbox{
  /*padding: 0;
  margin-top: 75px;
  position: absolute;
  z-index: 2;
  right: 15px;

  .btn{
    width: 100%;
  }*/
  margin-top:20px;

  .list-group-item div:first-child {
    float: left;
    width: 18px !important;
    margin-right: 10px;
  }
}

#graph-toolbox{
  margin-bottom: 0;
}

#content-graph svg{
  height: 550px;
}

.circle, .walker {
  
  &.token-finish{
    circle{
      fill: #000;
    }
  }
  
  circle{
    stroke: #000;
    stroke-width: 1px; 
    cursor: pointer;
    border: 1px solid #eaeaea;
    margin-bottom: 10px;

  }
  text{
    color: #000;
  }
}

.walker-default {
	circle{
		fill: #F0AD4E !important; 
	}
}

.edgePath-logreplay{
  &.density-low{
    path{
      stroke: green;
      stroke-width:6 !important;
    }
  }

  &.density-medium{
    path{
      stroke: orange;
      stroke-width:8 !important;
    }
  }

  &.density-high{
    path{
      stroke: red;
      stroke-width:10 !important;
    }
  }
}

.player{
	margin-top: 10px;
}

.timeline-master{
	width: 0%;
	height:0px;
	background:#000;
}

#chart-indicator {
	h4{
		border-top: solid 1px #cdcdcd;
		padding-top: 8px;	
	}
	div{
		max-height: 150px;
	}
}

#gauge-indicator > div {
  margin-bottom: 30px;
}

#gauge-indicator .progress {
  margin-bottom: 0px;
}

.data-load-indicator{
    border-top:1px solid #eaeaea; 
    margin-top:20px;
}

/* http://bootsnipp.com/snippets/featured/process-steps */
.stepwizard-step p {
    margin-top: 10px;    
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;     
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step {    
    display: table-cell;
    text-align: center;
    position: relative;
    width: 60px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

div[class^='indicator-'], div[class*=' indicator-']{
  float: left !important;
  height:20px;
  padding: 5px;
  color: #484d60 !important;
}

.edgeLabel div[class^='indicatorlist-']{
  width:200px;
}

/*.edgeLabel{
  .indicatorlist-1{
    width:50px;
  }
  .indicatorlist-2{
    width:100px;
  }
  .indicatorlist-3{
    width:150px;
  }
  .indicatorlist-4{
    width:200px;
  }
}*/


.vertex-logreplay{
  .indicatorlist-1 > div {
    width: 100% !important;
  }
  .indicatorlist-2 > div {
    width: 50% !important;
  }
  .indicatorlist-3 > div {
    width: 33% !important;
  }
  .indicatorlist-4 > div {
    width: 25% !important;
  }  
}


.vertex g div ul {
  padding-bottom: 0px;
  margin-bottom: 10px;
}


/* projected and not projected chart */
path{
  &.mg-lineprojected-color{
    stroke: #5cb85c;
  }
  &.mg-linenotprojected-color{
    stroke: #d9534f;
  }
}

span{
  &.mg-lineprojected-legend-color {
    color: #5cb85c;
    font-weight: bold;
  }
  &.mg-linenotprojected-legend-color {
    color: #d9534f;
    font-weight: bold;
  }
}

circle.mg-line-rollover-circle{
  &.mg-lineprojected-color{
    fill: #5cb85c;
  }
  &.mg-linenotprojected-color{
    fill: #d9534f;
  }
}

.mg-active-datapoint{
  font-size:14px !important;

  .mg-hover-lineprojected-color{
    fill: #5cb85c;
    font-weight: 900;
  }
  .mg-hover-linenotprojected-color{
    fill: #d9534f;
    font-weight: 900;
  }
}

