<html>
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <div th:fragment="template">
	    <div class="ui segment processmodel-control">
	      <div class="ui form">
	        <div class="inline fields" style="margin-bottom:0;">
	          <div class="field">
	            <a class="ui compact icon button disabled" v-on:click="changeAlgorithm">
	              <i class="setting icon"></i>
	            </a>
	          </div>
	          <div class="field">
	            <div class="ui compact icon buttons">
	              <a class="ui button" v-on:click="scaleToFit">
	                <i class="compress icon"></i>
	              </a>
	              <a class="ui button" v-on:click="scaleToActual">
	                <i class="expand icon"></i>
	              </a>
	            </div>
	          </div>
	          <div class="field">
	            <div class="ui compact icon buttons">
	              <a class="ui button disabled" v-on:click="decreaseFontSize">
	                <i class="minus square outline icon"></i>
	              </a>
	              <a class="ui button disabled" v-on:click="increaseFontSize">
	                <i class="plus square outline icon"></i>
	              </a>
	            </div>
	          </div>
	          <div class="field">
	            <select class="ui dropdown" v-model="pmData.options.arctype" v-on:change="changeArcType">
	              <option value=" " disabled="disabled" th:text="#{processmodel.arctype.title}"><!-- Arc Type --></option>
	              <option value="bundle" th:text="#{processmodel.arctype.rounded}"> <!-- Rounded --></option>
	              <option value="linear" th:text="#{processmodel.arctype.linear}"><!-- Linear --></option>
	              <option value="cardinal" th:text="#{processmodel.arctype.cardinal}"> <!-- Linear Smooth --></option>
	              <option value="step-before" th:text="#{processmodel.arctype.rectangular}"><!-- Rectangular --></option>
	            </select>
	          </div>
	          <div class="field">
	            <select class="ui dropdown" v-model="pmData.options.rankdir" v-on:change="changeArcDirection">
	              <option value=" " disabled="disabled" th:text="#{processmodel.arcdir.title}"><!-- Arc Direction --></option>
	              <option value="TB" th:text="#{processmodel.arcdir.tb}"><!-- Top Bottom --></option>
	              <option value="LR" th:text="#{processmodel.arcdir.lr}"><!-- Left Right --></option>
	            </select>
	          </div>
	          <div class="field">
	            <div class="ui left icon right labeled input">
	              <i class="search icon"></i>
	              <input type="text" v-model="pmData.data.searchNode" th:placeholder="#{processmodel.searchnode}" v-on:keyup="searchNode"/>
	              <!-- 노드 네임 검색 : Search Node Name -->	
	              <div class="ui label" v-bind:class="{'green':pmData.data.nodeFound > 0, 'red':pmData.data.nodeFound == -1}">{{pmData.data.nodeFound}}</div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</body>
</html>