<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
	<head>
		<meta charset="utf-8"/>
		<title th:text="#{kpi.title}">Key Performance Indicator</title>
		<link rel="stylesheet" th:href="@{/bab/modules/reporting/kpi/kpi.css}"/>
	</head>
	<body> <!--  Start Grid -->
		<div id="app" layout:fragment="content" class="ui grid">
			<div class="sixteen wide column">
				<!-- start of segment -->
				<div class="ui top attached secondary segment">
	    			<h2 class="ui header" th:text="#{kpi.title}">Work-in-Process</h2>
	    		</div>
	    		<div class="ui attached segment"> 
	    			<loader :isactive="isProcessing"></loader>			 
					<div class="kpi progress" id="progressBar" style="display:none">
						<div class="ui indicating progress" data-value="1" data-total="100">
							<div class="bar">
								<div class="progress"></div>
							</div>
						</div>
					</div>
	    			<div id="horizontalSegmentArea" class="ui horizontal segments" style="display:yes">	    				
	    				<div class="ui blue segment">	    					
	    					<div class="ui form">
  								<div class="field">
    								<label>Main Classifier</label>
    								<select id="mainClassifier" class="ui dropdown">
    									<option value="">Main Classifier</option>
    									<option value="Originator">Originator</option>
    									<!-- <option value="COIL_NO">COIL_NO</option>
    									<option value="PLNPRC_CD">PLNPRC_CD</option>
    									<option value="STL_CD">STL_CD</option>
    									<option value="PRDKND_CD">PRDKND_CD</option>
    									<option value="CUS_ID">CUS_ID</option>
    									<option value="USR_ID">USR_ID</option>
    									<option value="SPC_NO">SPC_NO</option> -->
    									<option disabled="disabled" value="Resource">Resource</option>
    								</select>
    							</div>
    							<div class="disabled field">    			
    								<label>Sub Classifier</label>					
    								<select id="subClassifier" class="ui dropdown">
    									<option value="">Sub Classifier</option>
    									<option value="originator">Originator</option>
    									<option value="resource">Resource</option>
    								</select>
    							</div>
	    					</div>
	    				</div>
	    				<div class="ui orange segment">
	    					<div class="ui form">
	    						<div class="field">
    								<label>Value Classifier</label>
    								<select class="ui dropdown">
    									<option value="">Value</option>
    									<option value="ws">Weight</option>
    									<option disabled="disabled" value="pp">Working Time</option>    									
    								</select>
    							</div>
    							<div class="disabled field">
    								<label>Capacity Classifier</label>
    								<select class="ui dropdown">
    									<option disabled="disabled" value="">Capacity</option>
    									<option disabled="disabled" value="pp">Machine Capacity</option>
    								</select>
    							</div>
	    					</div>
	    				</div>
	    				<div class="ui red segment">
	    					<div class="ui form">
	 							<div class="field">
	   								<label>KPI</label>
	   								<select v-on:change="changeResultOpt" id="kpiOption" class="ui dropdown">
	   									<option value="">KPI</option>
	   									<option disabled="disabled" value="output">Output</option>
	   									<option value="throughput">Throughput</option>
	   									<option value="utilization">Utilization</option>
	   									<option disabled="disabled" value="availability">Availability</option>
	   								</select>
	   							</div>
	   							<div class="field">
	   								<label>Analysis</label>
	   								<select id="analysis" class="ui dropdown">
	   									<option value="">Analysis</option>
	   									<option value="mom">Month over Month</option>
	   									<option value="yoy">Year over Year</option>
	   								</select>
	   							</div>
	    					</div>
	    				</div>
	    				<div class="ui green segment">
 							<div class="ui form">   									
								<div class="field">
	   								<label>Result</label>
	   								<select v-on:change="changeResultOpt" id="resultDisplay" class="ui dropdown">
	   									<option value="">Result</option>
	   									<option value="table">Table</option>
	   									<option value="graph">Graph</option>	   									
	   								</select>
	   							</div>
	   							<div id="allOptRadio" class="inline fields" style="display:none">
	   								<div id="defaultOptRadio" class="field">
	   									<div class="ui radio checkbox">
	   										<input id="defaultOptChecked" v-model="optRadioValue" type="radio" name="optRadio" value="default" checked="checked" tabindex="0" class="hidden"/>
	   										<label>Default</label>
	   									</div>
	   								</div>
	   								<div id="flipOptRadio" class="field" style="display:none">
	   									<div class="ui radio checkbox">
	   										<input v-model="optRadioValue" type="radio" name="optRadio" value="flip" tabindex="1" class="hidden"/>
	   										<label>Flip</label>
	   									</div>
	   								</div>
	   								<div id="transposeOptRadio" class="field" style="display:none">
	   									<div class="ui radio checkbox">
	   										<input v-model="optRadioValue" type="radio" name="optRadio" value="transpose" tabindex="2" class="hidden"/>
	   										<label>Transpose</label>
	   									</div>
	   								</div>
	   							</div>
	   							<div class="field">
	   								<button v-on:click="runResult" class="ui green button">
	   								<i class="play icon"></i>Run
	   								</button>
	   							</div>	   									
 							</div>
	    				</div>
	    			</div>  		
					<div id="graphAreaSegment" class="ui segment" style="display:none">
						<h3 id="titleGraph" class="ui dividing header">
								<i class="signal icon"></i>Graphic :
						</h3>
						<div id="graphArea"></div>
					</div>
<!-- Year over Year Default Segment -->
					<div id="yoySegment" class="ui segment" style="display:none">						
						<!-- Table Data Section -->
						<h3 id="normalYoyKpiTitle" class="ui dividing header">
								<i class="calendar outline icon"></i>Year over Year :
						</h3>
						<div id="yoytable">
							<div th:remove="tag" th:utext="${tableYear}"></div>
						</div>
					</div>
<!-- Year over Year Transpose Segment -->
					<div id="yoyTransposeSegment" class="ui segment" style="display:none">						
						<!-- Table Data Section -->
						<h3 id="transposeYoyKpiTitle" class="ui dividing header">
								<i class="calendar outline icon"></i>Year over Year : Transpose
						</h3>
						<div id="yoytableTranspose">
							<div th:remove="tag" th:utext="${tableYearTranspose}"></div>
						</div>
					</div> 
<!-- Year over Year Utilization Segment -->
					<div id="yoyUtilizationSegment" class="ui segment" style="display:none">						
						<!-- Table Data Section -->
						<h3 class="ui dividing header">
								<i class="settings icon"></i>Year over Year : Utilization
						</h3>						
						<div id="yoytableUtilization">
							<div id="utilizationReferenceYUS"></div>
							<div th:remove="tag" th:utext="${tableYearUtilization}"></div>
						</div>
					</div>
<!-- Year over Year Utilization Transpose Segment -->
					<div id="yoyUtilizationTransposeSegment" class="ui segment" style="display:none">						
						<!-- Table Data Section -->
						<h3 class="ui dividing header">
								<i class="settings icon"></i>Year over Year : Transpose - Utilization
						</h3>
						<div id="yoytableUtilizationTranspose">
							<div id="utilizationReferenceYUTS"></div>
							<div th:remove="tag" th:utext="${tableYearUtilizationTranspose}"></div>
						</div>
					</div>				
<!-- Month over Month Default Segment -->
					<div id="momSegment" class="ui segment" style="display:none;overflow-y:auto;white-space:nowrap;">						
						<!-- Table Data Section -->
						<h3 id='normalMomKpiTitle' class="ui dividing header">
								<i class="calendar icon"></i>Month over Month 
						</h3>
						<div id="momtable">
							<div th:remove="tag" th:utext="${tableMonth}"></div>
						</div>
					</div>
<!-- Month over Month Transpose Segment -->					
					<div id="momTransposeSegment" class="ui segment" style="display:none;overflow-y:auto;white-space:nowrap;">						
						<!-- Table Data Section -->
						<h3 id="transposeMomKpiTitle" class="ui dividing header">
								<i class="calendar icon"></i>Month over Month : Transpose
						</h3>
						<div id="momtableTranspose">
							<div th:remove="tag" th:utext="${tableMonthTranspose}"></div>
						</div>
					</div>
<!-- Month over Month Utilization Segment -->
					<div id="momUtilizationSegment" class="ui segment" style="display:none;overflow-y:auto;white-space:nowrap;">						
						<!-- Table Data Section -->
						<h3 class="ui dividing header">
								<i class="settings icon"></i>Month over Month : Utilization
						</h3>
						<div id="momtableUtilization">
							<div id="utilizationReferenceMUS"></div>
							<div th:remove="tag" th:utext="${tableMonthUtilization}"></div>
						</div>
					</div>
<!-- Month over Month Utilization Transpose Segment -->					
					<div id="momUtilizationTransposeSegment" class="ui segment" style="display:none;overflow-y:auto;white-space:nowrap;">						
						<!-- Table Data Section -->
						<h3 class="ui dividing header">
								<i class="calendar icon"></i>Month over Month : Transpose - Utilization
						</h3>
						<div id="momtableUtilizationTranspose">
							<div id="utilizationReferenceMUTS"></div>
							<div th:remove="tag" th:utext="${tableMonthUtilizationTranspose}"></div>
						</div>
					</div>					
				</div>
			</div>
		</div>
		<th:block layout:fragment="script">
			<script th:inline="javascript" id="json-data">
		        // tutorial : http://forum.thymeleaf.org/Using-Thymeleaf-in-order-to-generate-inline-json-in-the-html-view-td4025733.html
		        isModelNull = /*[[${isModelNull}]]*/ {} ;
		        apiURI = /*[[${apiURI}]]*/ {} ;
		        numberOfOriginatorMonth = /*[[${numberOfOriginatorMonth}]]*/ {} ;
		        numberOfOriginatorYear = /*[[${numberOfOriginatorYear}]]*/ {} ;		        
		        countAllYearData = /*[[${countAllYearData}]]*/ {} ;
		        countAllMonthData = /*[[${countAllMonthData}]]*/ {} ;
		        jsonGraphYear = /*[[${jsonGraphYear}]]*/ {} ;
		        jsonGraphMonth = /*[[${jsonGraphMonth}]]*/ {} ;
		        jsonGraphUtilizationYear = /*[[${jsonGraphUtilizationYear}]]*/ {} ;
		        jsonGraphUtilizationMonth = /*[[${jsonGraphUtilizationMonth}]]*/ {} ;
		        jsonData = /*[[${jsonData}]]*/ {} ;		        
		    </script>
			<script th:src="@{/bower_components/d3/d3.js}"></script>
      		<script th:src="@{/bab/vue-components/loader/LoaderComponent.js}"></script>
			<script th:src="@{/bab/modules/reporting/kpi/kpi.js}"></script>
		</th:block>
	</body>
</html>