:root { 
	--color-black: #100; 
	--color-heavy: #600; 
	--color-light: #fcc; 
	--color-white: #fff;
	/*		
			--color-black: #100; 
			--color-heavy: #300; 
			--color-light: #fcc; 
			--color-white: #fff;
			*/
	/* 
			--color-black: #010; 
			--color-heavy: #030; 
			--color-light: #cfc; 
			--color-white: #fff;
			*/
	/* 
			--color-black: #001; 
			--color-heavy: #003; 
			--color-light: #ccf; 
			--color-white: #fff;
			*/
}

* {
	font-family: sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

body {
	padding: 0;
	margin: 0;
	padding-top: 2rem;
}

body>nav {
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--color-light);
	border-top: solid 1px var(--color-black);
	border-bottom: solid 1px var(--color-black);
	width: 100%;
}

body>nav>h1 {
	display: inline-block;
	font-size: inherit;
	padding: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	margin: 0;
	border-right: solid 1px var(--color-black);
	background-color: var(--color-heavy);
	color: var(--color-white);
}

body>nav>a {
	display: inline-block;
	padding: 0.5rem;
}

body>nav>a:hover {
	background-color: var(--color-heavy);
	color: var(--color-white);
	text-decoration: none;
}

body>nav>a.active {
	font-weight: bold;
	text-transform: uppercase;
	background-color: var(--color-heavy);
	color: var(--color-white);
}

main {
	padding: 1rem;
}

main>section {
	display: none;
}

main>section.active {
	display: block !important;
}

article>header {
	border-bottom: solid 1px var(--color-black);
	margin-bottom: 1rem;
}

table {
	width: 100%;
}

table, th, td {
	border: solid 1px var(--color-black);
	border-collapse: collapse;
	padding: 0.25rem;
	text-align: center;
}

thead>tr>th {
	background-color: var(--color-heavy);
	color: var(--color-white);
}

tbody>tr>th {
	text-align: left;
	font-weight: normal;
}

tr:nth-child(even) {
	background-color: var(--color-light);
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li>label {
	display: inline-block;
	min-width: 150px;
	font-weight: bold;
	padding: 0.25rem;
}