
/* table */
#statistic > tr > td {
	height: 45px;
}

/* graph */
.task-seg {
	min-height: 500px;
/* 	width: 100%; */
}
#content-graph {
	min-height: 900px;
	max-height: 1200px;
	width: 100%;
	height: 100%;
}
#content-graph svg {
	background: #fafafa;
	border: 1px solid #f1f2f7;
	min-height: 900px;
	max-height: 1500px;
	width: 100%;
	height: 100%;
}


/* disable text selection */

svg *::selection {
    background: transparent;
}
svg *::-moz-selection {
    background: transparent;
}
svg *::-webkit-selection {
    background: transparent;
}
rect.selection {
    stroke: #333;
    stroke-dasharray: 4px;
    stroke-opacity: 0.5;
    fill: transparent;
}
rect.cell-border {
    stroke: #eee;
    stroke-width: 0.3px;
}
rect.cell-selected {
    stroke: rgb(51, 102, 153);
    stroke-width: 0.5px;
}
rect.cell-hover {
    stroke: #F00;
    stroke-width: 0.3px;
}
text.mono {
/*     font-size: 9pt; */
    font-family: Consolas, courier;
    fill: #aaa;
}
text.text-selected {
    fill: #000;
}
text.text-highlight {
    fill: #c00;
}
text.text-hover {
    fill: #00C;
}
#tooltip {
    position: absolute;
    width: auto;
    height: auto;
    padding: 10px;
    font-size: 13px;
    color: #666;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px !important;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    z-index: 999;
}
#tooltip.hidden {
    display: none;
}
#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 20px;
}
#legend {
		padding: 0.75em 0 0.75em 0;
}
.unitTitle {
    text-transform: capitalize;
}

.unitTitleDuration {
    text-transform: capitalize;
    display: none;
}

.key {
    border-top-width: 24px;
    border-top-style: solid;
    font-size: .75em;
    width: 10%;
    padding-left: 0;
    padding-right: 0;
}

.null {
	fill: white !important;		/* null data cell color */
}

/* progress bar */
.ui.progress > .bar {
	line-height: inherit;
	vertical-align: middle;
	text-align: center;
}
.ui.progress > .bar > span{
	color: #fff;
}

/* list in modal */
.list-group {
	height: 100px !important;
	overflow-y: auto;
	cursor: default !important;
}
.list-group .item {
	color: #000;
	margin: 5px 35px 0px 20px;
	padding: 0 0 5px 15px;
	border-bottom: #eee 1px solid;
}
.list-group .item:hover {
	color: #333;
}

/* scroll in modal */
.list-group::-webkit-scrollbar {
	width: 0.5em;
}
.list-group::-webkit-scrollbar-track {
	background: #efefef; 
}
.list-group::-webkit-scrollbar-thumb {
	background: rgba(0,0,0,.2); 
}
