/* START: Top navigation bar */
.top.fixed.menu {
  padding-left: 260px;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  background: #FAFAFA;
}
/* END: Top navigation bar */

/* START: Sidebar */
.pusher {
  transform: translate3d(0,0,0)!important;
  padding-left: 260px;
  min-height: 100%;
  overflow-y: auto!important;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.ui.vertical.sidebar {
  background: #DADADA;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  border-top: 0;
  border-bottom: 0;
}

.ui.vertical.sidebar a.logo.item {
  padding: 0.3em;
  background-color: #EFEFEF;
  border-top: 0;
}
.ui.vertical.sidebar a.logo.item:hover {
  background: #DADADA;
}

#server-info {
  padding: 2em 0;
}

#server-info p {
  padding-top: 0.5em;
}

/* @media screen and (max-width: 723px) {
  .pusher {
    padding-left: 0;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);

  }
  .top.fixed.menu {
    padding-left: 0;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .ui.left.sidebar {
    width: 0;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
} */

/* END: Sidebar */