<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Standard Meta -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	
	<title>BAB v2.3 - Login</title>
	
	<link rel="stylesheet" th:href="@{/bab/bower_components/semantic/dist/semantic.css}" />
	<link rel="stylesheet" th:href="@{/bab/modules/auth/login.css}" />
	
	<script th:src="@{/bab/bower_components/jquery/dist/jquery.min.js}"></script>
	<script th:src="@{/bab/bower_components/jquery-ui/jquery-ui.min.js}"></script>
	<script th:src="@{/bab/bower_components/semantic/dist/semantic.min.js}"></script>
	<script th:src="@{/bab/bower_components/vue/dist/vue.js}"></script>
</head>
<body>
	<div id="app" class="ui middle aligned center aligned grid">
		<div class="column">
			<div class="logo">
				<img class="ui medium image centered" th:src="@{/bab/images/logo-bab-white.png}" />
			</div>
			
			<h2 class="ui white header centered">Log-in to your account</h2>
			
			<div class="ui red message loginInfo" th:if="${param.error != null}">
				<i class="close icon"></i>
				<span>Username or password invalid!</span>
			</div>
			
			<span th:text="${isAuthenticated}"></span>
			
			<form th:unless="${isAuthenticated == true}" class="ui large form" method="post" th:action="@{/bab/login}">
				<div class="ui stacked segment">
					<div class="field">
						<div class="ui left icon input">
							<i class="user icon"></i> <input type="text" id="user_username" name="user_username" placeholder="Enter username" />
						</div>
					</div>
					<div class="field">
						<div class="ui left icon input">
							<i class="lock icon"></i> <input type="password" id="user_password" name="user_password" placeholder="Enter password" />
						</div>
					</div>
					<button class="ui fluid large green submit button" name="submit" value="login" type="submit" th:text="Login"></button>
				</div>
			</form>
			
			<div class="ui blue message">
        		Don't have any account? <a th:href="@{/bab/register}">Register</a>
      		</div>
      		<footer>
      			Copyright &copy; BSCLab 2018
      		</footer>
      		<div class="ui small images centered">
        		<a href="http://pusan.ac.kr/kor/Main.do" target="_blank"><img class="ui image" th:src="@{/bab/images/intro_logo_dark.png}" /></a>
        		<a href="http://bsclab.pusan.ac.kr" target="_blank"><img class="ui image" th:src="@{/bab/images/logo-transparent-for-dark.png}" /></a>
      		</div>
		</div>
	</div>
	<script th:src="@{/bab/modules/auth/login.js}"></script>
</body>
</html>
