<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Standard Meta -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	
	<title>BAB v2.3 - Register</title>
	
	<link rel="stylesheet" th:href="@{/semantic/semantic.min.css}" />
	<link rel="stylesheet" th:href="@{/css/auth/register.css}" />
	
</head>
<body>
	<div id="app" class="ui grid">
		<div class="column">
			<div class="logo">
				<h1 class="ui logo">CPNSim</h1>
			</div>
			
			<h2 class="ui white header centered">Register an account</h2>
			
			<div th:if="${successMessage}" class="ui green message">
				<i class="close icon"></i>
				<span th:text="${successMessage}"></span>
			</div>
			
			<form autocomplete="off" th:object="${user}" class="ui large form" method="post" action="#" th:action="@{/bab/register}">
				<div class="ui stacked segment">
					<label th:for="firstName"><p><strong>Full Name</strong></p></label>
					<div class="two fields">
						<div class="field">
							<label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="ui error"></label>
							<div class="ui left icon input">
								<i class="user icon"></i> <input type="text" th:field="*{firstName}" placeholder="First Name" />
							</div>
						</div>
						<div class="field">
							<label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="ui error"></label>
							<div class="ui left icon input">
								<i class="user icon"></i> <input type="text" th:field="*{lastName}" placeholder="Last Name" />
							</div>
						</div>
					</div>
					
					<label th:for="email"><p><strong>Account Credentials</strong></p></label>
					<div class="field">
						<label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="ui error"></label>
						<div class="ui left icon input">
							<i class="mail icon"></i> <input type="email" th:field="*{email}" placeholder="Valid email address" />
						</div>
					</div>
					<div class="field">
						<label th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="ui error"></label>
						<div class="ui left icon input">
							<i class="user icon"></i> <input type="text" th:field="*{username}" placeholder="Username" />
						</div>
					</div>
					
					<div class="two fields">
						<div class="field">
							<label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="ui error"></label>
							<div class="ui left icon input">
								<i class="lock icon"></i> <input type="password" th:field="*{password}" placeholder="Enter password" />
							</div>
						</div>
						<div class="field">
							<label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="ui error"></label>
							<div class="ui left icon input">
								<i class="lock icon"></i> <input type="password" id="comparePassword" name="comparePassword" placeholder="Confirm password" />
							</div>
						</div>
					</div>
					
					<div class="ui fluid large red submit button">Register</div>
				</div>
			</form>
			
			<div class="ui blue message">
        		Already have an account? <a th:href="@{/auth/login}">Login</a>
      		</div>
      		
      		<footer>
      			Copyright &copy; BSCLab 2018
      		</footer>
      		<div class="ui small images centered">
        		<a href="http://pusan.ac.kr/kor/Main.do" target="_blank"><img class="ui image" th:src="@{/bab/images/intro_logo_dark.png}" /></a>
        		<a href="http://bsclab.pusan.ac.kr" target="_blank"><img class="ui image" th:src="@{/bab/images/logo-transparent-for-dark.png}" /></a>
      		</div>
		</div>
	</div>
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/semantic/semantic.min.js}"></script>
	<script th:src="@{/js/auth/register.js}"></script>
</body>
</html>
