@import "../../scss/modules/all";

$vertex-color: darken($bg-color7, 30%); 
$vertex-stroke-color: #000; 
$vertex-hover-color: lighten($bg-color4, 1%);
$vertex-cluster-color:darken($bg-color4, 10%);
$edge-color: $bg-color8;
$edge-hover-color: $black;

/* general */
#graph-setting{
  margin-bottom:30px;
}

#graph-toolbox {
  //border: 1px solid #eaeaea;
  margin-bottom: 10px;
  padding: 0px;
}

#legends {
    display: inline-block;
    margin-bottom: 25px;
}

.legends-box{
  width:50px;
  padding:5px 0 10px;
  border: 1px solid;
  color: $bg-color1;
  text-align: center;
}

#content-graph{
  svg{
    background: $bg-color10;
    border: 1px solid $bg-color9;
    width: 100%;
    height: 700px;
  }
}


/* mixin function for nodes and arcs */
@mixin edge-path($edge-color){
  fill: none;
  stroke: $edge-color;
}

@mixin gradient-vertical($color, $lighten1, $lighten2, $index){
  // background-image: -webkit-gradient(
  //       linear,
  //       left top,
  //       left bottom,
  //       color-stop(0, lighten($color, ( $index * $lighten2 ) + $lighten1 )),
  //       color-stop(1, lighten($color, $index * $lighten2 ))
  //     );
  // background-image: -o-linear-gradient(bottom, lighten($color, $index * $lighten1 ) 0%, lighten($color, $index * $lighten2 ) 100%);
  // background-image: -moz-linear-gradient(bottom, lighten($color, $index * $lighten1 ) 0%, lighten($color, $index * $lighten2 ) 100%);
  // background-image: -webkit-linear-gradient(bottom, lighten($color, $index * $lighten1 ) 0%, lighten($color, $index * $lighten2 ) 100%);
  // background-image: -ms-linear-gradient(bottom, lighten($color, $index * $lighten1 ) 0%, lighten($color, $index * $lighten2 ) 100%);
  // background-image: linear-gradient(to bottom, lighten($color, $index * $lighten1 ) 0%, lighten($color, $index * $lighten2 ) 100%);
  color: $bg-color1;
  //background: lighten($vertex-color, $index * 8% );
}


/* nodes part */
.vertex {
  cursor: pointer;

  tspan{
    fill:#fff;
  }

  rect, circle{
    fill: $vertex-color;

    &:hover{
      // fill: $vertex-hover-color;
    }
  }
  
  &.vertex-timegap{
    rect, circle{
      fill: #3A89C9;
    }
    g div{
      background: #3A89C9;
    }
  }

  &.vertex-bayesian{
    rect, circle{
      fill: #3A89C9;
    }
    g div{
      background: #3A89C9;
    }
  }

  &.found{
    rect, circle{
      fill: lighten(red, 7% )
    }
    g{
      div{
        background: lighten(red, 7% );
      }
    }
  }

  &.show{
    rect{
      @include gradient-vertical($bg-color8, 20%, 1%, 1);
    }
    g{
      div{
        @include gradient-vertical($bg-color8, 20%, 1%, 1);
      }
    }
  } 

  g{
    div{
      width: 100%;
      
      ul{
        padding: 7px 0px 10px;
        text-align: center;

        h5{
          margin-bottom:5px;
          font-weight: bold;
          font-size: 13px;
        }
      }     
    }
  }

  &:hover,
  &.vertex-timegap:hover,
  &.vertex-bayesian:hover{
    rect, circle{
      fill: $vertex-hover-color;
    }

    foreignobject > div{
      // @include gradient-vertical($vertex-hover-color, 20%, 1%, 1);
      background: $vertex-hover-color;
    }
  }
}

@for $i from 1 through 5 {
  .vertex-freq-#{$i} {
    &.legends-box{
      @include gradient-vertical($vertex-color, 14%, 2%, $i);
    }

    rect, circle{
      fill: lighten($vertex-color, $i * 8% );
    }

    g{
      div{
        @include gradient-vertical($vertex-color, 14%, 2%, $i);
      }
    }
  }
}

@for $i from 1 through 5 {
  .edgePath-freq-#{$i}{
    &.legends-box{
        background:lighten($edge-color,$i*12% );
    }
    path.path{
      @include edge-path(lighten($edge-color,$i*12% ));
    }
    
    /* color for the arrowhead */
    marker{
      path{
        fill: lighten($edge-color,$i*12% ) !important;
        stroke: lighten($edge-color,$i*12% ) !important;
      }
    }
  }

  .edgePath-dep-#{$i}{
    path.path{
      stroke-width: $i+2;
    } 
  }
}

/* edge part */
.edgePath {
  cursor: pointer;
  
  marker{
    path{
      fill:$edge-color;
      stroke:$edge-color;
    }
  }

  path{
    fill: none;
    stroke: $edge-color;
  }

  &:hover{
    path{
      fill: none;
      stroke: $edge-hover-color;
    }    
  }

  &.animation{
    path{
      stroke: lighten($edge-color, 40%);
      stroke-width: 4 !important;    
    }
  }

  &.found{
    path{
      stroke: lighten(red, 7% );
    }
  }

  &.show{
    path{
      stroke:$bg-color7;
    }
  }

  &.edgePath-repeat{
    path{
      stroke: $bg-color6;
    }
  }

  &.edgePath-difference{
    path{
      stroke:red;
    }
  }

  &.edgePath-artificial path {
    stroke:grey;
    stroke-width: 3px;
    stroke-dasharray: 5,5;
  }
}

.edgeLabel{
  rect{
    fill: none;
  }    
  g{
    div{
      float: none ;
      color: black;
      min-width:50px;

      ul{
        background: $bg-color10;
        padding-left: 0;
      }
    }
  }
}

.label.edgePath-repeat div {
  color: green;
  font-weight: bold;
  font-style: italic;
  font-size: 12px;
}

/* for multidimensional timegap */
@each $key, $value in $custom-colors{
  .vertex.#{$key}{
    rect{
      fill: none;
      stroke: $value;
      stroke-width: 3px;
    }
    g{
      div{
        background: none;
        border-radius: 30px;
        border-color: $value;
        color: #000;
      }
    }
  }
  
  .edgePath.#{$key}{
    path{
      fill: none;
      stroke: $value;
    }
    
    marker{
      path{
        fill:$value;
        stroke:$value;
      }
    }
  }
}
