<!DOCTYPE html>
<html layout:decorator="layout">
<head>
	<meta charset="utf-8" />
	<title th:text="#{layout.elsys}"> </title>
	<style>
		.ui.top.tabular.menu.elsys {
			margin-top: 14px;
		}
		.ui.secondary.pointing.menu.elsys {
			margin-top: 30px;
		}
	</style>
</head>
<body>
	<div id="app" layout:fragment="content">
		<div>
			<div class="ui top tabular menu elsys">
				<a class="active item" data-tab="first">대시보드</a>
				<a class="item" data-tab="second">공정데이터</a>
				<a class="item" data-tab="third">질의처리기</a>
				<a class="item" data-tab="four">통계</a>
			</div>
			<div class="ui bottom tab active" data-tab="first">
				<div class="ui secondary pointing menu elsys">
					<a class="active item" data-tab="first-1">대시보드</a>
				</div>
				<div class="ui bottom tab active" data-tab="first-1">
					<iframe src="http://smartm.elsys.kr/sys/main.do" style="border: none; overflow: hidden;" width="100%" height="800px"></iframe>
				</div>
			</div>
			<div class="ui bottom tab" data-tab="second">
				<div class="ui secondary pointing menu elsys">
					<a class="active item" data-tab="second-1">소둔</a>
					<a class="item" data-tab="second-2">압연</a>
				</div>
				<div class="ui bottom tab active" data-tab="second-1">
					<iframe src="http://smartm.elsys.kr/sys/sys_01.do"  style="border: none; overflow: hidden;" width="100%" height="700px" ></iframe>				
				</div>
				<div class="ui bottom tab" data-tab="second-2">
					<iframe src="http://smartm.elsys.kr/sys/sys_01_01.do"  style="border: none; overflow: hidden;" width="100%" height="850px"></iframe>
				</div>
			</div>
			<div class="ui bottom tab" data-tab="third">
				<div class="ui secondary pointing menu elsys">
					<a class="active item" data-tab="third-1">질의처리기</a>
				</div>
				<div class="ui bottom tab active" data-tab="third-1">
					<iframe src="http://smartm.elsys.kr/sys/sys_08.do"  style="border: none; overflow: hidden;" width="100%" height="600px"></iframe>
				</div>
			</div>
			<div class="ui bottom tab" data-tab="four">
				<div class="ui secondary pointing menu elsys">
					<a class="active item" data-tab="four-1">센서 시간별</a>
					<a class="item" data-tab="four-2">센서 일별</a>
					<a class="item" data-tab="four-3">센서 월별</a>
					<a class="item" data-tab="four-4">센서 연별</a>
				</div>
				<div class="ui bottom tab active" data-tab="four-1">
					<iframe src="http://smartm.elsys.kr/sys/sys_05_02_04.do" style="border: none; overflow: hidden;" width="100%" height="1050px" ></iframe>				
				</div>
				<div class="ui bottom tab" data-tab="four-2">
					<iframe src="http://smartm.elsys.kr/sys/sys_05_02_03.do" frameborder="0" width="100%" height="1050px" scrolling="no"></iframe>
				</div>
				<div class="ui bottom tab" data-tab="four-3">
					<iframe src="http://smartm.elsys.kr/sys/sys_05_02_02.do" frameborder="0" width="100%" height="1050px" scrolling="no"></iframe>
				</div>
				<div class="ui bottom tab" data-tab="four-4">
					<iframe src="http://smartm.elsys.kr/sys/sys_05_02_01.do" frameborder="0" width="100%" height="1050px" scrolling="no"></iframe>
				</div>
			</div>
		</div>
		
	</div>

	<th:block layout:fragment="script">
		<script th:inline="javascript" id="json-data">
			// tutorial : http://forum.thymeleaf.org/Using-Thymeleaf-in-order-to-generate-inline-json-in-the-html-view-td4025733.html
			jsonData = /*[[${jsonData}]]*/ {} ;
			apiURI = /*[[${apiURI}]]*/ {} ;
		</script>
		<script th:src="@{/bab/vue-components/loader/LoaderComponent.js}"></script>
		
		<script>
			$('.ui.menu.elsys .item').tab();
		</script>

	</th:block>
</body>
</html>