a.file-hover {
  display: inline-block !important;
  width: 100%; }

span.label {
  margin: 5px 0 0 5px; }

small {
  margin: 5px 0 0 0;
  clear: both; }

#upload {
  margin: 0 auto;
  padding: 10px; }
  #upload .upload-logo {
    width: 207px;
    height: 174px;
    opacity: 0.7;
    margin: 20px 20%; }
    #upload .upload-logo.empty {
      background: url("../../../../app_modules_general/base/assets/bab/iconizr/icons/bab-main-empty.png") no-repeat;
      background-size: 75%; }
    #upload .upload-logo.full {
      background: url("../../../../app_modules_general/base/assets/bab/iconizr/icons/bab-main-full.png") no-repeat;
      background-size: 75%; }

#drop {
  margin-bottom: 10px; }

#upload ul {
  padding-left: 0; }

#upload ul li {
  overflow: hidden; }

.panel-body ul {
  word-wrap: break-word; }

#panel-upload-file .panel-body {
  min-height: 300px; }

#panel-user-message .panel-body {
  min-height: 300px; }

.panel-file-list {
  padding-bottom: 10px; }
  .panel-file-list .panel-body {
    height: 300px;
    overflow: auto; }

.panel-search {
  border-bottom: 1px solid #eaeaea; }
  .panel-search .form-group:last-child {
    margin-bottom: 0; }

ul.file-list li {
  padding: 10px 5px 15px 5px;
  border-bottom: 1px solid #eaeaea; }
  ul.file-list li a {
    padding: 0px 5px; }
  ul.file-list li a:hover {
    background: none;
    font-weight: bold; }

/*# sourceMappingURL=style.css.map */
