@import "../modules/all";

ul.sidebar-menu li a .title-en {
  	font-size: 12px;
  	font-weight: bold;
    width: 40px;
}

ul.sidebar-menu li a i, 
ul.sidebar-menu li a div {
  	float: left;
  	margin-right: 10px;
}