<!DOCTYPE html>
<html layout:decorator="layout">
<head>
	<meta charset="utf-8" />
	<title th:text="#{layout.associationrule}">Association Rule</title>
	<link rel="stylesheet" type="text/css" th:href="@{https://cdn.datatables.net/t/dt/dt-1.10.11/datatables.min.css}"/>
	<style>
	#SummaryTable {
		width: 100% !important;
	}
	#SummaryTable > thead > tr > th {
		text-align: left !important;
	}
	form > div {
		position: relative;
	}
	form > div > label {
	  position: absolute;
	}
	</style>
</head>
<body>
	<!-- Start Grid -->

	<div id="app" layout:fragment="content" class="ui grid">
		
		<div class="sixteen wide column tooltip">
			<div class="ui segment" style="margin-bottom: 30px;">
				<div id="relation" class="ui relation teal toggle icon button disabled" value="0" v-on:click="relationBtn" data-content="Use Activity Relation" data-variation="tiny inverted">
					<i class="maximize icon"></i>
				</div>
				<div id="activity" class="ui relation blue toggle icon button" value="1" v-on:click="relationBtn" data-content="Use Activity-Only" data-variation="tiny inverted">
					<i class="maximize icon"></i>
				</div>
				<div class="ui action input">
					<form id="validateForm" class="ui fluid form">
						<div class="inline fields">
							<div class="field">
								<input id="supportText" name="support" type="text" value="0.2" />
							</div>
							<div class="field">
								<input id="confidenceText" name="confidence" type="text" value="0.9" />
							</div>
							<!-- <button class="ui primary button" v-on:click="updateBtn()" th:text="#{common.update}"></button> -->
							<input type="button" class="ui primary button" v-on:click="getAr" th:value="#{common.update}"/>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="sixteen wide column asso-table">
			<loader :isactive="isProcessing"></loader>
			<table class="hover cell-border stripe datatables" id="SummaryTable">
				<thead>
					<tr>
						<th>IF</th>
						<th>THEN</th>
						<th th:text="#{association.confidence}">Confidence</th>
						<th th:text="#{association.support}">Support</th>
					</tr>
				</thead>
			</table>
		</div>
      
	</div>
	<!-- End Grid -->

	<th:block layout:fragment="script">
		<script th:inline="javascript" id="json-data">
			// tutorial : http://forum.thymeleaf.org/Using-Thymeleaf-in-order-to-generate-inline-json-in-the-html-view-td4025733.html
			jsonData = /*[[${jsonData}]]*/ {} ;
			apiURI = /*[[${apiURI}]]*/ {} ;
		</script>
		<script th:src="@{/bab/vue-components/loader/LoaderComponent.js}"></script>
		<script th:src="@{/bab/modules/patternvisualizer/associationrule.js}"></script>
		<script type="text/javascript" th:src="@{https://cdn.datatables.net/t/dt/dt-1.10.11/datatables.min.js}"></script>
<!-- 		<script th:src="@{/bower_components/jquery-validation/dist/jquery.validate.min.js}"></script> -->

		<script>
		$('#validateForm').form(
			{
				fields: {
					support: {
						identifier: 'support',
						rules: [
							{ type: 'empty', prompt: '내용을 입력해주세요' },
							{ type: 'decimal', prompt: '형식이 맞지 않습니다' },
							{ type: 'exactLength[3]', prompt: '형식이 맞지 않습니다' }
						]
					},
					confidence: {
						identifier: 'confidence',
						rules: [
							{ type: 'empty', prompt: '내용을 입력해주세요' },
							{ type: 'decimal', prompt: '형식이 맞지 않습니다' },
							{ type: 'exactLength[3]', prompt: '형식이 맞지 않습니다' }
						]
					}
				},
				on: 'blur',
				inline: true
			}
		);
		</script>


	</th:block>
</body>
</html>