<!DOCTYPE html>
<html layout:decorator="layout">
<head>
	<title th:text="#{layout.socialnetwork}">Social Network Miner</title>
	<style>
	.chord path {
	  fill-opacity: .67;
	  stroke: #000;
	  stroke-width: .5px;
	}
	.ui.custom.popup > p > a {
		color: #000 !important;
	}
	.ui.custom.popup > p > a:hover {
		color: #ccc !important;
	}
	</style>
</head>
<body>
	<!-- Start Grid -->
	<div id="app" layout:fragment="content" class="ui grid">
		<socialnetwork :data="data" :api-uri="apiURI" :conf="conf"></socialnetwork>
	</div>

	<th:block layout:fragment="script">
		<script th:inline="javascript" id="json-data">
			// tutorial : http://forum.thymeleaf.org/Using-Thymeleaf-in-order-to-generate-inline-json-in-the-html-view-td4025733.html
			jsonData = /*[[${jsonData}]]*/ {};
			apiURI = /*[[${apiURI}]]*/ {} ;
		</script>

		<div th:include="socialnetwork/socialnetwork-template :: template" th:remove="tag"></div>

		<script th:src="@{/bower_components/d3/d3.min.js}"></script>
		<script th:src="@{/bower_components/graphlib/dist/graphlib.core.min.js}"></script>
		<script th:src="@{/bower_components/dagre/dist/dagre.core.min.js}"></script>
		<script th:src="@{/bower_components/dagre-d3/dist/dagre-d3.core.min.js}"></script>
		
		<script th:src="@{/bab/vue-components/loader/LoaderComponent.js}"></script>
		<script th:src="@{/bab/vue-components/socialnetwork/socialnetwork.js}"></script>
		<script th:src="@{/bab/vue-components/socialnetwork/SocialClass.js}"></script>

		<script th:src="@{/bab/modules/patternvisualizer/socialnetwork.js}"></script>
	</th:block>
</body>
</html>
