<!DOCTYPE html>
<html layout:decorator="layout">
<head>
	<meta charset="utf-8" />
	<title th:text="#{layout.taskmatrix}">Task Matrix</title>

	<link rel="stylesheet" th:href="@{/bab/modules/patternvisualizer/taskmatrix.css}"/>
	
	<script th:src="@{/bower_components/d3/d3.min.js}"></script>
	<script th:src="@{/bower_components/d3/d3.tip.v0.6.3.js}"></script>
	<script th:src="@{//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js}"></script>
</head>
<body>
	<!-- Start content -->
	<div id="app" layout:fragment="content">
		
		<div class="ui grid">
			<div class="sixteen wide column">
				<div class="ui segment">
					<div class="ui five column stackable grid">
						<div class="row" style="padding-bottom: 0px;">
							<div class="column">
								<h3 th:text="#{taskmatrix.row}"></h3>
							</div>
							<div class="column">
								<h3 th:text="#{taskmatrix.column}"></h3>
							</div>
							<div class="column">
								<h3 th:text="#{taskmatrix.unit}"></h3>
							</div>
							<div class="column">
								<h3 th:text="#{taskmatrix.order}"></h3>
							</div>
							<div class="column">
							</div>
						</div>
						<div class="row">
							<div class="column">
								<select class="ui fluid dropdown" id="row">
									<option th:text="#{taskmatrix.activeandeventtype}"></option>
									<option th:text="#{taskmatrix.activity}"></option>
									<option th:text="#{taskmatrix.originator}"></option>
									<option th:text="#{taskmatrix.performers}"></option>
								</select>
							</div>
							<div class="column">
								<select class="ui fluid dropdown" id="column">
									<option th:text="#{taskmatrix.activeandeventtype}"></option>
									<option th:text="#{taskmatrix.activity}"></option>
									<option th:text="#{taskmatrix.originator}"></option>
									<option th:text="#{taskmatrix.performers}"></option>
								</select>
							</div>
							<div class="column">
								<select class="ui fluid dropdown" id="unit">
									<option th:text="#{taskmatrix.frequency}"></option>
									<option th:text="#{taskmatrix.duration}"></option>
								</select>
							</div>
							<div class="column">
								<select class="ui fluid dropdown" id="order">
									<option th:text="#{taskmatrix.bylabel}"></option>
									<option th:text="#{taskmatrix.byunits}"></option>
									<option th:text="#{taskmatrix.bycluster}"></option>
								</select>
							</div>
							<div class="column center aligned">
								<div class="ui blue button" v-on:click="updateBtn" th:text="#{common.update}"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="ui grid">
			<!-- progress bar -->
			<div class="ten wide middle aligned column">
				<loader :isactive="isProcessing"></loader>
				<!-- chart color bar -->
				<div style="width: 100%;">
					<span class="unitTitle" th:text="#{taskmatrix.relative}"></span>&nbsp;
					<span class="unitTitle" th:text="#{taskmatrix.frequency}"></span>
					<span class="unitTitleDuration" th:text="#{taskmatrix.relative}"></span>&nbsp;
					<span class="unitTitleDuration" th:text="#{taskmatrix.duration}"></span>
					<div id="legend"></div>
				</div>
				<p th:text="#{taskmatrix.badevents}"></p>
				<div class="ui red progress">
					<div id="bad" class="bar">
						<span id="badLabel"></span>
					</div>
				</div>
				<p th:text="#{taskmatrix.neutralevents}"></p>
				<div class="ui blue progress">
					<div id="neutral" class="bar">
						<span id="neutralLabel"></span>
					</div>
				</div>
				<p th:text="#{taskmatrix.goodevents}"></p>
				<div class="ui green progress">
					<div id="good" class="bar">
						<span id="goodLabel"></span>
					</div>
				</div>
			</div>
			<!-- table -->
			<div class="six wide column center aligned">
				<loader :isactive="isProcessing"></loader>
				<table class="ui fixed selectable center aligned celled striped table">
					<p></p>
					<thead>
						<h4>
							<span class="unitTitle" th:text="#{taskmatrix.statistic}"></span>
							<span class="unitTitleDuration" th:text="#{taskmatrix.statisticduration}"></span>
						</h4>
					</thead>
					<tbody>
						<tr><td th:text="#{common.min}"></td><td id='minText' class="text-right"></td></tr>
			      		<tr><td th:text="#{common.max}"></td><td id='maxText' class="text-right"></td></tr>
			      		<tr><td th:text="#{common.mean}"></td><td id= 'meanText' class="text-right"></td></tr>
			      		<tr><td th:text="#{common.standarddeviation}"></td><td id='stdText' class="text-right"></td></tr>
			      		<tr><td th:text="#{common.nulldata}"></td><td id='nullText' class="text-right"></td></tr>
			      		<tr><td th:text="#{common.notnulldata}"></td><td id='notnullText' class="text-right"></td></tr>
					</tbody>
				</table>
			</div>
	
			<!-- graph -->
			<div class="sixteen wide column">
				<div class="ui fluid segment task-seg">
					
					<div id="tooltip" class="hidden">
						<span id="value"></span>
					</div>
					<loader :isactive="isProcessing"></loader>
					<div id="content-graph"></div>
	<!-- 				<svg id="taskmatrix"></svg> -->
				</div>
			</div>
			
			<!-- modal -->
			<div class="ui modal" id="myModal" >
	<!-- 			<i class="close icon"></i> -->
				<div class="header" th:text="#{taskmatrix.eventevaluation}"></div>
				<div class="content">
					<div class="ui grid" id="movementForm">
						<div class="row">
							<div class="eight wide column">
								<p>From</p>
								<div class="ui fluid input">
									<input type="text" name="from" id="from-name" value="S3PKG (complete)" disabled="disabled" />
									<input type="hidden" name="fromHidden" id="from-name-hidden" disabled="disabled" />
								</div>
								<p>To</p>
								<div class="ui fluid input">
									<input type="text" name="to" id="to-name" value="S3PKG (complete)" disabled="disabled" />
									<input type="hidden" name="toHidden" id="to-name-hidden" disabled="disabled" />
								</div>
							</div>
							<div class="eight wide column">
								<div class="ui segment">
									<div class="ui top attached label">
										<i class="signal icon"></i> 
										<span th:text="#{taskmatrix.numberofcases}"></span><span id="casesNumber"></span>
									</div>
									<div class="ul list list-group">
										<i class="right triangle icon"></i>
	<!-- 									<div class="item"></div> -->
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="six wide column">
								<p><span class="unitTitle" th:text="#{taskmatrix.frequency}"></span></p>
								<p><span class="unitTitleDuration" th:text="#{taskmatrix.duration}"></span></p>
								<div class="ui fluid input">
									<input type="text" value="2,211" id="frequency" disabled="disabled" />
								</div>
							</div>
							<div class="six wide column">
								<p th:text="#{taskmatrix.ratio}"></p>
								<div class="ui fluid input">
									<input type="text" value="0.745" id="ratio" disabled="disabled" />
								</div>
							</div>
							<div class="four wide column">
								<p th:text="#{taskmatrix.movement}"></p>
								<div id="badChoice" class="ui red large label" th:text="#{taskmatrix.badevent}"></div>
								<div id="neutralChoice" class="ui blue large label" th:text="#{taskmatrix.neutral}"></div>
								<div id="goodChoice" class="ui green large label" th:text="#{taskmatrix.goodevent}"></div>
							</div>
						</div>
						<div class="ui buttons" id="radioButton">
							<label class="ui red button">
								<input type="radio" name="options" value="-1" id="option1" autocomplete="off" th:text="#{taskmatrix.badevent}" />
							</label>
							<label class="ui blue button">
								<input type="radio" name="options" value="0" id="option2" autocomplete="off" th:text="#{taskmatrix.neutral}" />
							</label>
							<label class="ui green button">
								<input type="radio" name="options" value="1" id="option3" autocomplete="off" th:text="#{taskmatrix.goodevent}" />
							</label>
						</div>
					</div>
					<p></p>
				</div>
				<div class="actions">
					<button class="ui cancel button" id="dismissModal" th:text="#{taskmatrix.close}"></button>
					<button class="ui primary button" id="saveMovement" th:text="#{taskmatrix.savechanges}"></button>
				</div>
			</div>
		</div>

	</div>
	<!-- End content -->


	<th:block layout:fragment="script">
		<script th:inline="javascript" id="json-data">
			// tutorial : http://forum.thymeleaf.org/Using-Thymeleaf-in-order-to-generate-inline-json-in-the-html-view-td4025733.html
			jsonData = /*[[${jsonData}]]*/ {} ;
			apiURI = /*[[${apiURI}]]*/ {} ;
		</script>
		<script>
			$('.ui.dropdown').dropdown();
		</script>
		<script th:src="@{/bab/vue-components/loader/LoaderComponent.js}"></script>
		<script th:src="@{/bab/modules/patternvisualizer/taskmatrix.js}"></script>
		<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js}"></script>
		<script th:src="@{/bab/js/colorbrewer.js}"></script>
		
	</th:block>
</body>
</html>