<!DOCTYPE html>
<html th:with="lang=${#locale.language}" th:lang="${lang}"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<!-- Standard Meta -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	
	<title>Smart Factory - #{info.title}</title>
	
	<link rel="stylesheet"
		th:href="@{/bower_components/semantic/dist/semantic.min.css}" />
	<link rel="stylesheet"
		th:href="@{/bower_components/qtip2/jquery.qtip.min.css}" />
	<link rel="stylesheet"
		th:href="@{/bower_components/jquery-ui/themes/hot-sneaks/jquery-ui.min.css}" />
	<link rel="stylesheet"
		th:href="@{/bower_components/semantic-ui-calendar/dist/calendar.min.css}" />
	<link rel="stylesheet" th:href="@{/bab/modules/docs.css}" />
	<link rel="stylesheet" th:href="@{/bab/modules/layout.css}" />
</head>
<body id="app" class="minimal pushable">
	<!-- Left Side menu -->
	<!-- local variable in thymeleaf http://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html#local-variables -->
	<div class="ui inverted vertical left sidebar menu">
		<div class="item">
			<img class="ui centered image f-logo"
				th:src="@{/bab/images/nTreeF.png}" />
		</div>
		<a class="active item" th:href="@{/}"> <b th:text="#{layout.dashboard}"></b>
		</a>
		<!-- add parameter in href http://www.thymeleaf.org/doc/articles/standardurlsyntax.html#adding-parameters -->
		<!-- 
		<a class="item" th:href="@{/bab/dashboard}" data-content="Dashboard">
			<b th:text="#{layout.dashboard}"></b>
		</a>
		-->
		<div class="item item-tooltip">
			<div class="header" data-content="Process Visualizer"
				data-variation="tiny" th:text="#{layout.processvisualizer}"></div>
			<div class="menu">
				<a class="item"
					th:href="@{/bab/processvisualizer/analysis/}
					+ ${jsonData.workspaceId + '/' + jsonData.datasetId
					+ '/' + jsonData.sdt + '/' + jsonData.edt}"
					
					data-content="Heuristic Miner" data-variation="tiny"
					th:text="#{layout.heuristicminer}"></a>
				<a class="item"
					th:href="@{/bab/processvisualizer/logreplay/}
					+ ${jsonData.workspaceId + '/' + jsonData.datasetId
					+ '/' + jsonData.sdt + '/' + jsonData.edt}"
					data-content="Log Replay" data-variation="tiny"
					th:text="#{layout.logreplay}"></a>
			</div>
		</div>
		<div class="item item-tooltip">
			<div class="header" data-content="Pattern Visualizer"
				data-variation="tiny" th:text="#{layout.patternvisualizer}">
				<!-- Pattern Visualizer -->
			</div>
			<div class="menu">
				<a class="item"
					th:href="@{/bab/patternvisualizer/taskmatrix/}
					+ ${jsonData.workspaceId + '/' + jsonData.datasetId
					+ '/' + jsonData.sdt + '/' + jsonData.edt}"
					data-content="Task Matrix" data-variation="tiny"
					th:text="#{layout.taskmatrix}"> <!-- Task Matrix --></a> <a
					class="item"
					th:href="@{/bab/patternvisualizer/associationrule/}
					+ ${jsonData.workspaceId + '/' + jsonData.datasetId
					+ '/' + jsonData.sdt + '/' + jsonData.edt}"
					data-content="Association Rule" data-variation="tiny"
					th:text="#{layout.associationrule}"> <!-- Association Rule --></a>
				<a class="item"
					th:href="@{/bab/patternvisualizer/timegap/}
					+ ${jsonData.workspaceId + '/' + jsonData.datasetId
					+ '/' + jsonData.sdt + '/' + jsonData.edt}"
					data-content="Time Gap" data-variation="tiny"
					th:text="#{layout.timegap}"> <!-- Time Gap --></a> <a class="item"
					th:href="@{/bab/patternvisualizer/socialnetwork/}
					+ ${jsonData.workspaceId + '/' + jsonData.datasetId
					+ '/' + jsonData.sdt + '/' + jsonData.edt}"
					data-content="Social Network" data-variation="tiny"
					th:text="#{layout.socialnetwork}">
				<!-- Social Network --></a>
			</div>
		</div>
		<div class="item item-tooltip">
			<div class="header" data-content="Performance Visualizer"
				data-variation="tiny" th:text="#{layout.performancevisualizer}">
				<!-- Performance Visualizer -->
			</div>
			<div class="menu">
				<a class="item"
					th:href="@{/bab/performancevisualizer/delta/}
					+ ${jsonData.workspaceId + '/' + jsonData.datasetId
					+ '/' + jsonData.sdt + '/' + jsonData.edt}"
					data-content="Delta Analysis" data-variation="tiny"
					th:text="#{layout.deltaanalysis}">
					<!--Delta Analysis-->
				</a> <a class="item"
					th:href="@{/bab/performancevisualizer/dotted/}
					+ ${jsonData.workspaceId + '/' + jsonData.datasetId
					+ '/' + jsonData.sdt + '/' + jsonData.edt}"
					data-content="Dotted Chart" data-variation="tiny"
					th:text="#{layout.dottedchart}">
					<!--Dotted Chart-->
				</a>
			</div>
		</div>
		<div class="item item-tooltip">
			<div class="header" data-content="Reporting" data-variation="tiny"
				th:text="#{layout.reporting}">
				<!-- Reporting -->
			</div>
			<div class="menu">
				<!-- <a class="item" th:href="@{/bab/reporting/kpi/kpi/{u}(u=${wdr})} + ${jsonData.sdt} + @{/} + ${jsonData.edt}"
					data-variation="tiny" th:text="#{reporting.wip}"></a>-->
					<a class="item" th:href="@{/bab/reporting/kpi/} + ${jsonData.workspaceId + '/' + jsonData.datasetId
					+ '/' + jsonData.sdt + '/' + jsonData.edt}"
					data-variation="tiny" th:text="#{reporting.wip}"></a>
			</div>
		</div>
		<div class="item item-tooltip">
			<div class="header" data-content="Schedule" data-variation="tiny"
				th:text="#{schedule.schedule}">공정 스케쥴</div>
			<div class="menu">
			
				<a class="item" th:href="@{/bab/schedule/schedule/}+ ${jsonData.workspaceId + '/' + jsonData.datasetId
					+ '/' + jsonData.sdt + '/' + jsonData.edt}"
					data-variation="tiny" th:text="#{schedule.management}">작업 관리</a> 
			 <!-- <a class="item" th:href="@{/bab/schedule/simulate/}+ ${jsonData.workspaceId + '/' + jsonData.datasetId
					+ '/' + jsonData.sdt + '/' + jsonData.edt}"
					data-variation="tiny" th:text="#{schedule.schedule}">스케쥴</a>
					--> 
			</div>
		</div>
		<div class="item item-tooltip" th:if="${session.datasetId}">
          <div class="header" data-content="Statistical Analysis" data-variation="tiny" th:text="#{rservices.analysis}">공정 스케쥴</div>
	        <div class="menu">
	          <a class="item"
	          		th:href="@{/bab/rservices/correlation/}
	          		+ ${jsonData.workspaceId + '/' + jsonData.datasetId
	          		+ '/' + jsonData.sdt + '/' + jsonData.edt}"
	          		data-variation="tiny" th:text="#{rservices.rservices}">작업 관리</a>
	        </div>
	     </div>
	</div>
	<!-- End Left Side menu -->

	<!-- Right Side menu -->
	<div id="right-sidebar" class="ui right sidebar wide vertical menu">
<!-- 		<div class="ui item"> -->
<!-- 			<div class="ui button" v-on:click="test1()" value="test1"></div> -->
<!-- 			<div class="ui button" v-on:click="test2()" value="test2"></div> -->
<!-- 		</div> -->
<!-- 		<div class="ui item job failed"> -->
<!-- 			<div class="ui accordion"> -->
<!-- 				<div class="title ui grid"> -->
<!-- 						<div class="twelve wide column job content"><i class="dropdown icon"></i><span>Repository@123512341234</span></div> -->
<!-- 						<div class="right aligned four wide column job content"><i class="spinner loading icon"></i></div> -->
<!-- 				</div> -->
<!-- 				<div class="content ui grid"> -->
<!-- 					<div class="one wide column">JobQueueID</div> -->
<!-- 					<div class="right aligned fourteen wide column">asdfsadfasdfsdf</div> -->
<!-- 					<div class="one wide column">start</div> -->
<!-- 					<div class="right aligned fourteen wide column">BBBB</div> -->
<!-- 					<div class="one wide column">end</div> -->
<!-- 					<div class="right aligned fourteen wide column">BBBB</div> -->
<!-- 					<div class="one wide column">report</div> -->
<!-- 					<div class="right aligned fourteen wide column">BBBB</div> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 		<template v-for="job in jobs"> -->
			<div v-for="job in jobs" class="ui item job" v-bind:class="{'running':job.jobStatus=='RUNNING', 'failed':job.jobStatus=='FAILED', 'succeeded':job.jobStatus=='SUCCEEDED'}">
				<div class="ui accordion">
					<div class="title ui grid">
						<div class="fourteen wide column job content"><i class="dropdown icon"></i><span v-text="job.jobIdNick">jobIdNick</span></div>
						<div class="right aligned one wide column job content">
							<i class="icon"
								v-bind:class="{'spinner loading':job.jobStatus=='RUNNING', 'checkmark':job.jobStatus=='SUCCEEDED', 'remove':job.jobStatus=='FAILED'}"></i></div>
					</div>
					<div class="content ui grid">
						<div class="one wide column">start</div>
						<div class="right aligned fourteen wide column" v-text="job.start">1990-01-01</div>
						<div class="one wide column">end</div>
						<div class="right aligned fourteen wide column" v-text="job.end">1990-01-01</div>
						<div class="one wide column">report</div>
						<div class="right aligned fourteen wide column" v-text="job.report">0000</div>
					</div>
				</div>
			</div>
<!-- 		</template> -->

		<!-- 		<template v-for="job in jobs"> -->
		<!-- 			<div class="ui segment" v-bind:class="{'tertiary':!job.isRunning}"> -->
		<!-- 			<div class="ui top active progress indicating" data-percent="100" v-bind:class="[job.color]"> -->
		<!--           		<div class="bar"></div> -->
		<!--           	</div> -->
		<!-- 				<div class="ui list"> -->
		<!-- 					<div class="item"> -->
		<!-- 						<div class="header left floated">no</div> -->
		<!-- 						<div class="content right floated">{{job.no}}</div> -->
		<!-- 					</div> -->
		<!-- 					<div class="item"> -->
		<!-- 						<div class="header left floated">type</div> -->
		<!-- 						<div class="content right floated">{{job.jobType}}</div> -->
		<!-- 					</div> -->
		<!-- 					<div class="item"> -->
		<!-- 						<div class="header left floated">status</div> -->
		<!-- 						<div class="content right floated">{{job.jobStatus}}</div> -->
		<!-- 					</div> -->
		<!-- 					<div class="item"> -->
		<!-- 						<div class="header left floated">description</div> -->
		<!-- 						<div class="content right floated">{{job.job}}</div> -->
		<!-- 					</div> -->
		<!-- 					<div class="item"> -->
		<!-- 						<div class="header left floated">start time</div> -->
		<!-- 						<div class="content right floated">{{job.start}}</div> -->
		<!-- 					</div> -->
		<!-- 					<div class="item"> -->
		<!-- 						<div class="header left floated">end time</div> -->
		<!-- 						<div class="content right floated">{{job.end}}</div> -->
		<!-- 					</div> -->
		<!-- 				</div> -->
		<!-- 			</div> -->
		<!-- 		</template> -->
	</div>
	<!-- End Right Side menu -->

	<!-- Top -->
	<div id="top-bar" class="ui top fixed menu">
		<div class="item">
			<div class="ui big icon black compact toggle button"
				data-transition="overlay">
				<i class="sidebar icon"></i>
			</div>
		</div>
		<div class="item" th:text="${session.user.workspace}">
		</div>
		<div class="item" th:text="${session.user.dataset}">
		</div>
 		<div class="item" th:text="${session.user.name}">
 		</div>
 		<form class="item" id="date-request-form" method="GET">
			<div class="ui calendar" id="sdt">
				<div class="ui input left icon">
					<i class="calendar icon"></i>
					<input id="sdtVal" type="text" placeholder="Start" th:value="${jsonData.sdt}" />
				</div>
			</div>
			<div class="ui">~</div>
			<div class="ui calendar" id="edt">
				<div class="ui input left icon">
					<i class="calendar icon"></i>
					<input id="edtVal" type="text" placeholder="End" th:value="${jsonData.edt}" />
				</div>
			</div>
			<button id="dateSubmit" class="ui primary button"> request </button>
		</form>
		<div class="right menu">
			<div class="item">
				<form id="upload-form" method="POST" enctype="multipart/form-data">
					<div id="upload-form-field" class="fields">
	<!-- 				<div class="twelve wide field"> -->
						<div class="ui action input">
							<input type="text" id="_logUploader" />
								<label for="logUploader" class="ui icon button btn-file" >
								<i class="cloud upload icon"></i>
								<input type="file" id="logUploader" name="uploadFile" style="display: none" />
							</label>
						</div>
	<!-- 				</div> -->
	<!-- 				<div class="one wide field"> -->
						<div id="fileUploadBtn" v-on:click="clickFileUploadBtn()"
						class="ui teal button fileUploadBtn">
							<i id="fileUploadBtnIcon" class="upload icon"></i>
						</div>
	<!-- 				</div> -->
					
					</div>
				</form>
			</div>
			<a class="item showjob" data-content="null" data-position="bottom right"><i class="hourglass half icon"></i>Jobs</a>
			<a class="item" th:href="@{/bab/login}">Log Out</a>
<!-- 			<a class="item">Help</a> -->
		</div>
	</div>
	<!-- End Top -->

	<!-- Contents -->
	<div class="pusher">
		<div class="full height">
			<div class="article">
				<div class="main ui container">
					<div layout:fragment="content">
						<!-- Will be replaced by view templates -->
					</div>
				</div>
			</div>
			<!-- End article -->
		</div>
		<!-- full height -->
	</div>
	<!-- End Contents -->
	<script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
	<script th:src="@{/bower_components/qtip2/jquery.qtip.min.js}"></script>
	<script th:src="@{/bower_components/jquery-ui/jquery-ui.min.js}"></script>
	<script th:src="@{/bower_components/lodash/lodash.min.js}"></script>
	<script th:src="@{/bower_components/numeral/min/numeral.min.js}"></script>
	<script th:src="@{/bower_components/moment/min/moment.min.js}"></script>
	<script th:src="@{/bower_components/semantic/dist/semantic.min.js}"></script>
	<script th:src="@{/bower_components/vue/dist/vue.js}"></script>
	<script th:src="@{/bower_components/vue-resource/dist/vue-resource.min.js}"></script>
	<script th:src="@{/bower_components/semantic-ui-calendar/dist/calendar.min.js}"></script>
	

	<script th:src="@{/bab/js/JSON.js}"></script>
	<script th:src="@{/bab/js/BabHelper.js}"></script>
	<script th:src="@{/bab/js/VueFilter.js}"></script>
<!-- 	<script th:src="@{/bab/vue-components/fileupload/FileUploadComponent.js}"></script> -->
	<script th:src="@{/bab/modules/layout.js}"></script>
	<script type="text/javascript">
		var sdt, edt;
		
		Vue.http.options.emulateJSON = true; // from https://github.com/vuejs/vue-resource/blob/master/docs/config.md#legacy-web-servers
		Vue.http.options.emulateHTTP = true;
		
		Vue.config.debug=true;
		
		moment.updateLocale('ko', null);
		
		jsonData = /*[[${jsonData}]]*/ {};
		apiURI = /*[[${apiURI}]]*/ {} ;
		$("#date-request-form").submit(function(event) {
			var sdt = $('#sdtVal').val();
			var edt = $('#edtVal').val()
			var nowUrl = window.location.href;
			var splittedUrl = nowUrl.split('/');
			splittedUrl[splittedUrl.length-2] = sdt;
			splittedUrl[splittedUrl.length-1] = edt;
// 			console.log(splittedUrl.join("/"));
			location.replace(splittedUrl.join("/"));
			event.preventDefault();
		})
	</script>
	<!-- include page spesific script http://stackoverflow.com/questions/23215705/thymeleaf-how-to-include-page-specific-javascript-using-layouts -->
	<th:block layout:fragment="script"></th:block>
</body>
</html>