<!DOCTYPE html>
<html layout:decorator="layout-home" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title th:text="#{home.title}"></title>
<link rel="stylesheet" th:href="@{/bab/modules/home/home.css}" />
<link rel="stylesheet" th:href="@{/components/semantic/dist/semantic.min.css}" />
<link rel="stylesheet" th:href="@{/bab/vue-components/fileupload/FileUploadComponent.css}" />

<!-- Predefined Styles -->
<style>
.ui.form .fields {
	margin: 0;
}

.ui.cards .card {
	box-shadow: none;
}

.card .inverted.segment {
	border: 0;
}

@
-webkit-keyframes rotating /* Safari and Chrome */ {from { -webkit-transform:rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}

to {
	-webkit-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
}

}
@
keyframes rotating {from { -ms-transform:rotate(0deg);
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}

to {
	-ms-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
}

}
.card .green.inverted.segment i.cog.icon {
	-webkit-animation: rotating 7s linear infinite;
	-moz-animation: rotating 7s linear infinite;
	-ms-animation: rotating 7s linear infinite;
	-o-animation: rotating 7s linear infinite;
	animation: rotating 7s linear infinite;
}

/* .card .red.inverted.segment i.cog.icon {
	      -webkit-animation: rotating 28s linear infinite;
	      -moz-animation: rotating 28s linear infinite;
	      -ms-animation: rotating 28s linear infinite;
	      -o-animation: rotating 28s linear infinite;
	      animation: rotating 28s linear infinite;
	    } */
section.factory.segment {
	margin-bottom: 2em;
}
</style>
</head>
<body>
	<!-- Start Grid -->
	<div id="app" layout:fragment="content-home" class="ui grid">
		<div class="pusher" style="width: 100%;">
			<div class="ui wrapper basic segment">

				<!-- Header -->
				<h1 class="ui header">Dashboard</h1>
				<div class="ui divider"></div>

				<!-- UI Form -->
				<div class="ui form">
					<div class="inline fields">
						<div class="sixteen wide field">
							<div class="ui left icon input">
								<i class="search icon"></i> <input type="text" placeholder="Search by factory / machine code" />
							</div>
							<div class="ui big icon compact toggle button right floated">
								<i class="list icon"></i>
							</div>
						</div>
					</div>
					<div class="inline fields">
						<label for="display-machines">Display Machines:</label>
						<div class="field">
							<div class="ui radio checkbox">
								<input type="radio" name="display-machines" checked="" tabindex="0" class="hidden" /> <label>All</label>
							</div>
						</div>
						<div class="field">
							<div class="ui radio checkbox">
								<input type="radio" name="display-machines" tabindex="0" class="hidden" /> <label>정상</label>
							</div>
						</div>
						<div class="field">
							<div class="ui radio checkbox">
								<input type="radio" name="display-machines" tabindex="0" class="hidden" /> <label>오류</label>
							</div>
						</div>
					</div>
				</div>

				<div class="ui divider"></div>

				<!-- Factory Monitor -->
				<section class="factory segment">
					<div class="ui top attached message">
						<h3 class="ui header">Factory - F001</h3>
					</div>
					<div class="ui attached segment">
						<div class="ui five stackable doubling link cards">
							<a href=""  class="fluid card">
								<div class="ui top attached green inverted segment">
									<div class="right floated meta">1h 2m</div>
									MC_0001
								</div>
								<div class="ui attached green inverted segment">
									<center>
										<i class="massive cog icon"></i>
									</center>
								</div>
								<div class="ui bottom attached green inverted segment">
									<center>
										<h3>정상</h3>
									</center>
								</div>
							</a> <a href=""  class="fluid card">
								<div class="ui top attached red inverted segment">
									<div class="right floated meta">7m</div>
									MC_0002
								</div>
								<div class="ui attached red inverted segment">
									<center>
										<i class="massive times circle icon"></i>
									</center>
								</div>
								<div class="ui bottom attached red inverted segment">
									<center>
										<h3>오류</h3>
									</center>
								</div>
							</a> <a href=""  class="fluid card">
								<div class="ui top attached green inverted segment">
									<div class="right floated meta">2h</div>
									MC_0003
								</div>
								<div class="ui attached green inverted segment">
									<center>
										<i class="massive cog icon"></i>
									</center>
								</div>
								<div class="ui bottom attached green inverted segment">
									<center>
										<h3>정상</h3>
									</center>
								</div>
							</a> <a href=""  class="fluid card">
								<div class="ui top attached green inverted segment">
									<div class="right floated meta">1d 18h</div>
									MC_0004
								</div>
								<div class="ui attached green inverted segment">
									<center>
										<i class="massive cog icon"></i>
									</center>
								</div>
								<div class="ui bottom attached green inverted segment">
									<center>
										<h3>정상</h3>
									</center>
								</div>
							</a> <a href=""  class="fluid card">
								<div class="ui top attached green inverted segment">
									<div class="right floated meta">22h</div>
									MC_0005
								</div>
								<div class="ui attached green inverted segment">
									<center>
										<i class="massive cog icon"></i>
									</center>
								</div>
								<div class="ui bottom attached green inverted segment">
									<center>
										<h3>정상</h3>
									</center>
								</div>
							</a> <a href=""  class="fluid card">
								<div class="ui top attached green inverted segment">
									<div class="right floated meta">14m</div>
									MC_0006
								</div>
								<div class="ui attached green inverted segment">
									<center>
										<i class="massive cog icon"></i>
									</center>
								</div>
								<div class="ui bottom attached green inverted segment">
									<center>
										<h3>정상</h3>
									</center>
								</div>
							</a> <a href=""  class="fluid card">
								<div class="ui top attached green inverted segment">
									<div class="right floated meta">3h</div>
									MC_0007
								</div>
								<div class="ui attached green inverted segment">
									<center>
										<i class="massive cog icon"></i>
									</center>
								</div>
								<div class="ui bottom attached green inverted segment">
									<center>
										<h3>정상</h3>
									</center>
								</div>
							</a> <a href=""  class="fluid card">
								<div class="ui top attached red inverted segment">
									<div class="right floated meta">2h 30m</div>
									MC_0008
								</div>
								<div class="ui attached red inverted segment">
									<center>
										<i class="massive times circle icon"></i>
									</center>
								</div>
								<div class="ui bottom attached red inverted segment">
									<center>
										<h3>정상</h3>
									</center>
								</div>
							</a>
						</div>
					</div>
					<div class="ui bottom attached warning message">
						<div class="ui basic green label">정상: 6</div>
						+
						<div class="ui basic red label">오류: 2</div>
						=
						<div class="ui basic label">Total: 8</div>
					</div>
				</section>

				<!-- Factory Monitor -->
				<section class="factory segment">
					<div class="ui top attached message">
						<h3 class="ui header">Factory - F002</h3>
					</div>
					<div class="ui attached segment">
						<div class="ui five stackable doubling link cards">
							<a href=""  class="fluid card">
								<div class="ui top attached green inverted segment">
									<div class="right floated meta">1h 2m</div>
									MC_0001
								</div>
								<div class="ui attached green inverted segment">
									<center>
										<i class="massive cog icon"></i>
									</center>
								</div>
								<div class="ui bottom attached green inverted segment">
									<center>
										<h3>정상</h3>
									</center>
								</div>
							</a> <a href=""  class="fluid card">
								<div class="ui top attached red inverted segment">
									<div class="right floated meta">7m</div>
									MC_0002
								</div>
								<div class="ui attached red inverted segment">
									<center>
										<i class="massive times circle icon"></i>
									</center>
								</div>
								<div class="ui bottom attached red inverted segment">
									<center>
										<h3>오류</h3>
									</center>
								</div>
							</a> <a href=""  class="fluid card">
								<div class="ui top attached green inverted segment">
									<div class="right floated meta">2h</div>
									MC_0003
								</div>
								<div class="ui attached green inverted segment">
									<center>
										<i class="massive cog icon"></i>
									</center>
								</div>
								<div class="ui bottom attached green inverted segment">
									<center>
										<h3>정상</h3>
									</center>
								</div>
							</a> <a href=""  class="fluid card">
								<div class="ui top attached green inverted segment">
									<div class="right floated meta">1d 18h</div>
									MC_0004
								</div>
								<div class="ui attached green inverted segment">
									<center>
										<i class="massive cog icon"></i>
									</center>
								</div>
								<div class="ui bottom attached green inverted segment">
									<center>
										<h3>정상</h3>
									</center>
								</div>
							</a>
						</div>
					</div>
					<div class="ui bottom attached warning message">
						<div class="ui basic green label">정상: 3</div>
						+
						<div class="ui basic red label">오류: 1</div>
						=
						<div class="ui basic label">Total: 4</div>
					</div>
				</section>
			</div>


		</div>
	</div>
	<!-- End Grid -->

	<th:block layout:fragment="script">
		<script th:inline="javascript" id="json-data">
			jsonData = /*[[${jsonData}]]*/{};
			apiURI = /*[[${apiURI}]]*/{};
			var theModal = $('.ui.modal').modal('setting', 'closable', false);
		</script>
		<script th:src="@{/bab/vue-components/loader/LoaderComponent.js}"></script>
		<script th:src="@{/bab/vue-components/fileupload/FileUploadComponent.js}"></script>
		<script th:src="@{/bab/modules/home/home.js}"></script>
	</th:block>
</body>
</html>
