<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>Predictive Maintenance for Cloud Connector</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <link rel="stylesheet" th:href="@{/images/icons/favicon.png}" type="image/x-icon"/>
      <link rel="stylesheet" th:href="@{/components/semantic/dist/semantic.min.css}" />
      <link rel="stylesheet" th:href="@{/css/common.css}" />
      <link rel="stylesheet" th:href="@{/css/menu.css}" />
      <link rel="stylesheet" th:href="@{/css/footer.css}" />
      
      <!-- Predefined Styles -->
	  <style>
	    .ui.form .fields {
	      margin: 0;
	    }
	
	    .ui.cards .card {
	      box-shadow: none;
	    }
	
	    .card .inverted.segment {
	      border: 0;
	    }
	
	    @-webkit-keyframes rotating /* Safari and Chrome */ {
	      from {
	        -webkit-transform: rotate(0deg);
	        -o-transform: rotate(0deg);
	        transform: rotate(0deg);
	      }
	      to {
	        -webkit-transform: rotate(360deg);
	        -o-transform: rotate(360deg);
	        transform: rotate(360deg);
	      }
	    }
	    @keyframes rotating {
	      from {
	        -ms-transform: rotate(0deg);
	        -moz-transform: rotate(0deg);
	        -webkit-transform: rotate(0deg);
	        -o-transform: rotate(0deg);
	        transform: rotate(0deg);
	      }
	      to {
	        -ms-transform: rotate(360deg);
	        -moz-transform: rotate(360deg);
	        -webkit-transform: rotate(360deg);
	        -o-transform: rotate(360deg);
	        transform: rotate(360deg);
	      }
	    }
	
	    .card .green.inverted.segment i.cog.icon {
	      -webkit-animation: rotating 7s linear infinite;
	      -moz-animation: rotating 7s linear infinite;
	      -ms-animation: rotating 7s linear infinite;
	      -o-animation: rotating 7s linear infinite;
	      animation: rotating 7s linear infinite;
	    }
	
	    /* .card .red.inverted.segment i.cog.icon {
	      -webkit-animation: rotating 28s linear infinite;
	      -moz-animation: rotating 28s linear infinite;
	      -ms-animation: rotating 28s linear infinite;
	      -o-animation: rotating 28s linear infinite;
	      animation: rotating 28s linear infinite;
	    } */
	
	    section.factory.segment {
	      margin-bottom: 2em;
	    }
	
	  </style>
   </head>
    
   <body>
        
  <div class="ui top fixed menu">

    <!-- Toogle sidebar -->
    <div class="item">
      <div id="toggleTopNavbar" onclick="toggleTopNavbar()" class="ui big icon compact toggle button" data-transition="overlay">
        <i class="sidebar icon"></i>
      </div>
    </div>

    <!-- Menu item -->
    <a class="item"><i class="home icon"></i> Home</a>
    <a class="item"><i class="at icon"></i> About</a>
    <a class="item"><i class="question icon"></i> FAQ</a>

    <!-- Right menu item -->
    <div class="right menu">
      <div class="ui dropdown item">
        <img class="ui avatar image" th:src="@{/images/avatars/steve.jpg}"/>
          Administrator
        <i class="dropdown icon"></i>
        <div class="menu">
          <a href="login.html" class="item" v-on:click="logout()"><i class="power icon"></i> Logout</a>
        </div>
      </div>
    </div>

  </div>

  <div class="ui visible left sidebar vertical menu">
    <a class="logo item">
      <img class="ui centered image" th:src="@{/images/logos/cloud-connector-large-transparent.png}"/>
    </a>
    <div id="server-info" class="item">
      <center>
        <i class="server grey icon huge"></i>
        <p>BSCLAB-CC-001</p>
        <a class="ui orange label">
          127.0.0.1
        </a>
      </center>
    </div>
    <a id="dashboardMenuItem" href="#" class="item">
      Dashboard
      <i class="block layout icon"></i>
    </a>
    <a id="facilityMenuItem" href="#" class="item">
      설비가동현황
      <i class="cogs layout icon"></i>
    </a>
    <a id="monitoringMenuItem" href="#" class="item">
      모니터링 항목현황
      <i class="desktop icon"></i>
    </a>
    <a href="abnormal.html" class="item">
      이상발생이력관리
      <i class="server icon"></i>
    </a>
    <!--<a href="settings.html" class="item">
      Settings
      <i class="cog icon"></i>
    </a>-->
    <div class="item">
      Master Data Management
      <div class="menu">
        <a id="mdmUacMenuItem" href="#" class="item">
          User Account
          <i class="user icon"></i>
        </a>
        <a id="factoryMenuItem" href="#" class="item">
          Factory
          <i class="factory icon"></i>
        </a>
      </div>
    </div>
    <!--<a href="training.html" class="item">
      Training Data Set
      <i class="area chart icon"></i>
    </a>-->
  </div>

  <!-- Main Content -->
  <div class="pusher">
    <div class="ui wrapper basic segment">

      <!-- Header -->
      <h1 class="ui header">Dashboard</h1>
      <div class="ui divider"></div>
      
      <!-- UI Form -->
      <div class="ui form">
        <div class="inline fields">
          <div class="sixteen wide field">
            <div class="ui left icon input">
              <i class="search icon"></i>
              <input type="text" placeholder="Search by factory / machine code"/>
            </div>
            <div class="ui big icon compact toggle button right floated"><i class="list icon"></i></div>
          </div>
        </div>
        <div class="inline fields">
          <label for="display-machines">Display Machines:</label>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="display-machines" checked="" tabindex="0" class="hidden"/>
              <label>All</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="display-machines" tabindex="0" class="hidden"/>
              <label>정상</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="display-machines" tabindex="0" class="hidden"/>
              <label>오류</label>
            </div>
          </div>
        </div>
      </div>

      <div class="ui divider"></div>

      <!-- Factory Monitor -->
      <section class="factory segment">
        <div class="ui top attached message">
          <h3 class="ui header">Factory - F001</h3>
        </div>
        <div class="ui attached segment">
          <div class="ui five stackable doubling link cards">
            <a href="md_machine_detail.html" target="_blank" class="fluid card">
              <div class="ui top attached green inverted segment">
                <div class="right floated meta">1h 2m</div>
                MC_0001
              </div>
              <div class="ui attached green inverted segment">
                <center>
                  <i class="massive cog icon"></i>
                </center>
              </div>
              <div class="ui bottom attached green inverted segment">
                <center>
                  <h3>정상</h3>
                </center>
              </div>
            </a>
            <a href="md_machine_detail.html" target="_blank" class="fluid card">
              <div class="ui top attached red inverted segment">
                <div class="right floated meta">7m</div>
                MC_0002
              </div>
              <div class="ui attached red inverted segment">
                <center>
                  <i class="massive times circle icon"></i>
                </center>
              </div>
              <div class="ui bottom attached red inverted segment">
                <center>
                  <h3>오류</h3>
                </center>
              </div>
            </a>
            <a href="md_machine_detail.html" target="_blank" class="fluid card">
              <div class="ui top attached green inverted segment">
                <div class="right floated meta">2h</div>
                MC_0003
              </div>
              <div class="ui attached green inverted segment">
                <center>
                  <i class="massive cog icon"></i>
                </center>
              </div>
              <div class="ui bottom attached green inverted segment">
                <center>
                  <h3>정상</h3>
                </center>
              </div>
            </a>
            <a href="md_machine_detail.html" target="_blank" class="fluid card">
              <div class="ui top attached green inverted segment">
                <div class="right floated meta">1d 18h</div>
                MC_0004
              </div>
              <div class="ui attached green inverted segment">
                <center>
                  <i class="massive cog icon"></i>
                </center>
              </div>
              <div class="ui bottom attached green inverted segment">
                <center>
                  <h3>정상</h3>
                </center>
              </div>
            </a>
            <a href="md_machine_detail.html" target="_blank" class="fluid card">
              <div class="ui top attached green inverted segment">
                <div class="right floated meta">22h</div>
                MC_0005
              </div>
              <div class="ui attached green inverted segment">
                <center>
                  <i class="massive cog icon"></i>
                </center>
              </div>
              <div class="ui bottom attached green inverted segment">
                <center>
                  <h3>정상</h3>
                </center>
              </div>
            </a>
            <a href="md_machine_detail.html" target="_blank" class="fluid card">
              <div class="ui top attached green inverted segment">
                <div class="right floated meta">14m</div>
                MC_0006
              </div>
              <div class="ui attached green inverted segment">
                <center>
                  <i class="massive cog icon"></i>
                </center>
              </div>
              <div class="ui bottom attached green inverted segment">
                <center>
                  <h3>정상</h3>
                </center>
              </div>
            </a>
            <a href="md_machine_detail.html" target="_blank" class="fluid card">
              <div class="ui top attached green inverted segment">
                <div class="right floated meta">3h</div>
                MC_0007
              </div>
              <div class="ui attached green inverted segment">
                <center>
                  <i class="massive cog icon"></i>
                </center>
              </div>
              <div class="ui bottom attached green inverted segment">
                <center>
                  <h3>정상</h3>
                </center>
              </div>
            </a>
            <a href="md_machine_detail.html" target="_blank" class="fluid card">
              <div class="ui top attached red inverted segment">
                <div class="right floated meta">2h 30m</div>
                MC_0008
              </div>
              <div class="ui attached red inverted segment">
                <center>
                  <i class="massive times circle icon"></i>
                </center>
              </div>
              <div class="ui bottom attached red inverted segment">
                <center>
                  <h3>정상</h3>
                </center>
              </div>
            </a>
          </div>
        </div>
        <div class="ui bottom attached warning message">
          <div class="ui basic green label">
            정상: 6
          </div>
          +
          <div class="ui basic red label">
            오류: 2
          </div>
          =
          <div class="ui basic label">
            Total: 8
          </div>
        </div>
      </section>

      <!-- Factory Monitor -->
      <section class="factory segment">
        <div class="ui top attached message">
          <h3 class="ui header">Factory - F002</h3>
        </div>
        <div class="ui attached segment">
          <div class="ui five stackable doubling link cards">
            <a href="md_machine_detail.html" target="_blank" class="fluid card">
              <div class="ui top attached green inverted segment">
                <div class="right floated meta">1h 2m</div>
                MC_0001
              </div>
              <div class="ui attached green inverted segment">
                <center>
                  <i class="massive cog icon"></i>
                </center>
              </div>
              <div class="ui bottom attached green inverted segment">
                <center>
                  <h3>정상</h3>
                </center>
              </div>
            </a>
            <a href="md_machine_detail.html" target="_blank" class="fluid card">
              <div class="ui top attached red inverted segment">
                <div class="right floated meta">7m</div>
                MC_0002
              </div>
              <div class="ui attached red inverted segment">
                <center>
                  <i class="massive times circle icon"></i>
                </center>
              </div>
              <div class="ui bottom attached red inverted segment">
                <center>
                  <h3>오류</h3>
                </center>
              </div>
            </a>
            <a href="md_machine_detail.html" target="_blank" class="fluid card">
              <div class="ui top attached green inverted segment">
                <div class="right floated meta">2h</div>
                MC_0003
              </div>
              <div class="ui attached green inverted segment">
                <center>
                  <i class="massive cog icon"></i>
                </center>
              </div>
              <div class="ui bottom attached green inverted segment">
                <center>
                  <h3>정상</h3>
                </center>
              </div>
            </a>
            <a href="md_machine_detail.html" target="_blank" class="fluid card">
              <div class="ui top attached green inverted segment">
                <div class="right floated meta">1d 18h</div>
                MC_0004
              </div>
              <div class="ui attached green inverted segment">
                <center>
                  <i class="massive cog icon"></i>
                </center>
              </div>
              <div class="ui bottom attached green inverted segment">
                <center>
                  <h3>정상</h3>
                </center>
              </div>
            </a>
          </div>
        </div>
        <div class="ui bottom attached warning message">
          <div class="ui basic green label">
            정상: 3
          </div>
          +
          <div class="ui basic red label">
            오류: 1
          </div>
          =
          <div class="ui basic label">
            Total: 4
          </div>
        </div>
      </section>
    </div>

    
  </div>

  <div class="ui footer basic segment">
    <!-- Footer -->
    <footer>
      <p>Copyright &copy; Business Service Computing Laboratory, Pusan National University 2018. All rights reserved.</p>
    </footer>
  </div>

  <script th:src="@{/components/jquery/jquery-3.3.1.min.js}"></script>
  <script th:src="@{/components/semantic/dist/semantic.min.js}"></script>
  <script th:src="@{/js/navigation.js}"></script>
  <script>    
    function initRadioButton() {
      $('.ui.radio.checkbox').checkbox();
    }

    // JQuery entry point
    $(document).ready(function(){

      // import navigation.js
      initSidebar();


      initDropdown();
      initRadioButton();
    });
  </script>
  <script th:inline="javascript">
  	host = /*[[${host}]]*/ {} ;
  	urlBase = /*[[${urlBase}]]*/ {} ;
  	$("#dashboardMenuItem").attr("href",urlBase);
  	$("#mdmUacMenuItem").attr("href",urlBase+"/mduac");
  	$("#factoryMenuItem").attr("href",urlBase+"/factory");
  	$("#monitoringMenuItem").attr("href",urlBase+"/monitoring");
  	$("#facilityMenuItem").attr("href",urlBase+"/facility");
  </script>
             
   </body>
</html>