<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
  <head>
    <title th:text="#{dotted.title}">Dotted</title>
    <link rel="stylesheet" th:href="@{/bab/modules/performancevisualizer/dotted/dotted.css}"/>
    <link rel="stylesheet" th:href="@{/bab/bower_components/nouislider/distribute/nouislider.min.css}"/>
 	<style th:utext="${css}"></style>
  </head>
  <body>
    <!-- Start Grid -->
    <div id="app" layout:fragment="content" class="ui grid">
    	<div class="sixteen wide column">
    		<!-- start of segment -->
			<h1 class="ui header">Dotted Analysis</h1>
		    <div class="ui divider"></div>
			<div class="ui breadcrumb">
		  	  <a th:href="@{/bab/dashboard/} + ${jsonData.workspaceId + '/' + jsonData.datasetId + '/' + jsonData.sdt + '/' + jsonData.edt}" class="section">Home</a>
			  <div class="divider"> / </div>
			  <div class="section">Performance Visualizer</div>
			  <div class="divider"> / </div>
			  <div class="active section">Dotted Chart</div>
			</div>
    		<loader :isactive="isProcessing"></loader>
    			<table class="ui orange table">
    				<tr>
    					<td colspan="3">
    						<div class="small ui basic buttons">
								<div id="birdview" v-on:click="birdView" class="ui button" title="Bird View" alt="Bird View">
									<i class="maximize icon"></i>
								</div>
								<div id="transpose" v-on:click="transposeDotted" class="ui button" title="Transpose Component(Row) and Time(Column)">
									<i class="exchange icon"></i>
								</div>
								<div id="relative" v-on:click="relativeDotted" class="ui button" title="Relative to First Event">
									<i class="terminal icon"></i>
								</div>
								<div id="logicaltime" v-on:click="logicalTime" class="ui button" title="Logical Time">
									<i class="asterisk icon"></i>
								</div>
								<!-- <div class="ui button" alt="Vertical Resize">
									<i class="resize vertical icon"></i>
								</div>
								<div class="ui button" alt="Horizontal Resize">
									<i class="resize horizontal icon"></i>
								</div> -->
								<div class="ui dropdown button">
									<i class="zoom icon"></i>
									<div class="menu">
										<div class="item">
											Horizontal Scaling
											<div id="hscale"></div>
										</div>
										<div class="item">
											Vertical Scaling
											<div id="vscale"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="small ui basic buttons">
								<div id="currentTime" class="ui blue button" th:text="#{dotted.currenttime}">
									Current TIME
								</div>
								<div id="" class="ui button">
									<i class="clock icon"></i>
								</div> 
							</div>
							<div class="small ui basic buttons">
								<div id="currentComponent" class="ui blue button" th:text="#{dotted.currentcomponent}">
									Current COMPONENT
								</div>
								<div id="" class="ui button">
									<i class="globe icon"></i>
								</div> 
							</div>
							<div class="small ui basic buttons">
								<div id="currentColor" class="ui primary button" th:text="#{dotted.currentcolor}">
									Current COLOR
								</div>
								<div id="" class="ui button">
									<i class="envelope icon"></i>
								</div>
							</div>
    					</td>
    				</tr>
    				<tr class="top aligned">
    					<td width="900px">
    						<div id="graphArea"></div>
    					</td>
    					<td>
    						<div id="vslider" style="height:600px;margin-top:78px;"></div>
    					</td>
    					<td>
    						<h4 th:text="#{dotted.legend}">Dots Legend</h4>
    						<span class="las"></span> <span th:text="#{dotted.eventstart}"></span><br/>
    						<span class="lac"></span> <span th:text="#{dotted.eventcomplete}"></span> 
			    			
			    			<h4 th:text="#{dotted.singleeventcolors}">Single Event Colors</h4>
			    			<div id="singleEventColors">
				    			<div th:remove="tag" th:utext="${singleEventColors}"></div>			    						    			
				    			<div id="sliderValue"></div>
			    			</div>
    					</td>
    				</tr>
    				<tr>
    					<td width="900px">
    						<div id="hslider"></div>
    					</td>
    					<td>&nbsp;</td>
    					<td>&nbsp;</td>
    				</tr>
    			</table>
    	</div>
    </div>
    <!-- End Grid -->    
    <th:block layout:fragment="script">
      <script th:inline="javascript" id="json-data">
        // tutorial : http://forum.thymeleaf.org/Using-Thymeleaf-in-order-to-generate-inline-json-in-the-html-view-td4025733.html
        jsonData = /*[[${jsonData}]]*/ {} ;
        apiURI = /*[[${apiURI}]]*/ {} ;
        othURL = /*[[${othURL}]]*/ {} ;
        colorIndex = /*[[${colorIndex}]]*/ {} ;
      </script>
      <script th:inline="javascript" id="dropdown">
      	$('.ui.dropdown').dropdown();
      </script>            
      <script th:src="@{/bab/bower_components/d3/d3.js}"></script>
      <script th:src="@{/bab/vue-components/loader/LoaderComponent.js}"></script>
      <script th:src="@{/bab/bower_components/nouislider/distribute/nouislider.js}"></script>      
      <script th:src="@{/bab/modules/performancevisualizer/dotted/dotted.js}"></script>
    </th:block>
  </body>
</html>
