<link rel="stylesheet" th:href="@{/bab/modules/performancevisualizer/dotted/dotted.css}"/>
<table>
<tr>
	<td width="80">&nbsp;</td>
	<td><div th:remove="tag" th:utext="${svgTopLabel}"></div></td>
</tr>
<tr>
	<td><div th:remove="tag" th:utext="${svgLeftLabel}"></div></td>
	<td><div th:remove="tag" th:utext="${svg}"></div></td>
</tr>
</table>