<!DOCTYPE html>
<html layout:decorator="layout-home" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title th:text="#{home.title}"></title>
<link rel="stylesheet" th:href="@{/bab/modules/home/home.css}" />
<link rel="stylesheet" th:href="@{/components/dygraph/dygraph.css}" />

<style>
.dygraph-legend {
	left: 70px !important;
	Top: -110px !important;
	background-color: transparent !important;
	width: 70% !important;
}
</style>
</head>
<body>
	<!-- Start Grid -->
	<div id="app" layout:fragment="content-home" class="ui grid">
		<!-- Main Content -->
		<div class="ui wrapper basic segment" style="width: 100%;">

			<!-- Header -->
			<h1 class="ui header">모니터링 항목현황</h1>
			<div class="ui divider"></div>

			<!-- Query Parameter -->
			<div class="ui top attached message">
				<h2 class="ui header">Query Parameter</h2>
			</div>

			<!-- Query Parameter Form -->
			<div class="ui bottom attached segment">
				<div class="ui form">
					<div class="inline fields">
						<div class="field">
							<label for="factory_select">공장명:</label> <select name="factory_select" id="factory_select" class="">
								<option value="" selected="selected">Select Factory</option>
								<!-- 								<option value="F001">(F001) Factory 1</option> -->
								<!-- 								<option value="F002">(F002) Factory 2</option> -->
							</select>
						</div>
						<div class="field">
							<label for="machines_select">설비명:</label> <select name="machines_select" id="machines_select" class="">
								<option value="" selected="selected">Select Machine</option>
								<!-- 								<option value="MC_0001">MC_0001</option> -->
								<!-- 								<option value="MC_0002">MC_0002</option> -->
								<!-- 								<option value="MC_0003">MC_0003</option> -->
								<!-- 								<option value="MC_0004">MC_0004</option> -->
								<!-- 								<option value="MC_0005">MC_0005</option> -->
								<!-- 								<option value="MC_0006">MC_0006</option> -->
								<!-- 								<option value="MC_0007">MC_0007</option> -->
								<!-- 								<option value="MC_0008">MC_0008</option> -->
							</select>
						</div>
						<div class="field">
							<label for="data_period">(Data period) Lasts:</label> <select name="data_period" id="data_period" class="">
								<option value="" disabled="disabled">Select Data Period</option>
								<option value="5s">5 seconds</option>
								<option value="10s">10 seconds</option>
								<option value="30s">30 seconds</option>
								<option value="1m">1 minutes</option>
								<option value="5m">5 minutes</option>
								<option value="10m">10 minutes</option>
								<option value="30m">30 minutes</option>
								<option value="1h" selected="selected">1 hour</option>
								<option value="2h">2 hour</option>
								<option value="3h">3 hour</option>
								<option value="4h">4 hour</option>
								<option value="5h">5 hour</option>
								<option value="6h">6 hour</option>
								<option value="7h">7 hour</option>
								<option value="8h">8 hour</option>
								<option value="9h">9 hour</option>
								<option value="10h">10 hour</option>
								<option value="11h">11 hour</option>
								<option value="12h">12 hour</option>
								<option value="13h">13 hour</option>
								<option value="14h">14 hour</option>
								<option value="15h">15 hour</option>
								<option value="16h">16 hour</option>
								<option value="17h">17 hour</option>
								<option value="18h">18 hour</option>
								<option value="19h">19 hour</option>
								<option value="20h">20 hour</option>
								<option value="21h">21 hour</option>
								<option value="22h">22 hour</option>
								<option value="23h">23 hour</option>
								<option value="24h">24 hour</option>
							</select>
						</div>
						<button class="ui blue labeled icon button runquery">
							<i class="filter icon"></i> Run
						</button>
					</div>
				</div>
			</div>

			<div class="ui mobile reversed stackable grid">
				<div class="row">
					<div class="twelve wide column">
						<!-- 							<div class="ui active inverted dimmer"> -->
						<!-- 								<div class="ui text loader">Loading the awesomeness...</div> -->
						<!-- 							</div> -->
						<div style="height: 550px; width: 100%; margin-top: 110px;" id="chart"></div>
						<p style="text-align: center; font-size: 25px; margin-top: 30px;">Zoom: click-drag, Restore: double-click</p>
					</div>
					<div class="four wide column" id="machine-parameter">

						<!-- Datetime -->
						<div class="ui blue top attached inverted segment">
							<center>
								<h3 id="current_date"></h3>
							</center>
						</div>

						<div class="ui bottom attached segment">
							<center>
								<h1 class="ui header" id="current_time"></h1>
							</center>
						</div>

						<!-- Machine Parameters -->
						<div class="ui top attached message">
							<h3 class="ui header">Machine Parameters</h3>
						</div>

						<div class="ui attached segment">
							<button class="ui blue labeled icon button selectall" data="select">
								<i class="check square outline icon"></i> Check All
							</button>
							<button class="ui labeled icon button selectall" data="unselect">
								<i class="square outline icon"></i> Uncheck All
							</button>
						</div>

						<div class="ui bottom attached segment" id="machine-parameters">
							<!-- 								<div class="ui active inverted dimmer"> -->
							<!-- 									<div class="ui text loader">Loading...</div> -->
							<!-- 								</div> -->
							<div class="ui form" id="cbx_machine_parameters" style="overflow-y: auto; height: 447px;"></div>
						</div>

					</div>
				</div>
			</div>
		</div>



	</div>
	<!-- End Grid -->

	<th:block layout:fragment="script">
		<script th:inline="javascript" id="json-data">
			// tutorial : http://forum.thymeleaf.org/Using-Thymeleaf-in-order-to-generate-inline-json-in-the-html-view-td4025733.html
			jsonData = /*[[${jsonData}]]*/{};
			apiURI = /*[[${apiURI}]]*/{};
			var theModal = $('.ui.modal').modal('setting', 'closable', false);
		</script>
		<script th:src="@{/bab/vue-components/loader/LoaderComponent.js}"></script>
		<script th:src="@{/components/dygraph/dygraph.min.js}"></script>
		<script th:inline="javascript">
			var machineIdPrev = "";
			var baseUrl = jsonData.BASE_URL;
		</script>
		<script th:src="@{/js/monitoring.js}"></script>
	</th:block>
</body>
</html>
