/* common color */
/* color theme */
/* general */
#graph-setting {
  margin-bottom: 30px; }

#graph-toolbox {
  margin-bottom: 10px;
  padding: 0px; }

#legends {
  display: inline-block;
  margin-bottom: 25px; }

.legends-box {
  width: 50px;
  padding: 5px 0 10px;
  border: 1px solid;
  color: #ffffff;
  text-align: center; }

#content-graph svg {
  background: #fafafa;
  border: 1px solid #f1f2f7;
  width: 100%;
  height: 700px; }

/* mixin function for nodes and arcs */
/* nodes part */
.vertex {
  cursor: pointer; }
  .vertex tspan {
    fill: #fff; }
  .vertex rect, .vertex circle {
    fill: #265b34; }
    .vertex rect:hover, .vertex circle:hover {
      fill: #faac5f; }
      .vertex rect:hover foreignObject, .vertex rect:hover div, .vertex rect:hover ul, .vertex circle:hover foreignObject, .vertex circle:hover div, .vertex circle:hover ul {
        background: #faac5f; }
    .vertex rect div:hover, .vertex circle div:hover {
      background: #faac5f; }
  .vertex.vertex-timegap rect, .vertex.vertex-timegap circle {
    fill: #3A89C9; }
  .vertex.vertex-bayesian rect, .vertex.vertex-bayesian circle {
    fill: #3A89C9; }
  .vertex.found rect, .vertex.found circle {
    fill: #ff2424; }
  .vertex.show rect {
    color: #ffffff; }
  .vertex g div {
    width: 100%; }
    .vertex g div ul {
      padding: 7px 0px 10px;
      text-align: center; }
      .vertex g div ul h5 {
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 13px; }
  .vertex:hover rect, .vertex:hover circle, .vertex.vertex-timegap:hover rect, .vertex.vertex-timegap:hover circle, .vertex.vertex-bayesian:hover rect, .vertex.vertex-bayesian:hover circle {
    fill: #faac5f; }

.vertex-freq-1.legends-box {
  background: #327845; }
.vertex-freq-1 rect, .vertex-freq-1 circle {
  fill: #327845; }

.vertex-freq-2.legends-box {
  background: #3e9555; }
.vertex-freq-2 rect, .vertex-freq-2 circle {
  fill: #3e9555; }

.vertex-freq-3.legends-box {
  background: #4ab265; }
.vertex-freq-3 rect, .vertex-freq-3 circle {
  fill: #4ab265; }

.vertex-freq-4.legends-box {
  background: #65bf7d; }
.vertex-freq-4 rect, .vertex-freq-4 circle {
  fill: #65bf7d; }

.vertex-freq-5.legends-box {
  background: #82cb95; }
.vertex-freq-5 rect, .vertex-freq-5 circle {
  fill: #82cb95; }

.edgePath-freq-1 {
  /* color for the arrowhead */ }
  .edgePath-freq-1.legends-box {
    background: #484d60; }
  .edgePath-freq-1 path.path {
    fill: none;
    stroke: #484d60; }
  .edgePath-freq-1 marker path {
    fill: #484d60 !important;
    stroke: #484d60 !important; }

.edgePath-dep-1 path.path {
  stroke-width: 3; }

.edgePath-freq-2 {
  /* color for the arrowhead */ }
  .edgePath-freq-2.legends-box {
    background: #636983; }
  .edgePath-freq-2 path.path {
    fill: none;
    stroke: #636983; }
  .edgePath-freq-2 marker path {
    fill: #636983 !important;
    stroke: #636983 !important; }

.edgePath-dep-2 path.path {
  stroke-width: 4; }

.edgePath-freq-3 {
  /* color for the arrowhead */ }
  .edgePath-freq-3.legends-box {
    background: #8288a1; }
  .edgePath-freq-3 path.path {
    fill: none;
    stroke: #8288a1; }
  .edgePath-freq-3 marker path {
    fill: #8288a1 !important;
    stroke: #8288a1 !important; }

.edgePath-dep-3 path.path {
  stroke-width: 5; }

.edgePath-freq-4 {
  /* color for the arrowhead */ }
  .edgePath-freq-4.legends-box {
    background: #a5a9bb; }
  .edgePath-freq-4 path.path {
    fill: none;
    stroke: #a5a9bb; }
  .edgePath-freq-4 marker path {
    fill: #a5a9bb !important;
    stroke: #a5a9bb !important; }

.edgePath-dep-4 path.path {
  stroke-width: 6; }

.edgePath-freq-5 {
  /* color for the arrowhead */ }
  .edgePath-freq-5.legends-box {
    background: #c8cad5; }
  .edgePath-freq-5 path.path {
    fill: none;
    stroke: #c8cad5; }
  .edgePath-freq-5 marker path {
    fill: #c8cad5 !important;
    stroke: #c8cad5 !important; }

.edgePath-dep-5 path.path {
  stroke-width: 7; }

/* edge part */
.edgePath {
  cursor: pointer; }
  .edgePath marker path {
    fill: #2E313D;
    stroke: #2E313D; }
  .edgePath path {
    fill: none;
    stroke: #2E313D; }
  .edgePath:hover path {
    fill: none;
    stroke: #000000; }
  .edgePath.animation path {
    stroke: #8e93a9;
    stroke-width: 4 !important; }
  .edgePath.found path {
    stroke: red; }
  .edgePath.show path {
    stroke: #5EBC77; }
  .edgePath.edgePath-repeat path {
    stroke: #A9E072; }
  .edgePath.different path {
    stroke: red;
    stroke-width: 5px; }
  .edgePath.edgePath-artificial path {
    stroke: grey;
    stroke-width: 3px;
    stroke-dasharray: 5,5; }

.edgeLabel rect {
  fill: none; }
.edgeLabel g div {
  float: none;
  color: black; }
  .edgeLabel g div ul {
    background: #fafafa;
    padding-left: 0; }

.label.edgePath-repeat div {
  color: green;
  font-weight: bold;
  font-style: italic;
  font-size: 12px; }

/* for multidimensional timegap */
.vertex.color-aqua rect {
  fill: none;
  stroke: #00ffff;
  stroke-width: 3px; }
.vertex.color-aqua g div {
  background: none;
  border-radius: 30px;
  border-color: #00ffff;
  color: #000; }

.edgePath.color-aqua path {
  fill: none;
  stroke: #00ffff; }
.edgePath.color-aqua marker path {
  fill: #00ffff;
  stroke: #00ffff; }

.vertex.color-blueviolet rect {
  fill: none;
  stroke: #8a2be2;
  stroke-width: 3px; }
.vertex.color-blueviolet g div {
  background: none;
  border-radius: 30px;
  border-color: #8a2be2;
  color: #000; }

.edgePath.color-blueviolet path {
  fill: none;
  stroke: #8a2be2; }
.edgePath.color-blueviolet marker path {
  fill: #8a2be2;
  stroke: #8a2be2; }

.vertex.color-brown rect {
  fill: none;
  stroke: #a52a2a;
  stroke-width: 3px; }
.vertex.color-brown g div {
  background: none;
  border-radius: 30px;
  border-color: #a52a2a;
  color: #000; }

.edgePath.color-brown path {
  fill: none;
  stroke: #a52a2a; }
.edgePath.color-brown marker path {
  fill: #a52a2a;
  stroke: #a52a2a; }

.vertex.color-aquamarine rect {
  fill: none;
  stroke: #7fffd4;
  stroke-width: 3px; }
.vertex.color-aquamarine g div {
  background: none;
  border-radius: 30px;
  border-color: #7fffd4;
  color: #000; }

.edgePath.color-aquamarine path {
  fill: none;
  stroke: #7fffd4; }
.edgePath.color-aquamarine marker path {
  fill: #7fffd4;
  stroke: #7fffd4; }

.vertex.color-burlywood rect {
  fill: none;
  stroke: #deb887;
  stroke-width: 3px; }
.vertex.color-burlywood g div {
  background: none;
  border-radius: 30px;
  border-color: #deb887;
  color: #000; }

.edgePath.color-burlywood path {
  fill: none;
  stroke: #deb887; }
.edgePath.color-burlywood marker path {
  fill: #deb887;
  stroke: #deb887; }

.vertex.color-cadetblue rect {
  fill: none;
  stroke: #5f9ea0;
  stroke-width: 3px; }
.vertex.color-cadetblue g div {
  background: none;
  border-radius: 30px;
  border-color: #5f9ea0;
  color: #000; }

.edgePath.color-cadetblue path {
  fill: none;
  stroke: #5f9ea0; }
.edgePath.color-cadetblue marker path {
  fill: #5f9ea0;
  stroke: #5f9ea0; }

.vertex.color-chartreuse rect {
  fill: none;
  stroke: #7fff00;
  stroke-width: 3px; }
.vertex.color-chartreuse g div {
  background: none;
  border-radius: 30px;
  border-color: #7fff00;
  color: #000; }

.edgePath.color-chartreuse path {
  fill: none;
  stroke: #7fff00; }
.edgePath.color-chartreuse marker path {
  fill: #7fff00;
  stroke: #7fff00; }

.vertex.color-blue rect {
  fill: none;
  stroke: #0000ff;
  stroke-width: 3px; }
.vertex.color-blue g div {
  background: none;
  border-radius: 30px;
  border-color: #0000ff;
  color: #000; }

.edgePath.color-blue path {
  fill: none;
  stroke: #0000ff; }
.edgePath.color-blue marker path {
  fill: #0000ff;
  stroke: #0000ff; }

.vertex.color-chocolate rect {
  fill: none;
  stroke: #d2691e;
  stroke-width: 3px; }
.vertex.color-chocolate g div {
  background: none;
  border-radius: 30px;
  border-color: #d2691e;
  color: #000; }

.edgePath.color-chocolate path {
  fill: none;
  stroke: #d2691e; }
.edgePath.color-chocolate marker path {
  fill: #d2691e;
  stroke: #d2691e; }

.vertex.color-coral rect {
  fill: none;
  stroke: #ff7f50;
  stroke-width: 3px; }
.vertex.color-coral g div {
  background: none;
  border-radius: 30px;
  border-color: #ff7f50;
  color: #000; }

.edgePath.color-coral path {
  fill: none;
  stroke: #ff7f50; }
.edgePath.color-coral marker path {
  fill: #ff7f50;
  stroke: #ff7f50; }

.vertex.color-cornflowerblue rect {
  fill: none;
  stroke: #6495ed;
  stroke-width: 3px; }
.vertex.color-cornflowerblue g div {
  background: none;
  border-radius: 30px;
  border-color: #6495ed;
  color: #000; }

.edgePath.color-cornflowerblue path {
  fill: none;
  stroke: #6495ed; }
.edgePath.color-cornflowerblue marker path {
  fill: #6495ed;
  stroke: #6495ed; }

.vertex.color-crimson rect {
  fill: none;
  stroke: #dc143c;
  stroke-width: 3px; }
.vertex.color-crimson g div {
  background: none;
  border-radius: 30px;
  border-color: #dc143c;
  color: #000; }

.edgePath.color-crimson path {
  fill: none;
  stroke: #dc143c; }
.edgePath.color-crimson marker path {
  fill: #dc143c;
  stroke: #dc143c; }

.vertex.color-cyan rect {
  fill: none;
  stroke: #00ffff;
  stroke-width: 3px; }
.vertex.color-cyan g div {
  background: none;
  border-radius: 30px;
  border-color: #00ffff;
  color: #000; }

.edgePath.color-cyan path {
  fill: none;
  stroke: #00ffff; }
.edgePath.color-cyan marker path {
  fill: #00ffff;
  stroke: #00ffff; }

.vertex.color-darkblue rect {
  fill: none;
  stroke: #00008b;
  stroke-width: 3px; }
.vertex.color-darkblue g div {
  background: none;
  border-radius: 30px;
  border-color: #00008b;
  color: #000; }

.edgePath.color-darkblue path {
  fill: none;
  stroke: #00008b; }
.edgePath.color-darkblue marker path {
  fill: #00008b;
  stroke: #00008b; }

.vertex.color-darkcyan rect {
  fill: none;
  stroke: #008b8b;
  stroke-width: 3px; }
.vertex.color-darkcyan g div {
  background: none;
  border-radius: 30px;
  border-color: #008b8b;
  color: #000; }

.edgePath.color-darkcyan path {
  fill: none;
  stroke: #008b8b; }
.edgePath.color-darkcyan marker path {
  fill: #008b8b;
  stroke: #008b8b; }

.vertex.color-darkgoldenrod rect {
  fill: none;
  stroke: #b8860b;
  stroke-width: 3px; }
.vertex.color-darkgoldenrod g div {
  background: none;
  border-radius: 30px;
  border-color: #b8860b;
  color: #000; }

.edgePath.color-darkgoldenrod path {
  fill: none;
  stroke: #b8860b; }
.edgePath.color-darkgoldenrod marker path {
  fill: #b8860b;
  stroke: #b8860b; }

.vertex.color-darkgray rect {
  fill: none;
  stroke: #a9a9a9;
  stroke-width: 3px; }
.vertex.color-darkgray g div {
  background: none;
  border-radius: 30px;
  border-color: #a9a9a9;
  color: #000; }

.edgePath.color-darkgray path {
  fill: none;
  stroke: #a9a9a9; }
.edgePath.color-darkgray marker path {
  fill: #a9a9a9;
  stroke: #a9a9a9; }

.vertex.color-darkgreen rect {
  fill: none;
  stroke: #006400;
  stroke-width: 3px; }
.vertex.color-darkgreen g div {
  background: none;
  border-radius: 30px;
  border-color: #006400;
  color: #000; }

.edgePath.color-darkgreen path {
  fill: none;
  stroke: #006400; }
.edgePath.color-darkgreen marker path {
  fill: #006400;
  stroke: #006400; }

.vertex.color-darkkhaki rect {
  fill: none;
  stroke: #bdb76b;
  stroke-width: 3px; }
.vertex.color-darkkhaki g div {
  background: none;
  border-radius: 30px;
  border-color: #bdb76b;
  color: #000; }

.edgePath.color-darkkhaki path {
  fill: none;
  stroke: #bdb76b; }
.edgePath.color-darkkhaki marker path {
  fill: #bdb76b;
  stroke: #bdb76b; }

.vertex.color-darkmagenta rect {
  fill: none;
  stroke: #8b008b;
  stroke-width: 3px; }
.vertex.color-darkmagenta g div {
  background: none;
  border-radius: 30px;
  border-color: #8b008b;
  color: #000; }

.edgePath.color-darkmagenta path {
  fill: none;
  stroke: #8b008b; }
.edgePath.color-darkmagenta marker path {
  fill: #8b008b;
  stroke: #8b008b; }

.vertex.color-darkolivegreen rect {
  fill: none;
  stroke: #556b2f;
  stroke-width: 3px; }
.vertex.color-darkolivegreen g div {
  background: none;
  border-radius: 30px;
  border-color: #556b2f;
  color: #000; }

.edgePath.color-darkolivegreen path {
  fill: none;
  stroke: #556b2f; }
.edgePath.color-darkolivegreen marker path {
  fill: #556b2f;
  stroke: #556b2f; }

.vertex.color-darkorange rect {
  fill: none;
  stroke: #ff8c00;
  stroke-width: 3px; }
.vertex.color-darkorange g div {
  background: none;
  border-radius: 30px;
  border-color: #ff8c00;
  color: #000; }

.edgePath.color-darkorange path {
  fill: none;
  stroke: #ff8c00; }
.edgePath.color-darkorange marker path {
  fill: #ff8c00;
  stroke: #ff8c00; }

.vertex.color-darkorchid rect {
  fill: none;
  stroke: #9932cc;
  stroke-width: 3px; }
.vertex.color-darkorchid g div {
  background: none;
  border-radius: 30px;
  border-color: #9932cc;
  color: #000; }

.edgePath.color-darkorchid path {
  fill: none;
  stroke: #9932cc; }
.edgePath.color-darkorchid marker path {
  fill: #9932cc;
  stroke: #9932cc; }

.vertex.color-darkred rect {
  fill: none;
  stroke: #8b0000;
  stroke-width: 3px; }
.vertex.color-darkred g div {
  background: none;
  border-radius: 30px;
  border-color: #8b0000;
  color: #000; }

.edgePath.color-darkred path {
  fill: none;
  stroke: #8b0000; }
.edgePath.color-darkred marker path {
  fill: #8b0000;
  stroke: #8b0000; }

.vertex.color-darksalmon rect {
  fill: none;
  stroke: #e9967a;
  stroke-width: 3px; }
.vertex.color-darksalmon g div {
  background: none;
  border-radius: 30px;
  border-color: #e9967a;
  color: #000; }

.edgePath.color-darksalmon path {
  fill: none;
  stroke: #e9967a; }
.edgePath.color-darksalmon marker path {
  fill: #e9967a;
  stroke: #e9967a; }

.vertex.color-darkseagreen rect {
  fill: none;
  stroke: #8fbc8f;
  stroke-width: 3px; }
.vertex.color-darkseagreen g div {
  background: none;
  border-radius: 30px;
  border-color: #8fbc8f;
  color: #000; }

.edgePath.color-darkseagreen path {
  fill: none;
  stroke: #8fbc8f; }
.edgePath.color-darkseagreen marker path {
  fill: #8fbc8f;
  stroke: #8fbc8f; }

.vertex.color-darkslateblue rect {
  fill: none;
  stroke: #483d8b;
  stroke-width: 3px; }
.vertex.color-darkslateblue g div {
  background: none;
  border-radius: 30px;
  border-color: #483d8b;
  color: #000; }

.edgePath.color-darkslateblue path {
  fill: none;
  stroke: #483d8b; }
.edgePath.color-darkslateblue marker path {
  fill: #483d8b;
  stroke: #483d8b; }

.vertex.color-darkslategray rect {
  fill: none;
  stroke: #2f4f4f;
  stroke-width: 3px; }
.vertex.color-darkslategray g div {
  background: none;
  border-radius: 30px;
  border-color: #2f4f4f;
  color: #000; }

.edgePath.color-darkslategray path {
  fill: none;
  stroke: #2f4f4f; }
.edgePath.color-darkslategray marker path {
  fill: #2f4f4f;
  stroke: #2f4f4f; }

.vertex.color-darkturquoise rect {
  fill: none;
  stroke: #00ced1;
  stroke-width: 3px; }
.vertex.color-darkturquoise g div {
  background: none;
  border-radius: 30px;
  border-color: #00ced1;
  color: #000; }

.edgePath.color-darkturquoise path {
  fill: none;
  stroke: #00ced1; }
.edgePath.color-darkturquoise marker path {
  fill: #00ced1;
  stroke: #00ced1; }

.vertex.color-darkviolet rect {
  fill: none;
  stroke: #9400d3;
  stroke-width: 3px; }
.vertex.color-darkviolet g div {
  background: none;
  border-radius: 30px;
  border-color: #9400d3;
  color: #000; }

.edgePath.color-darkviolet path {
  fill: none;
  stroke: #9400d3; }
.edgePath.color-darkviolet marker path {
  fill: #9400d3;
  stroke: #9400d3; }

.vertex.color-deeppink rect {
  fill: none;
  stroke: #ff1493;
  stroke-width: 3px; }
.vertex.color-deeppink g div {
  background: none;
  border-radius: 30px;
  border-color: #ff1493;
  color: #000; }

.edgePath.color-deeppink path {
  fill: none;
  stroke: #ff1493; }
.edgePath.color-deeppink marker path {
  fill: #ff1493;
  stroke: #ff1493; }

.vertex.color-deepskyblue rect {
  fill: none;
  stroke: #00bfff;
  stroke-width: 3px; }
.vertex.color-deepskyblue g div {
  background: none;
  border-radius: 30px;
  border-color: #00bfff;
  color: #000; }

.edgePath.color-deepskyblue path {
  fill: none;
  stroke: #00bfff; }
.edgePath.color-deepskyblue marker path {
  fill: #00bfff;
  stroke: #00bfff; }

.vertex.color-dimgray rect {
  fill: none;
  stroke: #696969;
  stroke-width: 3px; }
.vertex.color-dimgray g div {
  background: none;
  border-radius: 30px;
  border-color: #696969;
  color: #000; }

.edgePath.color-dimgray path {
  fill: none;
  stroke: #696969; }
.edgePath.color-dimgray marker path {
  fill: #696969;
  stroke: #696969; }

.vertex.color-dodgerblue rect {
  fill: none;
  stroke: #1e90ff;
  stroke-width: 3px; }
.vertex.color-dodgerblue g div {
  background: none;
  border-radius: 30px;
  border-color: #1e90ff;
  color: #000; }

.edgePath.color-dodgerblue path {
  fill: none;
  stroke: #1e90ff; }
.edgePath.color-dodgerblue marker path {
  fill: #1e90ff;
  stroke: #1e90ff; }

.vertex.color-firebrick rect {
  fill: none;
  stroke: #b22222;
  stroke-width: 3px; }
.vertex.color-firebrick g div {
  background: none;
  border-radius: 30px;
  border-color: #b22222;
  color: #000; }

.edgePath.color-firebrick path {
  fill: none;
  stroke: #b22222; }
.edgePath.color-firebrick marker path {
  fill: #b22222;
  stroke: #b22222; }

.vertex.color-forestgreen rect {
  fill: none;
  stroke: #228b22;
  stroke-width: 3px; }
.vertex.color-forestgreen g div {
  background: none;
  border-radius: 30px;
  border-color: #228b22;
  color: #000; }

.edgePath.color-forestgreen path {
  fill: none;
  stroke: #228b22; }
.edgePath.color-forestgreen marker path {
  fill: #228b22;
  stroke: #228b22; }

.vertex.color-fuchsia rect {
  fill: none;
  stroke: #ff00ff;
  stroke-width: 3px; }
.vertex.color-fuchsia g div {
  background: none;
  border-radius: 30px;
  border-color: #ff00ff;
  color: #000; }

.edgePath.color-fuchsia path {
  fill: none;
  stroke: #ff00ff; }
.edgePath.color-fuchsia marker path {
  fill: #ff00ff;
  stroke: #ff00ff; }

.vertex.color-gold rect {
  fill: none;
  stroke: #ffd700;
  stroke-width: 3px; }
.vertex.color-gold g div {
  background: none;
  border-radius: 30px;
  border-color: #ffd700;
  color: #000; }

.edgePath.color-gold path {
  fill: none;
  stroke: #ffd700; }
.edgePath.color-gold marker path {
  fill: #ffd700;
  stroke: #ffd700; }

.vertex.color-goldenrod rect {
  fill: none;
  stroke: #daa520;
  stroke-width: 3px; }
.vertex.color-goldenrod g div {
  background: none;
  border-radius: 30px;
  border-color: #daa520;
  color: #000; }

.edgePath.color-goldenrod path {
  fill: none;
  stroke: #daa520; }
.edgePath.color-goldenrod marker path {
  fill: #daa520;
  stroke: #daa520; }

.vertex.color-gray rect {
  fill: none;
  stroke: #808080;
  stroke-width: 3px; }
.vertex.color-gray g div {
  background: none;
  border-radius: 30px;
  border-color: #808080;
  color: #000; }

.edgePath.color-gray path {
  fill: none;
  stroke: #808080; }
.edgePath.color-gray marker path {
  fill: #808080;
  stroke: #808080; }

.vertex.color-green rect {
  fill: none;
  stroke: #008000;
  stroke-width: 3px; }
.vertex.color-green g div {
  background: none;
  border-radius: 30px;
  border-color: #008000;
  color: #000; }

.edgePath.color-green path {
  fill: none;
  stroke: #008000; }
.edgePath.color-green marker path {
  fill: #008000;
  stroke: #008000; }

.vertex.color-greenyellow rect {
  fill: none;
  stroke: #adff2f;
  stroke-width: 3px; }
.vertex.color-greenyellow g div {
  background: none;
  border-radius: 30px;
  border-color: #adff2f;
  color: #000; }

.edgePath.color-greenyellow path {
  fill: none;
  stroke: #adff2f; }
.edgePath.color-greenyellow marker path {
  fill: #adff2f;
  stroke: #adff2f; }

.vertex.color-hotpink rect {
  fill: none;
  stroke: #ff69b4;
  stroke-width: 3px; }
.vertex.color-hotpink g div {
  background: none;
  border-radius: 30px;
  border-color: #ff69b4;
  color: #000; }

.edgePath.color-hotpink path {
  fill: none;
  stroke: #ff69b4; }
.edgePath.color-hotpink marker path {
  fill: #ff69b4;
  stroke: #ff69b4; }

.vertex.color-indianred rect {
  fill: none;
  stroke: #cd5c5c;
  stroke-width: 3px; }
.vertex.color-indianred g div {
  background: none;
  border-radius: 30px;
  border-color: #cd5c5c;
  color: #000; }

.edgePath.color-indianred path {
  fill: none;
  stroke: #cd5c5c; }
.edgePath.color-indianred marker path {
  fill: #cd5c5c;
  stroke: #cd5c5c; }

.vertex.color-indigo rect {
  fill: none;
  stroke: #4b0082;
  stroke-width: 3px; }
.vertex.color-indigo g div {
  background: none;
  border-radius: 30px;
  border-color: #4b0082;
  color: #000; }

.edgePath.color-indigo path {
  fill: none;
  stroke: #4b0082; }
.edgePath.color-indigo marker path {
  fill: #4b0082;
  stroke: #4b0082; }

.vertex.color-khaki rect {
  fill: none;
  stroke: #f0e68c;
  stroke-width: 3px; }
.vertex.color-khaki g div {
  background: none;
  border-radius: 30px;
  border-color: #f0e68c;
  color: #000; }

.edgePath.color-khaki path {
  fill: none;
  stroke: #f0e68c; }
.edgePath.color-khaki marker path {
  fill: #f0e68c;
  stroke: #f0e68c; }

.vertex.color-lawngreen rect {
  fill: none;
  stroke: #7cfc00;
  stroke-width: 3px; }
.vertex.color-lawngreen g div {
  background: none;
  border-radius: 30px;
  border-color: #7cfc00;
  color: #000; }

.edgePath.color-lawngreen path {
  fill: none;
  stroke: #7cfc00; }
.edgePath.color-lawngreen marker path {
  fill: #7cfc00;
  stroke: #7cfc00; }

.vertex.color-lightblue rect {
  fill: none;
  stroke: #add8e6;
  stroke-width: 3px; }
.vertex.color-lightblue g div {
  background: none;
  border-radius: 30px;
  border-color: #add8e6;
  color: #000; }

.edgePath.color-lightblue path {
  fill: none;
  stroke: #add8e6; }
.edgePath.color-lightblue marker path {
  fill: #add8e6;
  stroke: #add8e6; }

.vertex.color-lightcoral rect {
  fill: none;
  stroke: #f08080;
  stroke-width: 3px; }
.vertex.color-lightcoral g div {
  background: none;
  border-radius: 30px;
  border-color: #f08080;
  color: #000; }

.edgePath.color-lightcoral path {
  fill: none;
  stroke: #f08080; }
.edgePath.color-lightcoral marker path {
  fill: #f08080;
  stroke: #f08080; }

.vertex.color-lightgreen rect {
  fill: none;
  stroke: #90ee90;
  stroke-width: 3px; }
.vertex.color-lightgreen g div {
  background: none;
  border-radius: 30px;
  border-color: #90ee90;
  color: #000; }

.edgePath.color-lightgreen path {
  fill: none;
  stroke: #90ee90; }
.edgePath.color-lightgreen marker path {
  fill: #90ee90;
  stroke: #90ee90; }

.vertex.color-lightpink rect {
  fill: none;
  stroke: #ffb6c1;
  stroke-width: 3px; }
.vertex.color-lightpink g div {
  background: none;
  border-radius: 30px;
  border-color: #ffb6c1;
  color: #000; }

.edgePath.color-lightpink path {
  fill: none;
  stroke: #ffb6c1; }
.edgePath.color-lightpink marker path {
  fill: #ffb6c1;
  stroke: #ffb6c1; }

.vertex.color-lightseagreen rect {
  fill: none;
  stroke: #20b2aa;
  stroke-width: 3px; }
.vertex.color-lightseagreen g div {
  background: none;
  border-radius: 30px;
  border-color: #20b2aa;
  color: #000; }

.edgePath.color-lightseagreen path {
  fill: none;
  stroke: #20b2aa; }
.edgePath.color-lightseagreen marker path {
  fill: #20b2aa;
  stroke: #20b2aa; }

.vertex.color-lightskyblue rect {
  fill: none;
  stroke: #87cefa;
  stroke-width: 3px; }
.vertex.color-lightskyblue g div {
  background: none;
  border-radius: 30px;
  border-color: #87cefa;
  color: #000; }

.edgePath.color-lightskyblue path {
  fill: none;
  stroke: #87cefa; }
.edgePath.color-lightskyblue marker path {
  fill: #87cefa;
  stroke: #87cefa; }

.vertex.color-lightsalmon rect {
  fill: none;
  stroke: #ffa07a;
  stroke-width: 3px; }
.vertex.color-lightsalmon g div {
  background: none;
  border-radius: 30px;
  border-color: #ffa07a;
  color: #000; }

.edgePath.color-lightsalmon path {
  fill: none;
  stroke: #ffa07a; }
.edgePath.color-lightsalmon marker path {
  fill: #ffa07a;
  stroke: #ffa07a; }

.vertex.color-lightslategray rect {
  fill: none;
  stroke: #778899;
  stroke-width: 3px; }
.vertex.color-lightslategray g div {
  background: none;
  border-radius: 30px;
  border-color: #778899;
  color: #000; }

.edgePath.color-lightslategray path {
  fill: none;
  stroke: #778899; }
.edgePath.color-lightslategray marker path {
  fill: #778899;
  stroke: #778899; }

.vertex.color-lightsteelblue rect {
  fill: none;
  stroke: #b0c4de;
  stroke-width: 3px; }
.vertex.color-lightsteelblue g div {
  background: none;
  border-radius: 30px;
  border-color: #b0c4de;
  color: #000; }

.edgePath.color-lightsteelblue path {
  fill: none;
  stroke: #b0c4de; }
.edgePath.color-lightsteelblue marker path {
  fill: #b0c4de;
  stroke: #b0c4de; }

.vertex.color-limegreen rect {
  fill: none;
  stroke: #32cd32;
  stroke-width: 3px; }
.vertex.color-limegreen g div {
  background: none;
  border-radius: 30px;
  border-color: #32cd32;
  color: #000; }

.edgePath.color-limegreen path {
  fill: none;
  stroke: #32cd32; }
.edgePath.color-limegreen marker path {
  fill: #32cd32;
  stroke: #32cd32; }

.vertex.color-magenta rect {
  fill: none;
  stroke: #ff00ff;
  stroke-width: 3px; }
.vertex.color-magenta g div {
  background: none;
  border-radius: 30px;
  border-color: #ff00ff;
  color: #000; }

.edgePath.color-magenta path {
  fill: none;
  stroke: #ff00ff; }
.edgePath.color-magenta marker path {
  fill: #ff00ff;
  stroke: #ff00ff; }

.vertex.color-maroon rect {
  fill: none;
  stroke: #800000;
  stroke-width: 3px; }
.vertex.color-maroon g div {
  background: none;
  border-radius: 30px;
  border-color: #800000;
  color: #000; }

.edgePath.color-maroon path {
  fill: none;
  stroke: #800000; }
.edgePath.color-maroon marker path {
  fill: #800000;
  stroke: #800000; }

.vertex.color-mediumaquamarine rect {
  fill: none;
  stroke: #66cdaa;
  stroke-width: 3px; }
.vertex.color-mediumaquamarine g div {
  background: none;
  border-radius: 30px;
  border-color: #66cdaa;
  color: #000; }

.edgePath.color-mediumaquamarine path {
  fill: none;
  stroke: #66cdaa; }
.edgePath.color-mediumaquamarine marker path {
  fill: #66cdaa;
  stroke: #66cdaa; }

.vertex.color-mediumblue rect {
  fill: none;
  stroke: #0000cd;
  stroke-width: 3px; }
.vertex.color-mediumblue g div {
  background: none;
  border-radius: 30px;
  border-color: #0000cd;
  color: #000; }

.edgePath.color-mediumblue path {
  fill: none;
  stroke: #0000cd; }
.edgePath.color-mediumblue marker path {
  fill: #0000cd;
  stroke: #0000cd; }

.vertex.color-mediumorchid rect {
  fill: none;
  stroke: #ba55d3;
  stroke-width: 3px; }
.vertex.color-mediumorchid g div {
  background: none;
  border-radius: 30px;
  border-color: #ba55d3;
  color: #000; }

.edgePath.color-mediumorchid path {
  fill: none;
  stroke: #ba55d3; }
.edgePath.color-mediumorchid marker path {
  fill: #ba55d3;
  stroke: #ba55d3; }

.vertex.color-mediumpurple rect {
  fill: none;
  stroke: #9370db;
  stroke-width: 3px; }
.vertex.color-mediumpurple g div {
  background: none;
  border-radius: 30px;
  border-color: #9370db;
  color: #000; }

.edgePath.color-mediumpurple path {
  fill: none;
  stroke: #9370db; }
.edgePath.color-mediumpurple marker path {
  fill: #9370db;
  stroke: #9370db; }

.vertex.color-mediumseagreen rect {
  fill: none;
  stroke: #3cb371;
  stroke-width: 3px; }
.vertex.color-mediumseagreen g div {
  background: none;
  border-radius: 30px;
  border-color: #3cb371;
  color: #000; }

.edgePath.color-mediumseagreen path {
  fill: none;
  stroke: #3cb371; }
.edgePath.color-mediumseagreen marker path {
  fill: #3cb371;
  stroke: #3cb371; }

.vertex.color-mediumslateblue rect {
  fill: none;
  stroke: #7b68ee;
  stroke-width: 3px; }
.vertex.color-mediumslateblue g div {
  background: none;
  border-radius: 30px;
  border-color: #7b68ee;
  color: #000; }

.edgePath.color-mediumslateblue path {
  fill: none;
  stroke: #7b68ee; }
.edgePath.color-mediumslateblue marker path {
  fill: #7b68ee;
  stroke: #7b68ee; }

.vertex.color-mediumspringgreen rect {
  fill: none;
  stroke: #00fa9a;
  stroke-width: 3px; }
.vertex.color-mediumspringgreen g div {
  background: none;
  border-radius: 30px;
  border-color: #00fa9a;
  color: #000; }

.edgePath.color-mediumspringgreen path {
  fill: none;
  stroke: #00fa9a; }
.edgePath.color-mediumspringgreen marker path {
  fill: #00fa9a;
  stroke: #00fa9a; }

.vertex.color-mediumturquoise rect {
  fill: none;
  stroke: #48d1cc;
  stroke-width: 3px; }
.vertex.color-mediumturquoise g div {
  background: none;
  border-radius: 30px;
  border-color: #48d1cc;
  color: #000; }

.edgePath.color-mediumturquoise path {
  fill: none;
  stroke: #48d1cc; }
.edgePath.color-mediumturquoise marker path {
  fill: #48d1cc;
  stroke: #48d1cc; }

.vertex.color-mediumvioletred rect {
  fill: none;
  stroke: #c71585;
  stroke-width: 3px; }
.vertex.color-mediumvioletred g div {
  background: none;
  border-radius: 30px;
  border-color: #c71585;
  color: #000; }

.edgePath.color-mediumvioletred path {
  fill: none;
  stroke: #c71585; }
.edgePath.color-mediumvioletred marker path {
  fill: #c71585;
  stroke: #c71585; }

.vertex.color-midnightblue rect {
  fill: none;
  stroke: #191970;
  stroke-width: 3px; }
.vertex.color-midnightblue g div {
  background: none;
  border-radius: 30px;
  border-color: #191970;
  color: #000; }

.edgePath.color-midnightblue path {
  fill: none;
  stroke: #191970; }
.edgePath.color-midnightblue marker path {
  fill: #191970;
  stroke: #191970; }

.vertex.color-navajowhite rect {
  fill: none;
  stroke: #ffdead;
  stroke-width: 3px; }
.vertex.color-navajowhite g div {
  background: none;
  border-radius: 30px;
  border-color: #ffdead;
  color: #000; }

.edgePath.color-navajowhite path {
  fill: none;
  stroke: #ffdead; }
.edgePath.color-navajowhite marker path {
  fill: #ffdead;
  stroke: #ffdead; }

.vertex.color-navy rect {
  fill: none;
  stroke: #000080;
  stroke-width: 3px; }
.vertex.color-navy g div {
  background: none;
  border-radius: 30px;
  border-color: #000080;
  color: #000; }

.edgePath.color-navy path {
  fill: none;
  stroke: #000080; }
.edgePath.color-navy marker path {
  fill: #000080;
  stroke: #000080; }

.vertex.color-olivedrab rect {
  fill: none;
  stroke: #6b8e23;
  stroke-width: 3px; }
.vertex.color-olivedrab g div {
  background: none;
  border-radius: 30px;
  border-color: #6b8e23;
  color: #000; }

.edgePath.color-olivedrab path {
  fill: none;
  stroke: #6b8e23; }
.edgePath.color-olivedrab marker path {
  fill: #6b8e23;
  stroke: #6b8e23; }

.vertex.color-orange rect {
  fill: none;
  stroke: #ffa500;
  stroke-width: 3px; }
.vertex.color-orange g div {
  background: none;
  border-radius: 30px;
  border-color: #ffa500;
  color: #000; }

.edgePath.color-orange path {
  fill: none;
  stroke: #ffa500; }
.edgePath.color-orange marker path {
  fill: #ffa500;
  stroke: #ffa500; }

.vertex.color-palegreen rect {
  fill: none;
  stroke: #98fb98;
  stroke-width: 3px; }
.vertex.color-palegreen g div {
  background: none;
  border-radius: 30px;
  border-color: #98fb98;
  color: #000; }

.edgePath.color-palegreen path {
  fill: none;
  stroke: #98fb98; }
.edgePath.color-palegreen marker path {
  fill: #98fb98;
  stroke: #98fb98; }

.vertex.color-orangered rect {
  fill: none;
  stroke: #ff4500;
  stroke-width: 3px; }
.vertex.color-orangered g div {
  background: none;
  border-radius: 30px;
  border-color: #ff4500;
  color: #000; }

.edgePath.color-orangered path {
  fill: none;
  stroke: #ff4500; }
.edgePath.color-orangered marker path {
  fill: #ff4500;
  stroke: #ff4500; }

.vertex.color-orchid rect {
  fill: none;
  stroke: #da70d6;
  stroke-width: 3px; }
.vertex.color-orchid g div {
  background: none;
  border-radius: 30px;
  border-color: #da70d6;
  color: #000; }

.edgePath.color-orchid path {
  fill: none;
  stroke: #da70d6; }
.edgePath.color-orchid marker path {
  fill: #da70d6;
  stroke: #da70d6; }

.vertex.color-palevioletred rect {
  fill: none;
  stroke: #db7093;
  stroke-width: 3px; }
.vertex.color-palevioletred g div {
  background: none;
  border-radius: 30px;
  border-color: #db7093;
  color: #000; }

.edgePath.color-palevioletred path {
  fill: none;
  stroke: #db7093; }
.edgePath.color-palevioletred marker path {
  fill: #db7093;
  stroke: #db7093; }

.vertex.color-peru rect {
  fill: none;
  stroke: #cd853f;
  stroke-width: 3px; }
.vertex.color-peru g div {
  background: none;
  border-radius: 30px;
  border-color: #cd853f;
  color: #000; }

.edgePath.color-peru path {
  fill: none;
  stroke: #cd853f; }
.edgePath.color-peru marker path {
  fill: #cd853f;
  stroke: #cd853f; }

.vertex.color-pink rect {
  fill: none;
  stroke: #ffc0cb;
  stroke-width: 3px; }
.vertex.color-pink g div {
  background: none;
  border-radius: 30px;
  border-color: #ffc0cb;
  color: #000; }

.edgePath.color-pink path {
  fill: none;
  stroke: #ffc0cb; }
.edgePath.color-pink marker path {
  fill: #ffc0cb;
  stroke: #ffc0cb; }

.vertex.color-plum rect {
  fill: none;
  stroke: #dda0dd;
  stroke-width: 3px; }
.vertex.color-plum g div {
  background: none;
  border-radius: 30px;
  border-color: #dda0dd;
  color: #000; }

.edgePath.color-plum path {
  fill: none;
  stroke: #dda0dd; }
.edgePath.color-plum marker path {
  fill: #dda0dd;
  stroke: #dda0dd; }

.vertex.color-powderblue rect {
  fill: none;
  stroke: #b0e0e6;
  stroke-width: 3px; }
.vertex.color-powderblue g div {
  background: none;
  border-radius: 30px;
  border-color: #b0e0e6;
  color: #000; }

.edgePath.color-powderblue path {
  fill: none;
  stroke: #b0e0e6; }
.edgePath.color-powderblue marker path {
  fill: #b0e0e6;
  stroke: #b0e0e6; }

.vertex.color-purple rect {
  fill: none;
  stroke: #800080;
  stroke-width: 3px; }
.vertex.color-purple g div {
  background: none;
  border-radius: 30px;
  border-color: #800080;
  color: #000; }

.edgePath.color-purple path {
  fill: none;
  stroke: #800080; }
.edgePath.color-purple marker path {
  fill: #800080;
  stroke: #800080; }

.vertex.color-rebeccapurple rect {
  fill: none;
  stroke: #663399;
  stroke-width: 3px; }
.vertex.color-rebeccapurple g div {
  background: none;
  border-radius: 30px;
  border-color: #663399;
  color: #000; }

.edgePath.color-rebeccapurple path {
  fill: none;
  stroke: #663399; }
.edgePath.color-rebeccapurple marker path {
  fill: #663399;
  stroke: #663399; }

.vertex.color-red rect {
  fill: none;
  stroke: #ff0000;
  stroke-width: 3px; }
.vertex.color-red g div {
  background: none;
  border-radius: 30px;
  border-color: #ff0000;
  color: #000; }

.edgePath.color-red path {
  fill: none;
  stroke: #ff0000; }
.edgePath.color-red marker path {
  fill: #ff0000;
  stroke: #ff0000; }

.vertex.color-rosybrown rect {
  fill: none;
  stroke: #bc8f8f;
  stroke-width: 3px; }
.vertex.color-rosybrown g div {
  background: none;
  border-radius: 30px;
  border-color: #bc8f8f;
  color: #000; }

.edgePath.color-rosybrown path {
  fill: none;
  stroke: #bc8f8f; }
.edgePath.color-rosybrown marker path {
  fill: #bc8f8f;
  stroke: #bc8f8f; }

.vertex.color-royalblue rect {
  fill: none;
  stroke: #4169e1;
  stroke-width: 3px; }
.vertex.color-royalblue g div {
  background: none;
  border-radius: 30px;
  border-color: #4169e1;
  color: #000; }

.edgePath.color-royalblue path {
  fill: none;
  stroke: #4169e1; }
.edgePath.color-royalblue marker path {
  fill: #4169e1;
  stroke: #4169e1; }

.vertex.color-saddlebrown rect {
  fill: none;
  stroke: #8b4513;
  stroke-width: 3px; }
.vertex.color-saddlebrown g div {
  background: none;
  border-radius: 30px;
  border-color: #8b4513;
  color: #000; }

.edgePath.color-saddlebrown path {
  fill: none;
  stroke: #8b4513; }
.edgePath.color-saddlebrown marker path {
  fill: #8b4513;
  stroke: #8b4513; }

.vertex.color-salmon rect {
  fill: none;
  stroke: #fa8072;
  stroke-width: 3px; }
.vertex.color-salmon g div {
  background: none;
  border-radius: 30px;
  border-color: #fa8072;
  color: #000; }

.edgePath.color-salmon path {
  fill: none;
  stroke: #fa8072; }
.edgePath.color-salmon marker path {
  fill: #fa8072;
  stroke: #fa8072; }

.vertex.color-sandybrown rect {
  fill: none;
  stroke: #f4a460;
  stroke-width: 3px; }
.vertex.color-sandybrown g div {
  background: none;
  border-radius: 30px;
  border-color: #f4a460;
  color: #000; }

.edgePath.color-sandybrown path {
  fill: none;
  stroke: #f4a460; }
.edgePath.color-sandybrown marker path {
  fill: #f4a460;
  stroke: #f4a460; }

.vertex.color-seagreen rect {
  fill: none;
  stroke: #2e8b57;
  stroke-width: 3px; }
.vertex.color-seagreen g div {
  background: none;
  border-radius: 30px;
  border-color: #2e8b57;
  color: #000; }

.edgePath.color-seagreen path {
  fill: none;
  stroke: #2e8b57; }
.edgePath.color-seagreen marker path {
  fill: #2e8b57;
  stroke: #2e8b57; }

.vertex.color-sienna rect {
  fill: none;
  stroke: #a0522d;
  stroke-width: 3px; }
.vertex.color-sienna g div {
  background: none;
  border-radius: 30px;
  border-color: #a0522d;
  color: #000; }

.edgePath.color-sienna path {
  fill: none;
  stroke: #a0522d; }
.edgePath.color-sienna marker path {
  fill: #a0522d;
  stroke: #a0522d; }

.vertex.color-silver rect {
  fill: none;
  stroke: #c0c0c0;
  stroke-width: 3px; }
.vertex.color-silver g div {
  background: none;
  border-radius: 30px;
  border-color: #c0c0c0;
  color: #000; }

.edgePath.color-silver path {
  fill: none;
  stroke: #c0c0c0; }
.edgePath.color-silver marker path {
  fill: #c0c0c0;
  stroke: #c0c0c0; }

.vertex.color-skyblue rect {
  fill: none;
  stroke: #87ceeb;
  stroke-width: 3px; }
.vertex.color-skyblue g div {
  background: none;
  border-radius: 30px;
  border-color: #87ceeb;
  color: #000; }

.edgePath.color-skyblue path {
  fill: none;
  stroke: #87ceeb; }
.edgePath.color-skyblue marker path {
  fill: #87ceeb;
  stroke: #87ceeb; }

.vertex.color-slateblue rect {
  fill: none;
  stroke: #6a5acd;
  stroke-width: 3px; }
.vertex.color-slateblue g div {
  background: none;
  border-radius: 30px;
  border-color: #6a5acd;
  color: #000; }

.edgePath.color-slateblue path {
  fill: none;
  stroke: #6a5acd; }
.edgePath.color-slateblue marker path {
  fill: #6a5acd;
  stroke: #6a5acd; }

.vertex.color-slategray rect {
  fill: none;
  stroke: #708090;
  stroke-width: 3px; }
.vertex.color-slategray g div {
  background: none;
  border-radius: 30px;
  border-color: #708090;
  color: #000; }

.edgePath.color-slategray path {
  fill: none;
  stroke: #708090; }
.edgePath.color-slategray marker path {
  fill: #708090;
  stroke: #708090; }

.vertex.color-springgreen rect {
  fill: none;
  stroke: #00ff7f;
  stroke-width: 3px; }
.vertex.color-springgreen g div {
  background: none;
  border-radius: 30px;
  border-color: #00ff7f;
  color: #000; }

.edgePath.color-springgreen path {
  fill: none;
  stroke: #00ff7f; }
.edgePath.color-springgreen marker path {
  fill: #00ff7f;
  stroke: #00ff7f; }

.vertex.color-steelblue rect {
  fill: none;
  stroke: #4682b4;
  stroke-width: 3px; }
.vertex.color-steelblue g div {
  background: none;
  border-radius: 30px;
  border-color: #4682b4;
  color: #000; }

.edgePath.color-steelblue path {
  fill: none;
  stroke: #4682b4; }
.edgePath.color-steelblue marker path {
  fill: #4682b4;
  stroke: #4682b4; }

.vertex.color-tan rect {
  fill: none;
  stroke: #d2b48c;
  stroke-width: 3px; }
.vertex.color-tan g div {
  background: none;
  border-radius: 30px;
  border-color: #d2b48c;
  color: #000; }

.edgePath.color-tan path {
  fill: none;
  stroke: #d2b48c; }
.edgePath.color-tan marker path {
  fill: #d2b48c;
  stroke: #d2b48c; }

.vertex.color-teal rect {
  fill: none;
  stroke: #008080;
  stroke-width: 3px; }
.vertex.color-teal g div {
  background: none;
  border-radius: 30px;
  border-color: #008080;
  color: #000; }

.edgePath.color-teal path {
  fill: none;
  stroke: #008080; }
.edgePath.color-teal marker path {
  fill: #008080;
  stroke: #008080; }

.vertex.color-thistle rect {
  fill: none;
  stroke: #d8bfd8;
  stroke-width: 3px; }
.vertex.color-thistle g div {
  background: none;
  border-radius: 30px;
  border-color: #d8bfd8;
  color: #000; }

.edgePath.color-thistle path {
  fill: none;
  stroke: #d8bfd8; }
.edgePath.color-thistle marker path {
  fill: #d8bfd8;
  stroke: #d8bfd8; }

.vertex.color-tomato rect {
  fill: none;
  stroke: #ff6347;
  stroke-width: 3px; }
.vertex.color-tomato g div {
  background: none;
  border-radius: 30px;
  border-color: #ff6347;
  color: #000; }

.edgePath.color-tomato path {
  fill: none;
  stroke: #ff6347; }
.edgePath.color-tomato marker path {
  fill: #ff6347;
  stroke: #ff6347; }

.vertex.color-turquoise rect {
  fill: none;
  stroke: #40e0d0;
  stroke-width: 3px; }
.vertex.color-turquoise g div {
  background: none;
  border-radius: 30px;
  border-color: #40e0d0;
  color: #000; }

.edgePath.color-turquoise path {
  fill: none;
  stroke: #40e0d0; }
.edgePath.color-turquoise marker path {
  fill: #40e0d0;
  stroke: #40e0d0; }

.vertex.color-violet rect {
  fill: none;
  stroke: #ee82ee;
  stroke-width: 3px; }
.vertex.color-violet g div {
  background: none;
  border-radius: 30px;
  border-color: #ee82ee;
  color: #000; }

.edgePath.color-violet path {
  fill: none;
  stroke: #ee82ee; }
.edgePath.color-violet marker path {
  fill: #ee82ee;
  stroke: #ee82ee; }

.vertex.color-wheat rect {
  fill: none;
  stroke: #f5deb3;
  stroke-width: 3px; }
.vertex.color-wheat g div {
  background: none;
  border-radius: 30px;
  border-color: #f5deb3;
  color: #000; }

.edgePath.color-wheat path {
  fill: none;
  stroke: #f5deb3; }
.edgePath.color-wheat marker path {
  fill: #f5deb3;
  stroke: #f5deb3; }

.vertex.color-yellow rect {
  fill: none;
  stroke: #ffff00;
  stroke-width: 3px; }
.vertex.color-yellow g div {
  background: none;
  border-radius: 30px;
  border-color: #ffff00;
  color: #000; }

.edgePath.color-yellow path {
  fill: none;
  stroke: #ffff00; }
.edgePath.color-yellow marker path {
  fill: #ffff00;
  stroke: #ffff00; }

.vertex.color-yellowgreen rect {
  fill: none;
  stroke: #9acd32;
  stroke-width: 3px; }
.vertex.color-yellowgreen g div {
  background: none;
  border-radius: 30px;
  border-color: #9acd32;
  color: #000; }

.edgePath.color-yellowgreen path {
  fill: none;
  stroke: #9acd32; }
.edgePath.color-yellowgreen marker path {
  fill: #9acd32;
  stroke: #9acd32; }

/*# sourceMappingURL=ProcessModel.css.map */
