/* common color */
/* color theme */
/* common color */
/* color theme */
.nav-pills > li.active > a {
  background: #428454; }
.nav-pills > li.active > a:hover {
  background: #5EBC77; }

/* common color */
/* color theme */
.c3-bars path {
  fill: #428454 !important;
  stroke: #5EBC77 !important; }

.barchart .c3-legend-item-tile, .linechart .c3-legend-item-tile {
  fill: #428454 !important; }

.barchart .c3-tooltip span, .linechart .c3-tooltip span {
  background: #428454 !important; }

.custom-legend .legend-item {
  cursor: pointer; }
  .custom-legend .legend-item span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 6px; }

/* multilevel dropdown on hover */
/* http://bootsnipp.com/snippets/featured/multi-level-dropdown-menu-bs3 */
.dropdown-submenu {
  position: relative; }

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px; }

.dropdown-submenu:hover > .dropdown-menu {
  display: block; }

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px; }

.dropdown-submenu:hover > a:after {
  border-left-color: #fff; }

.dropdown-submenu.pull-left {
  float: none; }

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -105%;
  border-right: none;
  margin-left: 0px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px; }

/* remove top arrow image on multilevel navigation */
.dropdown-submenu ul:before {
  content: none !important; }
.dropdown-submenu ul:after {
  content: none !important; }

.leftside-navigation .dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 90%;
  border-left: none; }
.leftside-navigation .dropdown-submenu a:after {
  margin-top: -15px;
  margin-right: 5px; }

/* common color */
/* color theme */
.log-summary-tab i {
  margin-right: 10px; }

.log-summary-info > div:first-child {
  padding-left: 50px;
  padding-top: 15px; }
  .log-summary-info > div:first-child i {
    font-size: 40px; }
  .log-summary-info > div:first-child h1 {
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 10px 0;
    text-transform: uppercase; }
.log-summary-info li {
  display: inline-block;
  width: 16%;
  text-align: center;
  border-left: 1px solid #f1f2f7; }

/* common color */
/* color theme */
ul.sidebar-menu li a .title-en {
  font-size: 15px;
  font-weight: bold;
  width: 40px; }

ul.sidebar-menu li a i,
ul.sidebar-menu li a div {
  float: left;
  margin-right: 10px; }

.slider.slider-horizontal {
  width: 100% !important; }

.option-slider-container .slider span {
  float: right; }
.option-slider-container .slider .slider-track {
  width: 80% !important; }
.option-slider-container .slider .slider-selection {
  background: #A9E072; }
.option-slider-container .slider .slider-handle {
  background: #FAA95A; }

.loading-spinner {
  text-align: center;
  padding-top: 15% !important; }
  .loading-spinner span {
    display: inherit; }

aside {
  z-index: 1000;
  position: relative; }

section#main-content {
  z-index: 0; }

/*# sourceMappingURL=style-layout.css.map */
