body {
	background-color: #fff;
	background: url('../../images/bg.jpg');
}

body>.grid {
	height: 100%;
}

.image {
	margin-top: -100px;
}

.column {
	max-width: 450px;
}

#login_image {
	width: 100%;
}