.bar {
  transition: fill .3s ease;
}

svg .grid {
	stroke: black;
	stroke-dasharray: 1 2;
	stroke-width: 1;
}

svg text.small {
	font-size: 8px;
}

svg text.small.date {
	font-size: 8px;
	fill: red
}

.bar rect.clickable.rawmat {
  fill: gold;
}

.bar rect.clickable.job1 {
  fill: #ffff55;
}

.bar rect.clickable.job2 {
  fill: #ff0055;
}

.bar rect.clickable.job3 {
  fill: #00bb55;
}

.bar rect.clickable.job4 {
  fill: #aa3355;
}

.bar rect.clickable.job5 {
  fill: #550077;
}

.bar rect.clickable:hover,
.bar rect.clickable:focus {
  fill: red;
  cursor: pointer;
}

.rawmat {
	background: gold;
}

.job1 {
	background: #ffff55; 
}

.job2 {
	background: #ff0055; 
}

.job3 {
	background: #00bb55; 
}

.job4 {
	background: #aa3355; 
}

.job5 {
	background: #550077; 
}