<!DOCTYPE html>
<html layout:decorator="layout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <title th:title="#{dotted.title}">Dotted</title>
    <link rel="stylesheet" th:href="@{/bab/modules/performancevisualizer/dotted.css}"/>
 	<style th:utext="${css}"></style>>
  </head>
  <body>
    <!-- Start Grid -->
    <div id="app" layout:fragment="content" class="ui grid">
    	<div class="sixteen wide column">
    		<!-- start of segment -->
    		<div class="ui top attached secondary segment">
    			<h2 class="ui header" th:text="#{dotted.title}">Dotted Chart</h2>
    		</div>
    		<div class="ui attached segment">
    			<div class="ui blue segment">
    				<div class="small ui basic buttons">
    					<div class="ui button"><i class="maximize icon"></i></div>
    					<div class="ui button"><i class="resize vertical icon"></i></div>
    					<div class="ui button"><i class="resize horizontal icon"></i></div>
    					<div class="ui dropdown button">
    						<i class="zoom icon"></i>
    						<div class="menu">
    							<div class="item">
    								Horizontal Scaling
    							</div>
    							<div class="item">
    								Vertical Scaling
    							</div>
    						</div>
    					</div>    					
    				</div>    				
   					<div th:remove="tag" th:utext="${svg}"></div>
    			</div>
    		</div>
    	</div>
    </div>
    <!-- End Grid -->    
    <th:block layout:fragment="script">
      <script th:inline="javascript" id="json-data">
        // tutorial : http://forum.thymeleaf.org/Using-Thymeleaf-in-order-to-generate-inline-json-in-the-html-view-td4025733.html
        jsonData = /*[[${jsonData}]]*/ {} ;
      </script>
      <script th:inline="javascript" id="dropdown">
      	$('.ui.dropdown').dropdown();
      </script>            
      <script th:src="@{/bower_components/d3/d3.js}"></script>
      <script th:src="@{/bab/modules/performancevisualizer/dotted/dotted.js}"></script>
    </th:block>
  </body>
</html>
