// Icons from directory ""
%icon {
	background-repeat: no-repeat
}

@mixin icon-dimension($size){
	width: $size;
	height: $size;
	background-size: $size auto; 
}

.icon-bab-dims {
	@include icon-dimension(38px);
}

.icon-bab-1,
.icon-bab-1\:regular {
	@extend %icon;
	background-image: url('icons/icons.png');
	background-position: 0 0;
}
.icon-bab-1:hover,
.icon-bab-1\:hover {
	@extend %icon;
	background-image: url('icons/icons.png');
	background-position: 0 -150px;
}

.icon-bab-2,
.icon-bab-2\:regular {
	@extend %icon;
	background-image: url('icons/icons.png');
	background-position: 0 -300px;
}

.icon-bab-2:hover,
.icon-bab-2\:hover {
	@extend %icon;
	background-image: url('icons/icons.png');
	background-position: 0 -450px;
}

.icon-bab-3,
.icon-bab-3\:regular {
	@extend %icon;
	background-image: url('icons/icons.png');
	background-position: 0 -600px;
}

.icon-bab-3:hover,
.icon-bab-3\:hover {
	@extend %icon;
	background-image: url('icons/icons.png');
	background-position: 0 -750px;
}

.icon-bab-4,
.icon-bab-4\:regular {
	@extend %icon;
	background-image: url('icons/icons.png');
	background-position: 0 -900px;
}

.icon-bab-4:hover,
.icon-bab-4\:hover {
	@extend %icon;
	background-image: url('icons/icons.png');
	background-position: 0 -1050px;
}

.icon-bab-5,
.icon-bab-5\:regular {
	@extend %icon;
	background-image: url('icons/icons.png');
	background-position: 0 -1200px;
}

.icon-bab-5:hover,
.icon-bab-5\:hover {
	@extend %icon;
	background-image: url('icons/icons.png');
	background-position: 0 -1350px;
}
 
.icon-bab-6,
.icon-bab-6\:regular {
	@extend %icon;
	background-image: url('icons/icons.png');
	background-position: 0 -1500px;
}
 
.icon-bab-6:hover,
.icon-bab-6\:hover {
	@extend %icon;
	background-image: url('icons/icons.png');
	background-position: 0 -1650px;
}
 
.icon-bab-7,
.icon-bab-7\:regular {
	@extend %icon;
	background-image: url('icons/icons.png');
	background-position: 0 -1800px;
}
 
.icon-bab-7:hover,
.icon-bab-7\:hover {
	@extend %icon;
	background-image: url('icons/icons.png');
	background-position: 0 -1950px;
}
 