<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>BAB v2.3 ::</title>
	<link rel="stylesheet" type="text/css" href="vendors/json-viewer/css/json-viewer.css" />
	<link rel="stylesheet" type="text/css" href="test/css/bab-test.css" />
	<style>
		.flex {
			display: flex;
		}

		.half {
			width: 50%;
			padding: 10px;
		}
	</style>
</head>
<body>
	<nav>
		<h1>
			BAB v2.3
		</h1>
		<a href="#process">TEST BENCH</a>
		<a href="api/job/manager/5" target="_blank">JOB MANAGER</a>
	</nav>
	<main>
		<section id="process">
			<article>
				<header>
					<h2>
						Test Bench
					</h2>
				</header>
				<section class="flex">
					<div id="vizProcArea" class="half" style="overflow: scroll; width: 70%; max-height: 80vh"></div>
					<div class="half" style="width: 30%;">
						<form method="POST">
							<fieldset>
								<legend>ALGORITHM AND PARAMETERS</legend>
								<div>
									<label style="width: 30%">Algorithm</label>
									<select id="vizProcAlg" style="width: 50%" onchange="vizProcessParam('vizProcAlg','vizProcReq')">
										<option value="">--- SELECT --</option>
										<option th:each="scenario:${scenarios.keySet()}" 
											th:value="${{scenario}}" th:text="${{scenario}}">									
										</option>
									</select>
								</div>
								<div>
									<label>Visualizer</label>
									<select id="vizProcViz" style="width: 50%">
										<option value="json">JSON</option>
										<option value="process">Process Model</option>
										<option value="matrix2d">Matrix 2D</option>
									</select>
									<button id="vizProcBtn" type="button" onclick="runVizProcess()" style="width: 20%;">RUN !</button>
								</div>
								<div>
									<label>Request Parameters</label>
									<br />
									<textarea id="vizProcReq" style="width: 100%; min-height: 30vh;">{}</textarea>
								</div>
								<div>
									<label>Response</label>
									<br />
									<textarea id="vizProcRes" style="width: 100%; min-height: 30vh;" disabled="disabled"></textarea>
								</div>
							</fieldset>
						</form>
					</div>
				</section>
			</article>
		</section>
	</main>
	<script src="test/js/bab-test.js"></script>
	<script src="vendors/viz/js/viz.js"></script>
	<script src="vendors/json-viewer/js/json-viewer.js"></script>
	<script>
		document.addEventListener("DOMContentLoaded", function(event) {
			activateTab("#process");
		});
	</script>
</body>
</html>