body {
	background-color: #fff;
	background: url('../../images/jennifer-chen-444045-unsplash.jpg') fixed center center;
	background-size: cover;
}

body>.grid {
	height: 100%;
}

.column {
	max-width: 450px;
}

.ui.stacked.segment{
	background-color: rgba(200,200,200,0.2);
}

.ui.form input[type]{
	background-color: rgba(255,255,255,0.2);
	color: white;
}

.ui.form input[type]:focus{
	background: #A1FFCE;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FAFFD1, #A1FFCE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.ui.form .field.field input:-webkit-autofill{
	box-shadow: 0 0 0 100px rgba(186, 220, 88, 0.2) inset!important;
    border-color: #B5CC18!important;
    color: white;
}

h2.ui.white.header{
	color: white;
}

footer{
	color: white;
	margin: 2em 0 1em 0;
}

#login_image {
	width: 100%;
}

/* Helpers */
label.ui.error {
	color: #ff7675!important;
}