<!DOCTYPE html>
<html layout:decorator="layout">
<head>
	<meta charset="utf-8" />
	<title th:text="#{rservices.rservices}"></title>
    <link rel="stylesheet" th:href="@{/bab/bower_components/nouislider/distribute/nouislider.min.css}"/>
    <style type="text/css">
   
    </style>
</head>
<body>
	<div id="app" layout:fragment="content" class="ui grid">
		<div class="sixteen wide column">
			<!-- start of segment -->
			<div class="ui top attached secondary segment">
	    		<h2 class="ui header" th:text="#{rservices.rservices}"></h2>
	    	</div>
	    	<div class="ui attached segment">  
				<div id="output" style="background-repeat: no-repeat;background-size: auto 100%;height:800px;background-position: center;">
					<loader :isactive="isProcessing"></loader>
				</div>
			</div>
			
		</div>
	</div>
	<th:block layout:fragment="script">
		<script th:inline="javascript" id="json-data">
			// tutorial : http://forum.thymeleaf.org/Using-Thymeleaf-in-order-to-generate-inline-json-in-the-html-view-td4025733.html
			jsonData = /*[[${jsonData}]]*/ {} ;
			apiURI = /*[[${apiURI}]]*/ {} ;
		</script>
		<script th:src="@{/bab/vue-components/loader/LoaderComponent.js}"></script>
		<script th:src="@{/bab/bower_components/jquery-validation/dist/jquery.validate.min.js}"></script>
		<script th:src="@{/bab/bower_components/nouislider/distribute/nouislider.js}"></script>
		<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js}"></script>
		<script th:src="@{/bab/modules/rservices/rservices.js}"></script>
	</th:block>
</body>
</html>