<!DOCTYPE html>
<html layout:decorator="layout-home" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title th:text="#{home.title}"></title>
<link rel="stylesheet" th:href="@{/bab/modules/home/home.css}" />
<link rel="stylesheet" th:href="@{/components/dygraph/dygraph.css}" />
<link rel="stylesheet" th:href="@{/css/pmfcc_style.css}" />

<style>
.dygraph-legend {
	left: 70px !important;
	Top: -110px !important;
	background-color: transparent !important;
	width: 80% !important;
}
</style>

</head>
<body>
	<!-- Start Grid -->
	<div id="app" layout:fragment="content-home">
		<!-- Main Content -->

		<div class="ui centered grid">
			<div class="sixteen wide column">
				<div class="ui top attached secondary segment">
					<h2>
						<i class="settings icon"></i> - 설비가동현황
					</h2>
				</div>
				<div class="ui attached segment">
					<div class="ui horizontal segments">
						<div class="ui segment">
							<div class="ui form">
								<div class="inline fields">
									<div class="field">
										<label for="factory_select">공장명:</label> <select name="factory_select" id="factory_select" class="">
											<option value="" selected="selected">Select Factory</option>
											<!-- 								<option value="F001">(F001) Factory 1</option> -->
											<!-- 								<option value="F002">(F002) Factory 2</option> -->
										</select>
									</div>
									<div class="field">
										<label for="machines_select">설비명:</label> <select name="machines_select" id="machines_select" class="">
											<option value="" selected="selected">Select Machine</option>
											<!-- 								<option value="MC_0001">MC_0001</option> -->
											<!-- 								<option value="MC_0002">MC_0002</option> -->
											<!-- 								<option value="MC_0003">MC_0003</option> -->
											<!-- 								<option value="MC_0004">MC_0004</option> -->
											<!-- 								<option value="MC_0005">MC_0005</option> -->
											<!-- 								<option value="MC_0006">MC_0006</option> -->
											<!-- 								<option value="MC_0007">MC_0007</option> -->
											<!-- 								<option value="MC_0008">MC_0008</option> -->
										</select>
									</div>
									<div class="field">
										<div class="ui calendar" id="start_date">
											<label>Start Datetime : &nbsp;&nbsp;</label>
											<div class="ui input left icon">
												<i class="calendar icon"></i> <input type="text" name="start_date_field" id="start_date_field" placeholder="Start Date Time" />
											</div>
										</div>
									</div>
									<div class="field">
										<div class="ui calendar" id="end_date">
											<label>End Datetime : &nbsp;&nbsp;</label>
											<div class="ui input left icon">
												<i class="calendar icon"></i> <input type="text" name="end_date_field" id="end_date_field" placeholder="End Date Time" />
											</div>
										</div>
									</div>
									<div class="field">
										<button class="ui green labeled icon button runquery">
											<i class="filter icon"></i> Run
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="ui attached segment">
					<div align="center">
						<button class="ui teal labeled icon button shifthour" data="backward">
							<i class="arrow left icon"></i>Backward by 1 Hour
						</button>
						<button class="ui teal right labeled icon button shifthour" data="forward">
							<i class="arrow right icon"></i>Forward by 1 Hour
						</button>
						<button class="ui teal right labeled icon button shifthour" data="ninety-backward">
							<i class="arrow left icon"></i>Backward 90%
						</button>
						<button class="ui teal right labeled icon button shifthour" data="ninety-forward">
							<i class="arrow right icon"></i>Forward 90%
						</button>
						<a class="ui black right labeled icon button redirect-ftwo item" href-basic="" href=""> <i class="line chart icon"></i> 모니터링 항목현황
						</a>
					</div>
				</div>
			</div>
			<!-- New Row different size of Column -->
			<div class="sixteen wide column">
				<div class="ui horizontal segments">
					<div class="ui segment" style="width: 80%;">
						<div id="chart" style="height: 450px; width: 100%; margin-top: 110px;"></div>
						<p style="text-align: center; font-size: 25px; margin-top: 30px;">Zoom: click-drag, Restore: double-click</p>
					</div>
					<div class="ui segment" style="width: 20%;">
						<div class="ui form">
							<button class="ui blue labeled icon button selectall" data="select" style="width: 100%; margin-bottom: 12px;">
								<i class="checkmark box icon"></i>Select All
							</button>
							<button class="ui red labeled icon button selectall" data="unselect" style="width: 100%;">
								<i class="square outline icon"></i>Unselect All
							</button>
							<h4 class="ui dividing header">Machine Parameters</h4>
							<div id="cbx_machine_parameters" style="overflow-y: auto; height: 465px;"></div>
							<div class="field"></div>
							<div class="field"></div>
						</div>
					</div>
				</div>
				<div class="ui center aligned segment" style="width: 80%;">
					<button class="ui green right labeled icon button exporttocsv">
						<i class="download icon"></i> Export to CSV
					</button>
				</div>
			</div>
		</div>

		<div class="modal-loading">
			<!-- Place at bottom of page -->
		</div>
	</div>
	<!-- End Grid -->

	<th:block layout:fragment="script">
		<script th:inline="javascript" id="json-data">
			jsonData = /*[[${jsonData}]]*/{};
			apiURI = /*[[${apiURI}]]*/{};
			var theModal = $('.ui.modal').modal('setting', 'closable', false);
		</script>
		<script th:src="@{/bab/vue-components/loader/LoaderComponent.js}"></script>
		<script th:src="@{/components/dygraph/dygraph.min.js}"></script>
		<script th:inline="javascript">
			var machineIdPrev = "";
			var baseUrl = jsonData.BASE_URL;
			$("#monitoring_link").attr("href", baseUrl + "/pmfcc/monitoring/")
		</script>
		<script th:src="@{/js/facility.js}"></script>
	</th:block>
</body>
</html>
