/* common color */
$grey-dark:#f1f2f7;
$grey: #fafafa;
$white:#ffffff;
$black: #000000;

/* color theme */
$bg-color1: $white;		// white
$bg-color2: #F2E5C5; 	// skin
$bg-color3: #F5E871; 	// yellow
$bg-color4: #FAA95A; 	// orange
$bg-color5: #EF6245;	// red
$bg-color6: #A9E072;	// light green
$bg-color7: #5EBC77; 	// dark green
$bg-color8: #2E313D; 	// black
$bg-color9: $grey-dark;	// dark grey
$bg-color10: $grey;		// light grey

$bg-color1-hover: #f1f2f7;
$bg-color2-hover: #d1c7ab;
$bg-color3-hover: #c5bb5b;
$bg-color4-hover: #cd8b4a;
$bg-color5-hover: #ad4732;
$bg-color6-hover: #81ac57;
$bg-color7-hover: #428454;
$bg-color8-hover: #15161b;
$bg-color9-hover: #dbdce1;
$bg-color10-hover: #e6e7eb;

$text-color1: #333333;
$text-color2: #7c7765; 
$text-color3: #615808; 
$text-color4: #743c04; 
$text-color5: #661a09;
$text-color6: #3a6015;
$text-color7: #204d2c; 
$text-color8: #c4c6d1; 
$text-color9: #333333;
$text-color10: #333333;

$custom-colors: (
	color-aqua : #00ffff,
	color-blueviolet : #8a2be2,
	color-brown : #a52a2a,
	color-aquamarine : #7fffd4,
	color-burlywood : #deb887,
	color-cadetblue : #5f9ea0,
	color-chartreuse : #7fff00,
	color-blue : #0000ff,
	color-chocolate : #d2691e,
	color-coral : #ff7f50,
	color-cornflowerblue : #6495ed,
	color-crimson : #dc143c,
	color-cyan : #00ffff,
	color-darkblue : #00008b,
	color-darkcyan : #008b8b,
	color-darkgoldenrod : #b8860b,
	color-darkgray : #a9a9a9,
	color-darkgreen : #006400,
	color-darkkhaki : #bdb76b,
	color-darkmagenta : #8b008b,
	color-darkolivegreen : #556b2f,
	color-darkorange : #ff8c00,
	color-darkorchid : #9932cc,
	color-darkred : #8b0000,
	color-darksalmon : #e9967a,
	color-darkseagreen : #8fbc8f,
	color-darkslateblue : #483d8b,
	color-darkslategray : #2f4f4f,
	color-darkturquoise : #00ced1,
	color-darkviolet : #9400d3,
	color-deeppink : #ff1493,
	color-deepskyblue : #00bfff,
	color-dimgray : #696969,
	color-dodgerblue : #1e90ff,
	color-firebrick : #b22222,
	color-forestgreen : #228b22,
	color-fuchsia : #ff00ff,
	color-gold : #ffd700,
	color-goldenrod : #daa520,
	color-gray : #808080,
	color-green : #008000,
	color-greenyellow : #adff2f,
	color-hotpink : #ff69b4,
	color-indianred : #cd5c5c,
	color-indigo : #4b0082,
	color-khaki : #f0e68c,
	color-lawngreen : #7cfc00,
	color-lightblue : #add8e6,
	color-lightcoral : #f08080,
	color-lightgreen : #90ee90,
	color-lightpink : #ffb6c1,
	color-lightseagreen : #20b2aa,
	color-lightskyblue : #87cefa,
	color-lightsalmon : #ffa07a,
	color-lightslategray : #778899,
	color-lightsteelblue : #b0c4de,
	color-limegreen : #32cd32,
	color-magenta : #ff00ff,
	color-maroon : #800000,
	color-mediumaquamarine : #66cdaa,
	color-mediumblue : #0000cd,
	color-mediumorchid : #ba55d3,
	color-mediumpurple : #9370db,
	color-mediumseagreen : #3cb371,
	color-mediumslateblue : #7b68ee,
	color-mediumspringgreen : #00fa9a,
	color-mediumturquoise : #48d1cc,
	color-mediumvioletred : #c71585,
	color-midnightblue : #191970,
	color-navajowhite : #ffdead,
	color-navy : #000080,
	color-olivedrab : #6b8e23,
	color-orange : #ffa500,
	color-palegreen : #98fb98,
	color-orangered : #ff4500,
	color-orchid : #da70d6,
	color-palevioletred : #db7093,
	color-peru : #cd853f,
	color-pink : #ffc0cb,
	color-plum : #dda0dd,
	color-powderblue : #b0e0e6,
	color-purple : #800080,
	color-rebeccapurple : #663399,
	color-red : #ff0000,
	color-rosybrown : #bc8f8f,
	color-royalblue : #4169e1,
	color-saddlebrown : #8b4513,
	color-salmon : #fa8072,
	color-sandybrown : #f4a460,
	color-seagreen : #2e8b57,
	color-sienna : #a0522d,
	color-silver : #c0c0c0,
	color-skyblue : #87ceeb,
	color-slateblue : #6a5acd,
	color-slategray : #708090,
	color-springgreen : #00ff7f,
	color-steelblue : #4682b4,
	color-tan : #d2b48c,
	color-teal : #008080,
	color-thistle : #d8bfd8,
	color-tomato : #ff6347,
	color-turquoise : #40e0d0,
	color-violet : #ee82ee,
	color-wheat : #f5deb3,
	color-yellow : #ffff00,
	color-yellowgreen : #9acd32
)
