/* common color */
/* color theme */
@media (min-height: 768px) {
  ul.sidebar-menu {
    height: 82%; }
    ul.sidebar-menu li a {
      padding: 10px 0 25px 10px; }
    ul.sidebar-menu .copyright {
      width: 100%;
      position: absolute;
      bottom: 20px; } }
@media (max-height: 768px) {
  ul.sidebar-menu {
    margin-bottom: 10px; }

  .copyright {
    width: 100%;
    margin-top: 25px; } }
#sidebar {
  overflow: scroll !important;
  /* or 'visible' whatever */ }

#sidebar > ul > li > ul.sub {
  clear: both; }

.copyright .logo-bsclab {
  background: url("../../../../base/assets/bab/images/bsclablogo-for-dark.png") no-repeat;
  background-size: 160px;
  height: 55px;
  margin-left: 15px; }

.logo-logminer {
  background: url("../../../../base/assets/bab/images/logo-logminer.png") no-repeat;
  width: 53px;
  height: 52px;
  float: left; }

.logo-text {
  background: url("../../../../base/assets/bab/images/logo-text.png") no-repeat;
  width: 100px;
  height: 52px;
  float: left; }

a.logo {
  margin: 10px 0; }

.sidebar-toggle-box {
  margin-left: 30px; }

.sidebar-toggle-box .fa-bars {
  padding: 7px 8px;
  border: 1px solid #f99c41;
  width: 35px;
  border-radius: 25px;
  height: 35px;
  color: #fff;
  background: #FAA95A; }
  .sidebar-toggle-box .fa-bars:hover {
    background: #e77607;
    border: 1px solid #ce6906; }

.sidebar-toggle-box {
  margin-top: 12px; }

.header.green-bg {
  background: #5EBC77;
  border-bottom: 1px solid #44a35d; }

.bg-theme {
  background-color: #FAA95A;
  border: 1px solid #f99c41; }

ul.top-menu > li > a:hover,
ul.top-menu > li > a:focus {
  border: 1px solid #fff !important;
  border-color: #fff !important;
  text-decoration: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #fff !important; }

.box1 span {
  font-size: inherit; }

.box-repo-info {
  padding-bottom: 15px; }
  .box-repo-info span.li_data {
    font-size: 30px; }
  .box-repo-info span.workspaceid {
    padding: 5px;
    border-radius: 3px;
    font-size: 11px; }

.dropdown-menu.extended li p.green {
  background-color: #FAA95A;
  color: #fff; }

.notify-arrow-green {
  border-color: transparent transparent #FAA95A;
  border-bottom-color: #FAA95A !important;
  border-top-color: #FAA95A !important; }

.modal-header {
  background: #FAA95A; }

.slide-bottom .weather-2-header {
  padding: 10px; }
  .slide-bottom .weather-2-header .go-top {
    background: none;
    margin-right: 10px; }
    .slide-bottom .weather-2-header .go-top i {
      color: #000; }
    .slide-bottom .weather-2-header .go-top:hover i {
      color: #fff; }

legend {
  font-size: 18px; }

.nav.top-menu ul li a {
  white-space: inherit; }

.login-row {
  margin-top: 15px; }

a.profile.dropdown-toggle {
  min-width: 150px; }

ul.dropdown-menu.profile {
  width: 100px !important; }

ul.dropdown-menu.workspace {
  width: 200px !important; }

b.caret.pull-right {
  margin-top: 10px; }

.file-list > li a {
  margin-bottom: 5px; }
.file-list > li .label {
  padding: 0.5em .8em 0.5em;
  font-size: 80%;
  font-weight: normal;
  color: #777; }

/*# sourceMappingURL=style-adjusment.css.map */
