.node {
  background: blue; }

.hidden {
  display: none; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.processmodel-content {
  min-height: 500px;
  background: #eaeaea !important;
  position: relative; }

.logreplay-control {
  margin-top: 20px; }

.processmodel.logreplay svg {
 
}
.processmodel svg {
 
}

.node rect {
  stroke: #999;
  fill: #fff;
  stroke-width: 1.5px; }
  .node rect:hover {
    fill: lightsteelblue; }
  .node rect div:hover {
    background: lightsteelblue; }
.node.difference rect{
  stroke: red;
  stroke-width:3px;
  fill:red	
}
.node.difference div{
	color: white
}
.node.found rect {
    fill: #FFC107;
    stroke: #FF9800;
    stroke-width:5px;
}

.edgePath path {
  stroke: #333;
  stroke-width: 1.5px; }
  .edgePath path:hover {
    stroke: royalblue;
    stroke-width: 2.5px; }

.edgePath.difference path {
  stroke: red;
  stroke-width: 2px !important;
}
.edgePath.difference marker path {
	fill: red
} 
