.tokens circle {
  stroke: black;
  fill: #00b5ad;
  stroke-width: 0.5px; 
}
.tokens circle:hover {
  stroke-width: 2px; 
}

.ui.avatar.image{
	border: 1px solid black;
}


/* jquery UI slider */
.ui-slider{
   margin-top: 10px;
}

.ui-slider-pips .ui-slider-label {
   margin-left: -30px;
   width: 65px;
}

.ui-slider-pip-first .ui-slider-label {
    margin-left: -5px;
    text-align: left;
}
.ui-slider-pip-last .ui-slider-label {
    margin-left: -55px;
    text-align: right;
}

.logreplay-chart{
	margin-top:0 !important;
}
.logreplay-chart .column{
  padding-top: 0 !important;
}
.logreplay-chart #timeline-chart{
	height: 100px;
}

.dygraph-axis-label-x{
	display: none;
}
