<!DOCTYPE html>
<html layout:decorator="layout-home" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <title th:text="#{home.title}"></title>
    <link rel="stylesheet" th:href="@{/bab/modules/home/home.css}"/>
    <link rel="stylesheet" th:href="@{/bab/vue-components/fileupload/FileUploadComponent.css}"/>
  </head>
  <body>
    <!-- Start Grid -->
    <div id="app" layout:fragment="content-home" class="ui grid">
      <div id="username-header" class="sixteen wide column">
      	<h1 class="header">Welcome, Administrator</h1>
      	<div class="ui divider"></div>
      </div>
      <div class="five wide column">
        <!-- Data upload -->
        <div class="ui top attached secondary segment">
          <h4 class="ui header"><i class="upload icon"></i> <span th:remove="tag" th:text="#{home.dataupload}"></span></h4>
        </div>
        <div class="ui attached segment">
          <!--  create upload form http://jsfiddle.net/bm0u8snr/1/ -->
          <form action="/bab/v2/api/legacy/repository/import/default" actio2n="http://127.0.0.1:8080/bab/v2/api/legacy/repository/import/default/default/csv" id="upload-form" method="POST" class="ui form" on3submit="return buildUploadForm(this)" enctype="multipart/form-data" >
            <div class="ui field">
           	 <input id="upload-form-name" name="datasetId" type="text" th:placeholder="#{home.datasetid}"/>
            </div>	
            <div class="ui field">
              <fileupload th:title="#{home.choosefile}" th:placeholder="#{home.choosefiletext}"></fileupload>
            </div>
            <div class="ui field">
            	<select id="upload-form-format" class="ui dropdown" name="format">
            		<option value="">Select dataset format</option>
            		<option value="csv" selected="selected">csv</option>
            	</select>
            </div>
            <button class="ui fluid green button" onclick="submitForm()">
              <i class="upload icon"></i> <span th:text="#{home.upload}"></span>
            </button>
          </form>
        </div>
      </div>

      <div class="eleven wide column">
        <div class="ui segment">
          <div class="ui internally celled grid">
            <div class="row">
              <div class="eight wide column">
	              <h4 class="ui header"><i class="file text outline icon"></i> <span th:remove="tag" th:text="#{home.projects}"></span></h4>
              </div>
              <div class="eight wide column">
	              <h4 class="ui header"><i class="file text outline icon"></i> <span th:remove="tag" th:text="#{common.logrepositories}"></span></h4>
              </div>
            </div>
            <div class="row">
              <div class="eight wide column">
	              <div class="ui very relaxed divided list">
	                <div id="nodataset" v-if="datasets.length == 0" class="item" th:text="#{common.nodatasetfound}">
	                  
	                </div>
	                <div id="datasetfound" class="item" v-for="dataset in datasets" v-bind:class="{'active': dataset.active}" v-if="datasets.length > 0">
	                  <div class="right floated content">
								      <a class="ui basic green small button" href="../dataset/{{dataset.workspaceId}}/{{dataset.id}}" th:text="#{common.mapping}"></a>
								    </div>
	                  <i class="history middle aligned icon"></i>
	                  <div class="content">
	                    <a class="header" v-on:click="openDataset(dataset)">{{dataset.id}}</a>
	                    <div class="description show-popup" data-content="aaa">{{dataset.resourceClass}}</div>
	                  </div>
	                </div>
	              </div>
              </div>
              <div class="eight wide column">
                <loader :isactive="isProcessing"></loader>
	              <div class="ui very relaxed divided list">
	                <div v-if="repositories.length == 0" class="item" th:text="#{common.selectdataset}">
                    
                  </div>
	                <div class="item" v-for="repository in repositories" v-if="repositories.length > 0">
	                  <i class="history middle aligned icon"></i>
	                  <div class="content">
	                    <a class="header" href="../dashboard/{{repository.workspaceId}}/{{repository.datasetId}}/{{repository.id}}/1">{{repository.id}}</a>
	                    <div class="description show-popup" data-content="aaa">{{repository.description}}</div>
	                  </div>
	                  <div class="extra">
	                    <div class="ui right floated label show-popup" data-content="bbb">
	                      <i class="setting icon"></i> {{repository.noOfEvents}}
	                    </div>
	                    <div class="ui right floated label show-popup" data-content="ccc">
	                      <i class="tag icon"></i> {{repository.noOfCases}}
	                    </div>
	                  </div>
	                </div>
	              </div>
              </div>
            </div>
	        </div>
        </div>

      </div>
    
      <div class="ui small modal">
        <div class="content">
          <div class="" style="min-height:200px;">
            <div class="ui active inverted dimmer">
              <div class="ui text loader" th:text="#{home.loading}"></div>
            </div>
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <!-- End Grid -->

    <th:block layout:fragment="script">
      <script th:inline="javascript" id="json-data">
        // tutorial : http://forum.thymeleaf.org/Using-Thymeleaf-in-order-to-generate-inline-json-in-the-html-view-td4025733.html
        jsonData = /*[[${jsonData}]]*/ {};
        apiURI = /*[[${apiURI}]]*/ {} ;
        var theModal = $('.ui.modal').modal('setting', 'closable', false);

//         function submitForm(){
//         	var form = document.getElementById('upload-form');
//         	form.submit();
//         	$.ajax({
//         		url: 
//         	})
//         }
        
        function buildUploadForm(form) {
        	
        	var uploadFormDom = $("#upload-form");
        	var tmpName = $("#upload-form-name").val().trim();
        	var folder = $("#upload-form-folder").val().trim();
        	var format = $("#upload-form-format").val().trim();
        	var baseUrl = jsonData.importUri + jsonData.workspaceId;
        	
        	uploadFormDom.attr("action", baseUrl + "/" + folder + "/" + tmpName + "/" + format + "/" + tmpName);
     	  	var formObj = uploadFormDom;
     	  	var formURL = formObj.attr("action");
     	    var formData = new FormData(form);
     
            theModal.modal('show');
          
     	    $.ajax({
	   	        url: formURL,
	      	    type: 'POST',
	   	        data: formData,
	 	    	      mimeType:"multipart/form-data",
	     		      contentType: false,
	   	        cache: false,
	   	        processData:false,
	   	        success: function(data, textStatus, jqXHR){
	   	        	setTimeout(function(){
	                  theModal.modal('hide');
	                  document.location = '/bab/dataset/' + jsonData.workspaceId + '/' + folder + '/' + tmpName;          
	                }, 1000);
	     		},
	    		error: function(jqXHR, textStatus, errorThrown){
	    		 	window.setTimeout(function(){
	    		   	  theModal.modal('hide');
	    		   	  alert('Upload Failed');
	    		   	}, 2000);
	    		}          
     	    });
        	return false;
        }

      </script>
      <script th:src="@{/bab/vue-components/loader/LoaderComponent.js}"></script>
      <script th:src="@{/bab/vue-components/fileupload/FileUploadComponent.js}"></script>
      <script th:src="@{/bab/modules/home/home.js}"></script>
    </th:block>
  </body>
</html>
