<!DOCTYPE html>
<html layout:decorator="layout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <title th:text="#{heuristic.title}"></title>
    <link rel="stylesheet" th:href="@{/bab/vue-components/processmodel2/ProcessModelComponent.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/nouislider/distribute/nouislider.min.css}"/>
  </head>
  <body>
    <div id="app" layout:fragment="content">
      <div th:include="processmodel/control::template" th:remove="tag"></div>          
      <div class="ui grid">
        <div class="twelve wide column">
          <loader :isactive="pmData.waiting"></loader>
          <div class="ui segment processmodel-content">
            <!-- this will be process model -->
          </div>
        </div>
        <div class="four wide column">
          <div id="processmodel-info">
            <loader :isactive="summaryView.waiting"></loader>
            <div class="ui vertical accordion fluid menu">
						  <div class="item">
						    <a class="header active title">
						      <i class="dropdown icon"></i>
						      <i class="icon info circle"></i> <span th:text="#{common.info}"></span>
						    </a>
						    <div class="active content">
						      <table class="ui selectable very basic striped table" v-if="pmData.data">
			              <tbody>
			                <tr>
			                  <td th:text="'#'+#{common.cases}"></td>
			                  <td class="right aligned">{{pmData.data.numberOfCases | formatNumber}}</td>
			                </tr>
			                <tr>
			                  <td th:text="'#'+#{common.events}"></td>
			                  <td class="right aligned">{{pmData.data.numberOfEvents | formatNumber}}</td>
			                </tr>
			                <tr>
			                  <td th:text="'#'+#{common.activities}+'('+#{processmodel.nodes}+')'">#활동 (노드)</td>
			                  <td class="right aligned">{{pmData.data.numberOfNodes | formatNumber}}</td>
			                </tr>
			                <tr>
			                  <td th:text="'#'+#{processmodel.arcs}"></td>
			                  <td class="right aligned">{{pmData.data.numberOfArcs | formatNumber}}</td>
			                </tr>
			                <tr>
			                  <td th:text="#{common.start}"></td>
			                  <td class="right aligned">{{pmData.data.startTime | formatDateTime}}</td>
			                </tr>
			                <tr>
			                  <td th:text="#{common.complete}"></td>
			                  <td class="right aligned">{{pmData.data.endTime | formatDateTime}}</td>
			                </tr>
			              </tbody>
			            </table>
						    </div>
						  </div>
					  </div>			      
          </div>
          <div id="heuristic-setting" class="margin top small">
            <div class="ui vertical accordion fluid menu">
              <div class="item">
                <a class="header title">
                  <i class="dropdown icon"></i>
                  <i class="icon cloud download"></i> <span th:text="#{processmodel.export}"></span>
                </a>
                <div class="content">
			            <div class="ui form">
			              <!-- <button class="ui fluid button">BPMN으로 내보내기 </button>--> <!-- Export as BPMN -->
			              <!-- <br/> -->
			              <button class="ui fluid button" v-on:click="exportAsImage" th:text="#{processmodel.jpg}"> <!-- Export as JPG --></button>
			            </div>
                </div>
              </div>
            </div>            
            
            <div class="ui vertical accordion fluid menu">
              <div class="item">
                <a class="header active title">
                  <i class="dropdown icon"></i>
                  <i class="icon settings"></i> <span th:text="#{heuristic.miningoptions}"></span>
                </a>
	              <div class="active content">
	                <div class="ui form">
			              <div class="field">
			                <label th:text="#{heuristic.dependencythreshold}"></label>
			                <slider
			                  v-ref:sliderdependency=""
			                  slider-id="config-dependency"
			                  :slider-value.sync="pmData.config.threshold.dependency" 
			                  :slider-placeholder="0.9" 
			                  :slider-min="0" 
			                  :slider-max="1" 
			                  :slider-step="0.01"></slider>
			              </div>
			              <div class="field">
			                <label th:text="#{heuristic.positiveobservation}"></label>
			                <slider
			                  v-ref:sliderpositiveobservation=""
			                  slider-id="config-positiveObservation"
			                  :slider-value.sync="pmData.config.positiveObservation" 
			                  :slider-placeholder="10" 
			                  :slider-min="1" 
			                  :slider-max="1000" 
			                  :slider-step="1"></slider>
			              </div>
			              <div class="field">
			                <div class="ui toggle checkbox">
			                  <input type="checkbox" tabindex="0" class="hidden" v-model="pmData.config.option.allConnected" />
			                  <label th:text="#{heuristic.connected}"></label>
			                </div>
			              </div>
			              <button class="ui fluid button" type="submit" v-on:click="submitHeuristic" th:text="#{common.submit}"></button>
			            </div>
	              </div>
              </div>
            </div>
            
            <!-- <div class="ui vertical accordion fluid menu">
              <div class="item">
                <a class="header title">
                  <i class="dropdown icon"></i>
		              <i class="icon tag"></i> 링크 옵션 <span class="hidden">Link Options </span>
                </a>
                <div class="content">
                  <form class="ui form">
			              <div class="field">
			                <div class="ui toggle checkbox">
			                  <input type="checkbox" tabindex="0" class="hidden" />
			                  <label>Crucial pattern</label>
			                </div>
			              </div>
			              <div class="field">
			                <div class="ui toggle checkbox">
			                  <input type="checkbox" tabindex="0" class="hidden" />
			                  <label>Longest execution time</label>
			                </div>
			              </div>
			              <button class="ui fluid button" type="submit">제출 <span class="hidden">Submit</span></button>
			            </form>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>

    <th:block layout:fragment="script">
      <script th:inline="javascript" id="json-data">
        jsonData = /*[[${jsonData}]]*/ {} ;
        apiURI = /*[[${apiURI}]]*/ {} ;
        webURI = /*[[${webURI}]]*/ {} ;
      </script>
      <script th:inline="javascript">
      	processModel = /*[[${processModel}]]*/ {};
      	config = [[${config}]];
      </script>

      <!-- include template script from vue-template.html and handlebars-template.html -->
      <div th:include="processmodel/handlebars-template :: template" th:remove="tag"></div>

      <script th:src="@{/bower_components/d3/d3.min.js}"></script>
      <script th:src="@{/bower_components/handlebars/handlebars.min.js}"></script>
      <script th:src="@{/bower_components/handlebars-helpers/src/helpers.js}"></script>
      <script th:src="@{/bab/js/HandlebarsFilter.js}"></script>
			<script th:src="@{/bower_components/graphlib/dist/graphlib.core.min.js}"></script>
			<script th:src="@{/bower_components/dagre/dist/dagre.core.min.js}"></script>
			<script th:src="@{/bower_components/dagre-d3/dist/dagre-d3.core.min.js}"></script>			
      <script th:src="@{/bower_components/nouislider/distribute/nouislider.min.js}"></script>
      <script th:src="@{/bower_components/html2canvas/build/html2canvas.min.js}"></script>      
            
			<script th:src="@{/bab/vue-components/processmodel2/lib/Nodee.js}"></script>
			<script th:src="@{/bab/vue-components/processmodel2/lib/Nodees.js}"></script>
			<script th:src="@{/bab/vue-components/processmodel2/lib/Arc.js}"></script>
			<script th:src="@{/bab/vue-components/processmodel2/lib/Arcs.js}"></script>
			<script th:src="@{/bab/vue-components/processmodel2/lib/ProcessModel.js}"></script>
			
			<script th:src="@{/bab/vue-components/loader/LoaderComponent.js}"></script>
			<script th:src="@{/bab/vue-components/slider/SliderComponent.js}"></script>
			<script th:src="@{/bab/vue-components/processmodel2/ProcessModelComponent.js}"></script> 
			
      <script th:src="@{/bab/modules/processvisualizer/analysis-client.js}"></script>
    </th:block>
  </body>
</html>
