<!DOCTYPE html>
<html layout:decorator="layout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <title>Process Model</title>
    <link rel="stylesheet" th:href="@{/bab/vue-components/processmodel/ProcessModelInServerComponent.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/vis/dist/vis.min.css}"/>
  </head>
  <body>
    <div id="app" layout:fragment="content">
      <processmodel theid="heuristic" :pm-data="pmData" :lr-data="lrData" :api-uri="apiURI"></processmodel>
    </div>

    <th:block layout:fragment="script">
      <script th:inline="javascript" id="json-data">
        jsonData = /*[[${jsonData}]]*/ {} ;
        apiURI = /*[[${apiURI}]]*/ {} ;
        webURI = /*[[${webURI}]]*/ {} ;
      </script>
      <script th:inline="javascript">
      	processModel = /*[[${processModel}]]*/ {};
      	config = [[${config}]];
      </script>

      <!-- include template script from vue-template.html and handlebars-template.html -->
      <div th:include="processvisualizer/vue-template :: template" th:remove="tag"></div>
      <div th:include="processvisualizer/handlebars-template :: template" th:remove="tag"></div>

      <script th:src="@{/bower_components/d3/d3.min.js}"></script>
      <script th:src="@{/bower_components/handlebars/handlebars.min.js}"></script>
      <script th:src="@{/bower_components/handlebars-helpers/src/helpers.js}"></script>
      <script th:src="@{/bab/js/HandlebarsFilter.js}"></script>
			
			<script th:src="@{/bab/vue-components/processmodel/lib/Nodee.js}"></script>
			<script th:src="@{/bab/vue-components/processmodel/lib/Nodees.js}"></script>
			<script th:src="@{/bab/vue-components/processmodel/lib/Arc.js}"></script>
			<script th:src="@{/bab/vue-components/processmodel/lib/Arcs.js}"></script>
			<script th:src="@{/bab/vue-components/processmodel/lib/ProcessModelInServer.js}"></script>
			<script th:src="@{/bab/vue-components/loader/LoaderComponent.js}"></script>
			<script th:src="@{/bab/vue-components/processmodel/ProcessModelInServerComponent.js}"></script>

      <script th:src="@{/bab/modules/processvisualizer/analysis.js}"></script>
    </th:block>
  </body>
</html>
