<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
	<head>
		<meta charset="utf-8"/>
		<title th:text="#{wip.title}">Work-in-Process</title>
		<link rel="stylesheet" th:href="@{/bab/modules/reporting/wip/wip.css}"/>
	</head>
	<body> <!--  Start Grid -->
		<div id="app" layout:fragment="content" class="ui grid">
			<div class="sixteen wide column">
				<!-- start of segment -->
				<div class="ui top attached secondary segment">
	    			<h2 class="ui header" th:text="#{wip.title}">Work-in-Process</h2>
	    		</div>
	    		<div class="ui attached segment">  
	    			<div class="ui horizontal segments">
	    				<div class="ui blue segment">	    					
	    					<div class="ui form">
  								<div class="field">
    								<label>Main Classifier</label>
    								<select id="mainClassifier" class="ui dropdown">
    									<option value="">Main Classifier</option>
    									<option value="Originator">Originator</option>
    									<option value="Resource">Resource</option>
    								</select>
    							</div>
    							<div class="field">    			
    								<label>Sub Classifier</label>					
    								<select id="subClassifier" class="ui dropdown">
    									<option value="">Sub Classifier</option>
    									<option value="originator">Originator</option>
    									<option value="resource">Resource</option>
    								</select>
    							</div>
	    					</div>
	    				</div>
	    				<div class="ui orange segment">
	    					<div class="ui form">
	    						<div class="disabled field">
    								<label>Value Classifier</label>
    								<select class="ui dropdown">
    									<option value="">Value</option>
    									<option value="pp">Working Time</option>
    									<option value="ws">Weight</option>
    								</select>
    							</div>
    							<div class="disabled field">
    								<label>Capacity Classifier</label>
    								<select class="ui dropdown">
    									<option value="">Capacity</option>
    									<option value="pp">Machine Capacity</option>
    								</select>
    							</div>
	    					</div>
	    				</div>
	    				<div class="ui red segment">
	    					<div class="ui form">
	 							<div class="disabled field">
	   								<label>KPI</label>
	   								<select class="ui dropdown">
	   									<option value="">KPI</option>
	   									<option value="output">Output</option>
	   									<option value="throughput">Throughput</option>
	   									<option value="utilization">Utilization</option>
	   									<option value="availability">Availability</option>
	   								</select>
	   							</div>
	   							<div class="field">
	   								<label>Analysis</label>
	   								<select id="analysis" class="ui dropdown">
	   									<option value="">Analysis</option>
	   									<option value="mom">Month on Month</option>
	   									<option value="yoy">Year on Year</option>
	   								</select>
	   							</div>
	    					</div>
	    				</div>
	    				<div class="ui green segment">
 							<div class="ui form">   									
								<div class="field">
	   								<label>Result</label>
	   								<select id="resultDisplay" class="ui dropdown">
	   									<option value="">Result</option>
	   									<option value="table">Table</option>
	   									<option value="graph">Graph</option>	   									
	   								</select>
	   							</div>
	   							<div class="field">
	   								<button v-on:click="runResult" class="ui green button">
	   								<i class="play icon"></i>Run
	   								</button>
	   							</div>	   									
 							</div>
	    				</div>
	    			</div>  		
					<div id="graphAreaSegment" class="ui segment" style="display:none">
						<h3 id="titleGraph" class="ui dividing header">
								<i class="signal icon"></i>Graphic :
						</h3>
						<div id="graphArea"></div>
					</div>
					<div id="yoySegment" class="ui segment" style="display:none">						
						<!-- Table Data Section -->
						<h3 class="ui dividing header">
								<i class="calendar outline icon"></i>Year over Year
						</h3>
						<div id="yoytable">
							<table class="ui celled structured table">
								<thead>
									<tr>
										<th class="center aligned" style="background-color:#D9E9FF" rowspan="2"><div id="titleMainClassifierYear">Machine</div></th>
										<th class="center aligned" style="background-color:#D9E9FF" colspan="3">Year</th>
									</tr>
									<tr>
										<th class="center aligned" style="background-color:#D9E9FF">2017</th>
										<th class="center aligned" style="background-color:#D9E9FF">2016</th>
										<th class="center aligned" style="background-color:#D9E9FF">2015</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="center aligned">PPL</td>
										<td class="center aligned">1000</td>
										<td class="center aligned">1200</td>
										<td class="center aligned">1500</td>
									</tr>
									<tr>
										<td class="center aligned">WSL</td>
										<td class="center aligned">800</td>
										<td class="center aligned">1000</td>
										<td class="center aligned">1100</td>
									</tr>
									<tr>
										<td class="center aligned">CRM</td>
										<td class="center aligned">700</td>
										<td class="center aligned">900</td>
										<td class="center aligned">1000</td>
									</tr>
									<tr>
										<td class="center aligned">ANN</td>
										<td class="center aligned">600</td>
										<td class="center aligned">750</td>
										<td class="center aligned">875</td>
									</tr>
									<tr>
										<td class="center aligned">SPM</td>
										<td class="center aligned">950</td>
										<td class="center aligned">1000</td>
										<td class="center aligned">800</td>
									</tr>
									<tr>
										<td class="center aligned">SSL</td>
										<td class="center aligned">775</td>
										<td class="center aligned">700</td>
										<td class="center aligned">600</td>
									</tr>
									<tr>
										<td class="center aligned">PKG</td>
										<td class="center aligned">975</td>
										<td class="center aligned">825</td>
										<td class="center aligned">775</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div id="momSegment" class="ui segment" style="display:none">						
						<!-- Table Data Section -->
						<h3 class="ui dividing header">
								<i class="calendar icon"></i>Month over Month
						</h3>
						<div id="momtable">
							<table class="ui celled structured table">
								<thead>
									<tr class="active">
										<th class="center aligned" style="background-color:#D9E9FF" rowspan="2"><div id="titleMainClassifierMonth">Machine</div></th>
										<th class="center aligned" style="background-color:#D9E9FF" colspan="3">2017</th>
										<th class="center aligned" style="background-color:#D9E9FF" colspan="3">2016</th>
									</tr>
									<tr class="active">
										<th class="center aligned" style="background-color:#D9E9FF">January</th>
										<th class="center aligned" style="background-color:#D9E9FF">February</th>
										<th class="center aligned" style="background-color:#D9E9FF">March</th>
										<th class="center aligned" style="background-color:#D9E9FF">January</th>
										<th class="center aligned" style="background-color:#D9E9FF">February</th>
										<th class="center aligned" style="background-color:#D9E9FF">March</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="center aligned">PPL</td>
										<td class="center aligned">200</td>
										<td class="center aligned">150</td>
										<td class="center aligned">145</td>
										<td class="center aligned">185</td>
										<td class="center aligned">175</td>
										<td class="center aligned">165</td>
									</tr>
									<tr>
										<td class="center aligned">WSL</td>
										<td class="center aligned">190</td>
										<td class="center aligned">160</td>
										<td class="center aligned">155</td>
										<td class="center aligned">195</td>
										<td class="center aligned">188</td>
										<td class="center aligned">178</td>
									</tr>
									<tr>
										<td class="center aligned">CRM</td>
										<td class="center aligned">195</td>
										<td class="center aligned">190</td>
										<td class="center aligned">185</td>
										<td class="center aligned">200</td>
										<td class="center aligned">195</td>
										<td class="center aligned">180</td>
									</tr>
									<tr>
										<td class="center aligned">ANN</td>
										<td class="center aligned">170</td>
										<td class="center aligned">180</td>
										<td class="center aligned">185</td>
										<td class="center aligned">140</td>
										<td class="center aligned">145</td>
										<td class="center aligned">155</td>
									</tr>
									<tr>
										<td class="center aligned">SPM</td>
										<td class="center aligned">198</td>
										<td class="center aligned">165</td>
										<td class="center aligned">140</td>
										<td class="center aligned">180</td>
										<td class="center aligned">160</td>
										<td class="center aligned">170</td>
									</tr>
									<tr>
										<td class="center aligned">SSL</td>
										<td class="center aligned">190</td>
										<td class="center aligned">185</td>
										<td class="center aligned">175</td>
										<td class="center aligned">200</td>
										<td class="center aligned">195</td>
										<td class="center aligned">190</td>
									</tr>
									<tr>
										<td class="center aligned">PKG</td>
										<td class="center aligned">200</td>
										<td class="center aligned">195</td>
										<td class="center aligned">190</td>
										<td class="center aligned">195</td>
										<td class="center aligned">180</td>
										<td class="center aligned">175</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<th:block layout:fragment="script">
			<script th:inline="javascript" id="json-data">
		        // tutorial : http://forum.thymeleaf.org/Using-Thymeleaf-in-order-to-generate-inline-json-in-the-html-view-td4025733.html
		        jsonData = /*[[${jsonData}]]*/ {} ;
		    </script>
			<script th:src="@{/bower_components/d3/d3.js}"></script>
      		<script th:src="@{/bab/vue-components/loader/LoaderComponent.js}"></script>
			<script th:src="@{/bab/modules/reporting/wip/wip.js}"></script>
		</th:block>
	</body>
</html>