@import "../../scss/modules/all";

.slide-panel{
    .slide-icon{
        font-size: 20px;
    }
    
    .slide-content{
        display: none;   
    }    
    &.visible{
        .slide-content{
            display: block;

            fieldset{
                padding:0;
            }
        }
    }
}

@mixin slide-icon-state($isVisible) {
    @if $isVisible == true {
        .slide-icon-active{
            display: block;
        }
        .slide-icon-inactive{
            display: none;
        }
    } 
    @else {
        .slide-icon-active{
            display: none;
        }
        .slide-icon-inactive{
            display: block;
        }
    }
}

/* aash1010 */
.slide-side {
    //width:300px;
    //min-height:300px;
    //border: 1px solid #eaeaea;
    //margin-right:-280px;
    //float: right;
    //max-width: 300px;

    border: 1px solid #eaeaea;
    float: right;
    margin-right: -280px;
    max-width: 300px;
    position: fixed;
    right: 30px;
    top: 150px;
    width: 300px;
    padding-bottom: 20px;

    .panel-body{
        max-height: 500px;
        overflow-y: scroll;
        
        .slide-side-subpanel{
            border-bottom: 1px solid #eaeaea; 
            padding-bottom: 10px;  
            display: inline-block;
            width: 100%;
            background: inherit;
        }
    }


    @include slide-icon-state(false);

    &.visible{
        @include slide-icon-state(true);        
    }
}

.slide-bottom{
    height: 400px;
    border: 1px solid #eaeaea;
    position: fixed;
    bottom: 0;
    width: 72%;
    margin: 0 0 -350px 30px;

    @include slide-icon-state(false);

    &.visible{
        @include slide-icon-state(true);        
    }

    .panel-heading{
        .nav{
            display: inline-block;

            li{
                border-right: 1px solid $text-color7;
                a{
                    span{
                        display: none;
                    }              
                }
                a:hover{
                    background: none;  
                }
            }

            li.active{
                a{
                    background: none;
                    span{
                        display: inline;
                         margin-left: 10px;
                    }
                }
            }
        }
    }

    .panel-body{
        .tab-content{
            height: 320px;
            overflow-x: hidden;
            overflow-y: scroll;
            list-style: none outside none;
        }
    }
}


